.image-view {
    width: 100%;
    max-width: 50px;
    &__img {
        background-color: #eee;
        border-radius: 3px;
        cursor: pointer;

        &--full {
            width: 100%;
            max-width: fit-content;
        }

        &--preview,
        &--placeholder {
            width: 50px;
            height: 50px;
        }
        &--placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #888;
            border: 1px solid #ccc;
        }
    }
}
