@import "../../../variables.scss";

.authorization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  // background-color: $secondary-background-color;
  // background-color: #00d4d4;
  background-color: #a0d4d4;
  height: calc(100vh - 25px);

  &__title {
    // margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10px;
    font-size: 150%;
    color: $secondary-text-color;
  }
  .authorization__img {
    width: 50px;
    margin-right: 5px;
    filter: brightness(4);
  }

  .authorization__img--mirrored {
    transform: scaleX(-1);
  }

  &__panel {
    min-width: 250px;
    max-width: 500px;
    // border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-background-color;

    .authorization__field_name {
      align-self: flex-start;
      font-size: 80%;
      // margin-bottom: 5px;
      padding-left: 10px;
    }

    .authorization__field_input {
      width: 100%;
      margin: 5px 0;

      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 10px 10px;
        border-radius: 5px;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }
    }

    .authorization__link {
      font-size: 85%;
      width: 65%;
      text-align: center;

      a {
        margin: 2px;
        font-size: 110%;
        text-decoration: underline;
      }
    }

    .authorization__submit {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: 10px 0;
      width: 100%;
      align-items: center;
      color: $secondary-text-color;
      background-color: $button__background--inverted;
      // margin: 0;
      // padding: 0;
      border: 0;
      padding: 15px 10px;
      border-radius: 5px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      }
    }
    .authorization__submit .authorization__img {
      width: 25px;
      margin-left: 5px;
    }
  }
}
