@import "../../../../../variables.scss";

.work-management-page {
  .main-window__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
    // flex-wrap: wrap;
    .main-window__button {
      font-size: 60%;
    }

    .main-window__img {
      margin-right: 5px;
      // filter: brightness(5);
      filter: invert(1);
    }
  }
  .main-window__header {
    flex-direction: column;
    .main-window__menu {
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      border-radius: 2.5px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.1);
    }
  }
  .searchbar {
    // background-color: $secondary-text-color;
    width: calc(100% - 25px);
    text-align: left;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    // padding-top: 0px;
  }
  .work-management-page__mobile-text {
    display: none;
  }

  .main-window__list {
    &--one-column {
      // max-width: 520px;
      // margin: 0 auto;
    }
    .main-window__list-item {
      cursor: pointer;
      span {
        &:nth-child(1) {
          flex: 0 1 30%;
        }
        &:nth-child(2) {
          flex: 0 1 50%;
        }
        &:nth-child(3) {
          max-width: 50px;
        }
        &:nth-child(5) {
          max-width: 100px;
        }
      }
    }
  }
  .main-window__info-panel {
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    .work-management-page__date-pick {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 80%;
      width: fit-content;

      > div:first-child {
        display: flex;
        flex-direction: row;
      }

      .main-window__button {
        // align-items: ;
        // padding: 15px 15px !important;
        padding: 7.5px 5px;

        img {
          filter: brightness(3);
        }
      }
    }

    .work-management-page__workshop-pick {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90%;
      flex-wrap: wrap;

      .main-window__button {
        font-size: 75%;
        padding: 5px 10px;
        margin-top: 5px;
      }
      .main-window__button--inverted {
        color: #666666;
      }

      .main-window__amount_table {
        margin-top: 5px;
      }

      .main-window__button:last-child {
        margin: 0;
        margin-left: 15px;
        margin-top: 5px;
        // max-width: 70px;
        // text-align: center;
      }
    }
  }
  .main-window__sort-panel {
    display: flex;
    width: calc(100% - 50px);
    margin-bottom: 5px;
    font-size: 80%;
    color: #666666;
    align-items: center;
    & span {
      margin-right: 5px;
    }
    & select {
      outline: none;
      border-radius: 5px;
      min-width: 100px;
      padding: 2.5px 5px;
    }
  }
  .input_date {
    margin-bottom: 0;
    margin-right: 10px;
    & .input_date__input_field input[type="text"] {
      // width: fit-content;
    }

    .input_date__input_field {
      // max-width: 125px;
    }

    .input_date__input_name {
      // width: 100px;
      // flex: 0 1 80px !important;
    }
  }

  .main-window__line {
    content: "";
    width: 2px;
    background-color: $button__background--inverted;
    // height: calc(100% - 30px);
    height: calc(100% - 25px);
    // height: 15px;
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 999px;
  }

  .main-window__list-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    // box-shadow: none !important;
    // border: 1px solid black;
    position: relative;
    padding-bottom: 10px !important;
    font-size: 80% !important;

    &--hidden {
      padding-bottom: 0px !important;
    }

    .main-window__reminder {
      // margin: 0 auto;
      // max-width: fit-content;
      justify-content: center;
      padding: 1px 10px;
      div {
        // width: 100%;
        &:nth-child(1) {
          font-size: 14px;
          margin-right: 5px;
        }
        &:nth-child(2) {
          width: fit-content;
        }
      }
    }

    &::after {
      content: "";
      width: 10px;
      // background-color: $button__background--inverted;
      background-color: #dddddd;
      // background-color: red;
      height: 22px;
      font-size: 90%;
      position: absolute;
      // top: 16px;
      // left: -19.5px;
      // border-radius: 999px;
      //line
      // top: 22px;
      bottom: 2px;
      left: 5px;
    }

    &:hover {
      .main-window__action {
        .main-window__img {
          filter: brightness(1) !important;
        }
      }
    }

    > span:not(:first-of-type) {
      margin-top: 10px;
    }
    > span:last-of-type {
      // background-color: red;
      padding-bottom: 5px;
    }

    > .main-window__list-item:last-of-type {
      margin-bottom: 0px;
    }
    > span {
      color: #222222;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 95% !important;

      div:first-child {
        text-decoration: underline;
      }

      .main-window__action {
        margin-left: 5px;
        padding: 0px 2px !important;
        width: fit-content;
      }

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid $button__background--inverted;
        border-color: transparent transparent transparent $button__background--inverted;
        position: absolute;
        // top: 0px;
        left: -85px;
        border-radius: 999px;
        // transform: rotate(-45deg);
        //line
        background-color: $button__background--inverted;
        border: 0;
        border-radius: 0;
        width: 10px;
        height: 2px;
        top: 10px;
      }
      &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        content: attr(data-hours);
        width: 25px;
        padding: 0 10px;
        width: fit-content;
        border: 2px solid $button__background--inverted;
        background-color: $button__background--inverted;
        color: $secondary-text-color;
        // border-color: $button__background--inverted;
        height: 25px;
        font-size: 90%;
        position: absolute;
        top: -3.5px;
        left: -75px;
        border-radius: 999px;
      }
    }

    span,
    .main-window__list-item {
      // width: 90%;
      width: calc(100% - 160px);
      margin-left: 20px;

      span {
        margin-left: 0;
      }
    }

    .main-window__list-item:not(.main-window__list-item--header) {
      position: relative;
      font-size: 80%;
      &:hover {
        span {
          color: $secondary-text-color;
        }
      }
      &::before {
        content: "";
        width: 35px;
        // background-color: $button__background--inverted;
        height: 20px;
        border: 2px solid $button__background--inverted;
        border-color: transparent transparent transparent $button__background--inverted;
        position: absolute;
        top: 0px;
        left: -50px;
        border-radius: 999px;
        // transform: rotate(-45deg);
        //line
        background-color: $button__background--inverted;
        border: 0;
        border-radius: 0;
        width: 50px;
        height: 2px;
        top: 15px;
      }
      //cover excess line if rounded corners
      &:last-child {
        &::after {
          content: "";
          width: 10px;
          // background-color: $button__background--inverted;
          background-color: #dddddd;
          // background-color: red;
          height: 20.5px;
          font-size: 90%;
          position: absolute;
          // top: 16px;
          // left: -19.5px;
          // border-radius: 999px;
          //line
          top: 17px;
          left: -55px;
        }
      }
    }

    .main-window__list-item {
      width: 50%;
      // margin-left: 12px;
      margin-left: 50px;
      min-width: 250px;
      max-width: 500px;
      margin-right: auto;
      padding: 8px 5px !important;
      // background-color: transparent !important;

      span {
        color: $primary-text-color;
        transition: 200ms ease-in-out;

        &:nth-child(1) {
          flex: 0 1 100%;
        }
        &:nth-child(2) {
          max-width: 100px;
        }
      }
    }

    > span {
      font-size: 16px;
    }
  }

  .input_date__input_name {
    margin-right: 5px;
  }
  .react-datepicker-wrapper {
    width: 100%;

    .react-datepicker {
      width: 100%;
      .react-datepicker__day--selected {
        background-color: $button__background--inverted !important;
      }
    }
  }

  .main-window__actions {
    flex-direction: row !important;
  }
  @media (max-width: 1024px) {
    .floating-plus {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .main-window {
      padding-top: 0;
    }
    .main-window__header {
      margin-bottom: 10px;
    }
    .main-window__menu {
      width: calc(100% - 10px) !important;
    }
    .main-window__list-item {
      span {
        // width: 100%;
        max-width: 100% !important;
      }
    }
    .main-window__info-panel {
      width: calc(100% - 30px);
      flex-direction: column !important;
    }
    .searchbar {
      width: calc(100% - 10px);
    }
    .work-management-page__date-pick {
      margin-bottom: 5px;
      width: 100% !important;
      // flex-direction: column;
      // align-items: center;
      flex-direction: row;
      justify-content: flex-start !important;
      // align-items: flex-start !important;
      > div:first-child {
        flex-direction: column !important;
      }
      .work-management-page__date {
        // width: 100%;
        // align-self: flex-start;
      }

      & .input_date {
        width: 100%;
      }

      & .input_date,
      & .input_date__input {
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2.5px;
        width: calc(100% - 0px);
        .input_date__input_name {
          max-width: 50px;
          width: 50px;
          flex: 0 1 50px;
        }
      }
      .input_date__input_field {
        width: calc(100% - 60px) !important;
        max-width: 120px;
        height: fit-content !important;
      }
      > .main-window__button {
        // margin: 0 auto;
        margin-left: 5px;
        margin-top: 0px;
        padding: 10px 10px !important;
        // align-self: flex-end;

        .button__img {
          margin-right: 0;
        }

        .button__text {
          display: none;
        }
      }
    }
    .work-management-page__workshop-pick {
      margin-top: 10px;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-start !important;

      .main-window__button {
        margin-right: 2.5px;
        margin-bottom: 2.5px;
        margin-top: 0 !important;
      }

      .main-window__amount_table {
        margin-left: 10px;
        margin-top: 0 !important;
      }
    }

    .main-window__list-options {
      font-size: 100% !important;
      .main-window__list-item {
        margin-left: 0px;
        width: calc(90% - 10px);
        margin-right: 0;
        margin-left: 0;
        &::before {
          display: none;
        }
      }

      .main-window__line {
        display: none;
      }

      span {
        margin-left: 0;
        width: 100%;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
        div:nth-child(1) {
          text-align: left;
          margin-right: 10px;
        }
        > div:nth-child(2) {
          padding: 0 7.5px;
          border: 2px solid $button__background--inverted;
          background-color: $button__background--inverted;
          color: $secondary-text-color;
          border-radius: 999px;
          font-size: 90%;
          white-space: nowrap;
        }
        .main-window__mobile-text:last-child {
          min-width: 50px;
          // text-align: right;
        }
        .main-window__action:last-child {
          margin-right: auto;
          // align-self: flex-start;
        }
      }
    }
  }
}
