@import "../../../../variables.scss";

.rigging {
  .main-window {
    padding: 10px 0;
  }

  .main-window__header {
    &--hidden {
      transform: scaleY(0);
      height: 0;
      margin-bottom: 0;
    }
  }

  .searchbar {
    margin-bottom: 10px;
  }

  .main-window__content {
    width: calc(100% - 25px);
    // background-color: $primary-background-color;
    // border-top-left-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // margin-bottom: 20px;
    padding: 5px 0;
    z-index: 5;
    transition: 0.2s ease-in-out;
    padding-top: 0;
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

    .main-window {
      padding-top: 0;
    }

    .main-form {
      .main-form__title {
        margin-bottom: 20px;
      }
      .main-form__form {
        // box-shadow: none;
        width: calc(100% - 40px);
        // padding: 0;
        // padding: 5px 0;
      }
    }
  }

  @media (max-width: 768px) {
    .main-window__content {
      width: calc(100% - 10px);
    }
  }
}
