@import "../../../../variables.scss";

.view_request_lemz {
  width: 100%;
  padding: 0;
  // padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    // margin-bottom: 20px;
    font-size: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-radius: 10px;
    background-color: $primary-background-color;
    // width: calc(100% - 80px);
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    // padding: 10px 25px;
    width: calc(100% - 40px);
    padding: 0;

    .view_request_lemz__item {
      width: calc(100% - 20px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      &:first-child {
        margin-top: 15px;
      }
      .view_request_lemz__input_name {
        color: lighten($primary-text-color, 40%);
        margin-bottom: 5px;
        flex: 0 1 20%;
      }

      .view_request_lemz__input_field {
        display: flex;
        justify-content: center;
        width: calc(90% - 20px);

        .react-datepicker-wrapper {
          width: 100%;
        }
      }
      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbbbbb;
        width: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 10px;

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }
      select {
        border: 1px solid #bbbbbb;
        width: 100%;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
      }

      .select {
        width: calc(90% - 20px);
      }
    }
    .view_request_lemz__buttons {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      .view_request_lemz__submit {
        border: 0;
        cursor: pointer;
        padding: 15px 25px;
        border-radius: 5px;
        background-color: $button__background--inverted;
        color: $secondary-text-color;
        transition: 0.2s ease-in-out;
        margin-right: 10px;

        &:hover {
          background-color: lighten($button__background--inverted, 5%);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        }
      }
      .view_request_lemz__submit--inverted {
        background-color: $secondary-text-color;
        color: $primary-text-color;
        border: 1px solid $button__background--inverted;

        &:hover {
          color: $secondary-text-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .view_request_lemz__form {
      .view_request_lemz__buttons {
        flex-direction: column;
        .view_request_lemz__submit {
          margin-bottom: 10px;
        }
      }
    }
    .view_request_lemz__item {
      flex-wrap: wrap;

      .view_request_lemz__input_field {
        width: 100%;
      }
    }
  }
}
