@import "../../../../../variables.scss";

.tableview-work {
  display: flex;
  flex-direction: column;
  width: calc(100% + 30px);
  margin-left: -15px;

  .main-window__list-item {
    cursor: pointer;
    span {
      &:nth-child(1) {
        flex: 0 1 50%;
      }
      &:nth-child(2) {
        flex: 0 1 25%;
      }
    }
    .main-window__actions {
      flex: 0 1 10%;
    }
  }

  @media (max-width: 768px) {
    .main-window__actions {
      display: none;
    }
  }
}
