.select-pricefile {
    width: calc(100% - 20px);
    margin-bottom: 20px;

    .form-window {
        &__body {
            padding: 0;

            .main-window {
                &__list {
                    &-item {
                        cursor: pointer;

                        &:not(.main-window__list-item--header) {
                            min-height: 40px;
                        }
                    }
                }

                .control-panel {
                    width: 100%;
                    margin-top: 0px;

                    .main-window__button {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .main-form__input_field {
        p {
            display: flex;
            border: 1px solid #ddd;
            padding: 10px 15px;
            border-radius: 3px;
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            max-width: fit-content;
            color: #555;
            font-size: 0.9rem;
            margin-right: auto;

            div {
                margin-right: 20px;
            }

            .main-window__link {
                margin-left: auto;
            }

            span {
                margin-left: 20px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        > span {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            color: #666666;
            font-size: 0.9rem;
        }
    }
}
