@import "../../../../../variables.scss";

.record-action {
  .main-form__buttons:first-child {
    // margin-bottom: 25px;
  }
  .main-form__buttons:last-child {
    margin-top: 20px;
  }
  .main-form__form {
    padding-top: 10px;
  }
  .main-form__form:first-of-type {
    // padding: 0;
  }
  .main-form {
    padding: 0;
  }
  .outgoing-call,
  .incoming-call,
  .mail-form,
  .miscellaneous-form {
    width: 100%;
    .main-form__form {
      box-shadow: none;
    }
  }
}
