@import "../../../variables.scss";

.requests {
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
  }

  &__table {
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    border-collapse: collapse;

    .requests__action {
      cursor: pointer;
      text-decoration: underline;
    }

    

    tr {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
    }

    td {
      padding: 5px;
      text-align: center;
      border-right: 1px solid #ddd;

      table {
        width: 100%;
      }
    }

    thead {
      font-size: 80%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      background-color: #c4c4c4;
    }
  }

  .requests__table--even {
    background-color: #c4c4c4;
  }

  .requests__table--odd {
    background-color: #f8f8f8;
  }

  @media screen and (max-width: 1220px) {
    &__table {
      border: 0;
    }

    &__table caption {
      font-size: 1.3em;
    }

    &__table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &__table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    &__table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    &__table td::before {
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__table td::before {
      content: attr(data-label);
    }

    &__table .requests__actions {
      display: flex;
      justify-content: center;
      border-bottom: 0;

      .requests__action {
        padding: 5px 10px;
      }

      &::before {
        content: "";
      }
    }
  }
}
