@import "../../../variables.scss";

.requests {
  --shipped: #b8c493;
  --priority: #e08989;
  --completed: #68d87e;
  --ready: #77c78a;
  --in-production: #c99cb8;
  --waiting: #76d1b3;
  --problem: #d6574e;
  --materials: #d4ae63;

  .main-window__status-panel {
    margin-bottom: 0px;
    padding-left: 25px;

    .main-window__list-item--shipped::before {
      background-color: var(--shipped);
    }
    .main-window__list-item--in-production::before {
      background-color: var(--in-production);
    }
    .main-window__list-item--completed::before {
      background-color: var(--completed);
    }
    .main-window__list-item--priority::before {
      background-color: var(--priority);
    }
    .main-window__list-item--waiting::before {
      background-color: var(--waiting);
    }
    .main-window__list-item--ready::before {
      background-color: var(--ready);
    }
    .main-window__list-item--problem::before {
      background-color: var(--problem);
    }
    .main-window__list-item--materials::before {
      background-color: var(--materials);
    }

    .main-window__amount_table {
      margin: 0;
      margin-left: auto;
      font-size: 100%;
      margin-top: 5px;
    }
  }

  .main-window {
    padding-top: 0;
    &__list {
      width: calc(100% - 30px) !important;
    }
  }
  .main-window__header {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    align-items: center;
    // width: calc(100% - 25px) !important;
    border-top-left-radius: 10px;
    text-align: center;
    z-index: 1;
    // margin: 0 !important;
    margin-bottom: 0;

    // margin-top: 10px;
    padding-top: 20px;
    margin-left: -25px;
    width: calc(100% + 25px);
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;

    .main-window__title {
      // flex: 0 1 20%;
      width: calc(100% - 70px);
      // font-size: 90%;
      font-size: 24px;
      padding: 10px 10px;
      margin: 0;
      padding-top: 0;
      text-align: left;
      margin-left: 50px;
    }

    .main-window__menu {
      width: calc(100% - 30px);
      // width: 100%;
      // margin-bottom: 10px;
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      border-radius: 2.5px;
      background-color: #ffffff;
      margin-left: 30px;
      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.1);

      .main-window__item {
        margin-right: 2.5px;
        font-size: 80%;
        padding: 10px 50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.2s ease-in-out;
        &:first-child {
          // margin-left: auto;
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .searchbar {
    // width: calc(100% - 25px);
    // text-align: left;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    padding-top: 15px;
    // background-color: $secondary-text-color;
  }

  .form-window {
    .form-window__content {
      max-width: 600px;
      max-height: 250px;
    }
  }

  .requests__clients-sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
    font-size: 80%;
    align-items: center;
    flex-wrap: wrap;

    .main-window__button {
      padding: 5px 10px;
      margin-top: 5px;
      white-space: nowrap;
    }
    .main-window__button--inverted {
      color: #555555;
    }
  }

  @media (max-width: 768px) {
    .main-window__header {
      flex-direction: column !important;
      // width: calc(100% - 10px);
      flex-wrap: nowrap !important;
      .main-window__title {
        font-size: 125%;
      }
      .main-window__menu {
        // width: calc(100% - 10px);

        .main-window__item {
          width: 100% !important;
          padding: 10px 25px;
        }
      }
    }
    .main-window__info-panel {
      flex-direction: column;

      .main-window__amount_table {
        margin-top: 5px;
      }
    }

    .searchbar {
      // border-top-left-radius: 0px;
      width: calc(100% - 10px);
    }
  }
  @media (max-width: 425px) {
    &__reminder {
      padding: 0;

      div:first-child {
        font-size: 22px;
      }
    }
    .main-window__header {
      .main-window__menu {
        font-size: 85%;
      }

      .main-window__title {
        margin-left: 20px;
      }
    }
  }
}
