HELP.md
!**/src/main/**
!**/src/test/**
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
/node_modules
/src/main/resources/static/built/*
/src/static/built/*

!/src/static/built/firebase-messaging-sw.js
!/src/static/built/assets/
/src/static/built/assets/*
!/src/static/built/assets/app_icon__128.png
!/src/static/built/assets/app_icon__144.png
!/src/static/built/assets/manifest.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
*.class
*.jar
target
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore test-related files
/coverage.data
/coverage/