.select-ltd {
    width: 100%;
    margin-bottom: 20px;

    .form-window {
        &__body {
            padding: 0;

            .main-window {
                &__list {
                    &-item {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main-form__input_field {
        > p {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin: 5px 0;
            border-left: 1px solid #bbb;
            padding: 0 10px;
            width: 100%;
            max-width: 300px;
            font-size: 1rem;
            color: #444;

            span {
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
                &:nth-child(2) {
                    font-size: 0.9rem;
                    color: #888;
                }
            }
        }
        > span {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            color: #666;
            font-size: 0.9rem;
        }
    }
}
