@import "../../../../variables.scss";

.form-item {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0px 15px;
    margin-top: 5px;
    width: calc(100% - 30px);
    position: relative;
    transition: 100ms ease-in-out;

    &--minimized {
        width: calc(100% - 50px);
    }

    .form-item__img {
        position: absolute;
        right: -35px;
        cursor: pointer;
        top: 25%;
    }

    .form-item__header {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 0px;

        .form-item__name {
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            flex: 0 1 33.333%;
            min-width: 0;
            &:nth-last-child(2) {
                margin-right: 0;
            }
            span {
                &:first-child {
                    font-size: 0.8rem;
                    color: #777777;
                }

                &:nth-child(2) {
                    font-size: 1rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            &--placeholder {
                color: #999999;
                white-space: nowrap;
                font-size: 0.9rem !important;
            }
        }

        .main-form__img {
            flex: 0 1 20px;
            transform-origin: 50% 50%;
            margin-left: auto;
        }
    }

    .button {
        font-size: 0.8rem;
    }

    .form-item__form {
        width: calc(100%);
        // overflow: hidden;
        padding-bottom: 10px;

        &--hidden {
            padding: 0;
        }

        .button {
            margin-top: 10px;
        }

        .form-item__item {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-top: 10px;
            box-sizing: border-box;

            .form-item__input_name {
                color: #888888;
                flex: 0 1 20%;
                font-size: 80%;
                position: absolute;
                top: 4px;
                left: 5px;
                padding: 0 5px;
                border-radius: 3px;
                font-size: 0.85rem;
                pointer-events: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .form-item__input_field {
                width: 100%;
                input,
                select,
                textarea {
                    border: 1px solid #cccccc;
                    width: 100%;
                    padding: 5px 10px;
                    padding-top: 22px;
                    padding-bottom: 7px;
                    border-radius: 3px;
                    font-size: 0.9rem;
                    transition: 100ms ease-in-out;
                    box-sizing: border-box;
                    line-height: 2rem;
                    height: 3rem;
                    min-width: 0;
                    max-width: 100%;

                    &:hover {
                        border: 1px solid #bbbbbb;
                    }

                    &:focus {
                        border: 1px solid $button__background--inverted;
                    }

                    &:not(select):read-only {
                        opacity: 1;
                        background-color: #f7f7f7;
                    }

                    &:disabled {
                        opacity: 1;
                        background-color: #f4f4f4;
                    }
                }

                select {
                    padding-left: 5px;
                }

                textarea {
                    resize: vertical;
                    min-height: 4rem;
                    max-height: 5rem;
                    line-height: unset;
                    // overflow: hidden;
                }

                .input_date {
                    width: 100%;
                    margin-bottom: 0;
                    &__input_name {
                        font-size: 0.9rem;
                        padding-left: 5px;
                    }
                    input {
                        padding: 5px 10px;
                        line-height: normal;
                        height: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__header {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .form-item__name {
                width: 100%;
                max-width: none !important;
                flex: 0 1 100% !important;
                margin-right: 0 !important;
            }

            .main-form__img {
                margin-left: 0 !important;
                flex: none !important;
            }
        }
    }
}
