@import "../../../../../../variables.scss";

.work-management-page__table-view {
    display: flex;

    &--one-col {
        flex-direction: column;
    }

    &--two-col {
        flex-direction: row;
        flex-wrap: wrap;

        .work-management-page__row {
            // width: calc(33.3% - 30px);
            width: calc(50% - 30px);
            max-width: 500px;
        }
    }

    &--placeholder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .work-management-page__row {
            // width: calc(33.3% - 30px);
            min-width: calc(50% - 50px);
            max-width: 500px;
        }
    }

    .work-management-page__table-date {
        margin-right: 100%;
        margin-bottom: 5px;
        padding: 0 5px;
        color: #333333;
        border-bottom: 1.5px solid #aaaaaa;
        font-size: 90%;
        width: fit-content;
        white-space: nowrap;
        margin-top: 15px;
        margin-bottom: 5px;

        &:first-child {
            margin-top: 5px;
        }
    }

    .work-management-page__table-employees-count {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // align-items: flex-end;
        justify-content: flex-start;
        // justify-content: flex-end;
        // margin-top: -5px;
        margin-top: -2px;
        margin-left: 5px;
        font-size: 80%;

        span {
            &:nth-child(1) {
                // font-size: 90%;
                color: #777777;
            }
            &:nth-child(2) {
                // margin-left: 3px;
                // font-size: 90%;
                color: #444444;
            }
        }
    }

    .work-management-page__row {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 2.5px 10px;
        border: 1px solid #999999;
        background-color: $secondary-text-color;
        transition: 200ms ease-in-out;
        cursor: pointer;
        margin-right: 7.5px;
        margin-bottom: 7.5px;
        max-width: 600px;
        height: fit-content;
        min-width: 300px;
        // width: calc(30%);

        &:hover {
            background-color: darken($color: #ffffff, $amount: 5%);
        }

        &--hidden {
            .work-management-page__item:not(.work-management-page__item--header) {
                transform: scaleY(0);
                max-height: 0;
                padding: 0;
                overflow-y: hidden;
            }

            .work-management-page__item {
            }
        }

        .work-management-page__item {
            display: flex;
            flex-direction: column;
            padding: 2.5px 0;
            // padding-left: 15px;
            padding-left: 0px;
            justify-content: center;
            transition: 200ms ease-in-out;
            transform-origin: 50% 0;
            max-height: 200px;
            overflow-y: auto;
            // height: fit-content;

            &--header {
                font-size: 90%;
                padding-left: 0;
                flex-direction: row;
                justify-content: flex-start;
                // justify-content: space-between;
                align-items: center;
                // flex-wrap: wrap;

                .header {
                    &__wrapper {
                        display: flex;
                        flex-direction: column;
                        // width: calc(100% - 100px);
                        width: fit-content;
                        margin-left: 5px;
                    }
                    &--position {
                        margin-right: 5px;
                        color: #333333;
                        font-size: 85%;
                        width: 100%;
                    }

                    &--name {
                        // margin-right: 5px;
                        margin-right: auto;
                        white-space: nowrap;
                        // min-width: 300px;
                        font-size: 95%;
                        width: fit-content;
                        // width: calc(100% - 100px);
                    }
                    &--top-work {
                        display: flex;
                        align-items: center;
                        border-left: 1px solid #dddddd;
                        padding-left: 20px;
                        margin-left: 20px;
                        flex-wrap: nowrap;
                        font-size: 0.85rem;

                        .header--hours {
                            margin-left: 10px;
                            padding: 3px 7.5px;
                            background-color: transparent;
                            color: #000000;
                            border-width: 1px;
                            font-size: 0.75rem;
                            border-radius: 3px;
                            border-color: #cccccc;
                        }
                    }
                    &--hours {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        max-width: 100px;
                        padding: 3px 7.5px;
                        width: fit-content;
                        border: 1px solid $button__background--inverted;
                        // background-color: $button__background--inverted;
                        // color: $secondary-text-color;
                        font-size: 80%;
                        border-radius: 3px;
                        white-space: nowrap;
                        // margin-top: -10px;
                    }
                }
            }

            &:not(.work-management-page__item--header) {
                color: #222222;
                font-size: 90%;

                a {
                    color: #333333;
                    text-decoration: underline;
                    display: flex;
                    flex-direction: row;

                    &:hover {
                        color: #000000;
                    }

                    .main-window__img {
                        margin-left: 5px;
                    }
                }
            }

            &--products {
                padding-left: 30px;
                color: #444444 !important;
                font-size: 90% !important;
            }
        }

        &--reminder {
            border: 1px solid #ca8a8a;
            background-color: #e7d1d0;

            &:hover {
                background-color: lighten(#e7d1d0, 2.5%);
            }

            .work-management-page__item--header {
                .header {
                    &--hours {
                        border: 1px solid #b08f8f;
                        // background-color: #ffb9b9;
                        background-color: #fcdddd;
                        // background-color: $secondary-text-color;
                        color: #222222;
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        .work-management-page__row {
            width: 100%;
            min-width: 220px;
            max-width: calc(100% - 20px);
            margin-right: 0;
        }
    }

    @media (max-width: 768px) {
        .work-management-page__row {
            width: 100%;
            min-width: 220px;
            max-width: calc(100% - 20px);
            margin-right: 0;

            .work-management-page__item--header {
                flex-direction: column !important;
                align-items: flex-start !important;

                .header {
                    &--name {
                        width: 100% !important;
                    }
                    &--hours {
                        margin-top: 5px;
                        margin-left: 0;
                        margin-bottom: 5px;
                    }
                    &__wrapper {
                        margin-bottom: 5px;
                        margin-left: 0 !important;
                    }
                    &--top-work {
                        border-left: none;
                        margin-left: 0;
                        padding-left: 0;

                        .header--hours {
                            margin-top: 0 !important;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .work-management-page__item:not(.work-management-page__item--header) {
            padding-left: 5px;
        }
        .work-management-page__item--products {
            padding-left: 5px !important;
        }
    }
}
