@import "../../../../../../variables.scss";

.work-management-page__table-view {
    display: flex;

    &--one-col {
        flex-direction: column;
    }

    &--two-col {
        flex-direction: row;
        flex-wrap: wrap;

        .work-management-page__row {
            width: calc(33.3% - 30px);
            max-width: 500px;
        }
    }

    .work-management-page__table-date {
        margin-right: 100%;
        margin-bottom: 5px;
        padding: 0 5px;
        color: #333333;
        border-bottom: 1.5px solid #aaaaaa;
        font-size: 90%;
        width: fit-content;
        white-space: nowrap;
        margin-top: 15px;
        margin-bottom: 5px;

        &:first-child {
            margin-top: 5px;
        }
    }

    .work-management-page__table-employees-count {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        // align-items: flex-end;
        justify-content: flex-start;
        // justify-content: flex-end;
        // margin-top: -5px;
        margin-top: -2px;
        margin-left: 5px;
        font-size: 80%;

        span {
            &:nth-child(1) {
                // font-size: 90%;
                color: #777777;
            }
            &:nth-child(2) {
                // margin-left: 3px;
                // font-size: 90%;
                color: #111111;
            }
        }
    }

    .work-management-page__row {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 2.5px 10px;
        border: 1px solid #999999;
        background-color: $secondary-text-color;
        transition: 200ms ease-in-out;
        cursor: pointer;
        margin-right: 7.5px;
        margin-bottom: 7.5px;
        max-width: 500px;
        height: fit-content;
        min-width: 300px;
        // width: calc(30%);

        &:hover {
            background-color: darken($color: #ffffff, $amount: 5%);
        }

        &--hidden {
            .work-management-page__item:not(.work-management-page__item--header) {
                transform: scaleY(0);
                max-height: 0;
                padding: 0;
                overflow-y: hidden;
            }

            .work-management-page__item {
            }
        }

        .work-management-page__item {
            display: flex;
            flex-direction: column;
            padding: 2.5px 0;
            padding-left: 15px;
            // align-items: center;
            justify-content: center;
            transition: 200ms ease-in-out;
            transform-origin: 50% 0;
            max-height: 200px;
            overflow-y: auto;
            // height: fit-content;

            &--header {
                font-size: 90%;
                padding-left: 0;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                span {
                    &:nth-child(1) {
                        margin-right: 5px;
                        color: #333333;
                        font-size: 85%;
                        width: 100%;
                    }

                    &:nth-child(2) {
                        // margin-right: 5px;
                        margin-right: auto;
                        font-size: 95%;
                        width: calc(100% - 100px);
                    }

                    &:nth-child(3) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 25px;
                        padding: 3px 7.5px;
                        width: fit-content;
                        border: 2px solid $button__background--inverted;
                        background-color: $button__background--inverted;
                        color: $secondary-text-color;
                        font-size: 80%;
                        border-radius: 999px;
                        white-space: nowrap;
                        margin-top: -10px;
                    }
                }
            }

            &:not(.work-management-page__item--header) {
                color: #222222;
                font-size: 90%;

                a {
                    color: #333333;
                    text-decoration: underline;
                    display: flex;
                    flex-direction: row;

                    &:hover {
                        color: #000000;
                    }

                    .main-window__img {
                        margin-left: 5px;
                    }
                }
            }

            &--products {
                padding-left: 30px;
                color: #444444 !important;
                font-size: 90% !important;
            }
        }

        &--reminder {
            border: 1px solid #b95757;
            background-color: #ffb9b9;

            &:hover {
                background-color: lighten(#ffb9b9, 2.5%);
            }

            .work-management-page__item--header {
                span {
                    &:nth-child(3) {
                        border: 1px solid #d17474;
                        // background-color: #ffb9b9;
                        background-color: #fcdddd;
                        // background-color: $secondary-text-color;
                        color: #222222;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .work-management-page__row {
            width: 100%;
            min-width: 220px;
            max-width: calc(100% - 20px);
        }
        .work-management-page__item--header {
            flex-direction: column !important;
            align-items: flex-start !important;

            span {
                &:nth-child(2) {
                    width: 100% !important;
                }
                &:nth-child(3) {
                    margin-top: 5px !important;
                    margin-left: 0 !important;
                }
            }
        }
        .work-management-page__item:not(.work-management-page__item--header) {
            padding-left: 5px;
        }
        .work-management-page__item--products {
            padding-left: 5px !important;
        }
    }
}
