@import "../../../variables.scss";

.clients {
  .main-window__header {
    .main-window__title {
      // margin-left: 20px;
      margin-bottom: 10px !important;
      // width: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .main-window__button {
        font-size: 60%;
        margin-left: 15px;
      }
    }

    .main-window__menu {
      .main-window__item {
        div {
          position: relative;

          .main-window__menu-item-amount {
            position: absolute;
            left: calc(100% + 5px);
            top: -7.5px;
            font-size: 85%;
          }
        }
      }
    }
  }

  .searchbar {
    // margin-bottom: 10px;
  }

  .control-panel {
    margin-bottom: 10px;
  }

  .form-window {
    .form-window__content {
      max-width: 700px;
      height: 60%;
    }
  }

  .main-window__list {
    position: relative;
    .main-window__list-item {
      span {
        align-items: center;
        &:nth-child(1) {
          flex: 0 1 15%;
        }
        &:nth-child(2) {
          flex: 0 1 10%;
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:nth-child(3) {
          flex: 0 1 15%;
        }
        &:nth-child(4) {
          flex: 0 1 30%;
        }
        &:nth-child(5) {
          flex: 0 1 10%;
          max-width: 100px;
        }
      }
      .main-window__actions {
        // flex: ;
        max-width: 225px;
      }
    }
  }

  // .main-window__list-item:not(:first-child) span:nth-child(2) {
  //   font-size: 85%;
  // }

  // .main-window__list-item:not(:first-child) span:nth-child(3) {
  //   font-size: 90%;
  // }

  .main-window__list-item {
    // font-size: 90%;
    span {
      &:nth-child(4) {
        // max-height: 60px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .main-window__pagination {
    padding: 0 15px;
    .main-window__sort-panel {
      justify-content: center;
      width: fit-content;
      margin-right: auto;
      align-items: center;
      margin-bottom: 0;

      span {
        margin-top: 0;
      }

      select {
        min-width: 50px;
      }
    }
  }

  .main-window__actions {
    flex-direction: row !important;
    flex: 0 1 20% !important;
    flex-wrap: wrap;
    .main-window__action {
      .main-window__img {
        width: 22px;
      }
      &:first-child {
        // padding: 5px 15px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .main-window__header {
      .main-window__title {
        flex-wrap: wrap;
        margin-bottom: 5px !important;
        // flex-direction: column;
        // align-items: flex-start;
        span {
          margin-right: 10px;
        }
        .main-window__button {
          width: fit-content;
          margin-top: 5px;
          margin-left: 0;
          span {
            margin-top: 0;
            margin-right: 0;
          }
          // align-self: center;
        }
      }
      .main-window__menu {
        overflow-x: auto;
        .main-window__item {
          white-space: nowrap;
        }
      }
    }
    .main-window__list-item {
      & span {
        max-width: 100% !important;
      }
    }

    .searchbar {
      width: calc(100% - 10px);
      // border-top-left-radius: 0px;
    }

    .main-window__pagination {
      // flex
      .main-window__sort-panel {
        width: 100%;
        span {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__reminder {
      padding: 0;

      div:first-child {
        font-size: 22px;
      }
    }
  }
}
