@import "../../../variables.scss";

.clients {
  .main-window__header {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    align-items: center;
    // width: calc(100% - 25px) !important;
    border-top-left-radius: 10px;
    text-align: center;
    z-index: 1;
    margin: 0 !important;
    // margin-bottom: 5px;

    .main-window__title {
      // flex: 0 1 20%;
      width: calc(100% - 20px);
      // font-size: 90%;
      font-size: 24px;
      padding: 10px 10px;
      margin: 0;
      padding-top: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .main-window__button {
        font-size: 12px;
        margin-left: 15px;
      }
    }

    .main-window__menu {
      display: flex;
      // flex: 0 1 80%;
      // width: 100%;
      width: calc(100% - 25px);
      // align-self: flex-end;
      background-color: $secondary-text-color;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-bottom: 10px;

      .main-window__item {
        // width: 100%;
        width: fit-content;
        margin-right: 2.5px;
        font-size: 80%;
        padding: 10px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // color: lighten($primary-text-color, 100%);
        // background-color: darken($table-primary__background, 10%);
        color: lighten($primary-text-color, 50%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        &:first-child {
          // margin-left: auto;
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .searchbar {
    // border-top-right-radius: 0px;
    // border-top-right-radius: 0px;
    // border-top-left-radius: 0px;
    background-color: $secondary-text-color;
    width: calc(100% - 25px);
    text-align: left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // margin-bottom: 5px;
  }

  .main-window__list {
    position: relative;
    .main-window__list-item {
      span {
        align-items: center;
        &:nth-child(1) {
          flex: 0 1 15%;
        }
        &:nth-child(2) {
          flex: 0 1 10%;
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:nth-child(3) {
          flex: 0 1 15%;
        }
        &:nth-child(4) {
          flex: 0 1 30%;
        }
        &:nth-child(5) {
          flex: 0 1 10%;
          max-width: 100px;
        }
      }
    }
  }

  .main-window__list-item:not(:first-child) span:nth-child(2) span {
    font-size: 85%;
  }

  .main-window__list-item:not(:first-child) span:nth-child(3) span {
    font-size: 90%;
  }

  .main-window__list-item:not(:first-child) span:nth-child(4) span {
    font-size: 90%;
  }

  .main-window__pagination {
    padding: 0 15px;
    .main-window__sort-panel {
      justify-content: center;
      width: fit-content;
      margin-right: auto;
      align-items: center;
      margin-bottom: 0;

      span {
        margin-top: 0;
      }

      select {
        min-width: 50px;
      }
    }
  }

  .main-window__actions {
    flex-direction: row !important;
    flex: 0 1 20% !important;
    flex-wrap: wrap;
    .main-window__action {
      .main-window__img {
        width: 22px;
      }
      &:first-child {
        // padding: 5px 15px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .main-window__header {
      flex-direction: column;
      width: calc(100% - 10px) !important;
      .main-window__title {
        font-size: 125%;
      }
      .main-window__menu {
        width: calc(100% - 10px) !important;

        .main-window__item {
          width: 100%;
          padding: 10px 20px;
        }
      }
    }
    .main-window__list-item {
      & span {
        max-width: 100% !important;
      }
    }

    .searchbar {
      width: calc(100% - 10px);
      // border-top-left-radius: 0px;
    }

    .main-window__pagination {
      // flex
      .main-window__sort-panel {
        width: 100%;
        span {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__reminder {
      padding: 0;

      div:first-child {
        font-size: 22px;
      }
    }
    .main-window__header {
      .main-window__menu {
        font-size: 85%;

        .main-window__item {
          padding: 10px 10px;
        }
      }
    }
  }
}
