@import "../../../../variables.scss";

.new-price-item {
  .main-form__checkbox-container {
    padding-left: 35px;
    margin-bottom: 12px;
  }
  .main-form__input_field--vertical {
    flex-direction: column;
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: $button__background--inverted;
    height: 1px;
    margin-bottom: 20px;
  }
  .main-form__buttons {
    margin-bottom: 25px;
  }
}
