@import "../../../../variables.scss";

.new-price-item {
  .new-price-item__checkbox-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .checkbox {
      margin-bottom: 10px;
    }
  }
  .main-form__form {
    .main-form__title {
      width: 100%;
      text-align: center;
      min-height: 70px;
      color: $secondary-text-color;
      line-height: 70px;
      margin-bottom: 0;
    }
  }
  .checkbox__container {
    padding-left: 35px !important;
    margin-bottom: 12px;
  }
  .main-form__item .checkbox__container {
    // height: 100%;
    padding-left: 15px;
    margin-bottom: 0;
  }
  .main-form__input_field--vertical {
    flex-direction: column;
  }
  .main-form__info-panel {
    width: 50% !important;
  }
  .main-form__item--header {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 125%;
    & .main-form__input_name {
      color: #000000 !important;
    }
  }
  .main-form__item .main-form__input_field {
    // width: calc(100% - 0px) !important;
    justify-content: flex-start !important;
    align-items: center;
    & .main-form__product_img {
      max-width: 150px;
      & img {
        width: 100%;
        min-height: 25px;
      }
    }
    & .file-uploader {
      margin-left: 15px;
      // margin-right: auto;
      // justify-content: flex-end;
    }
    & .file-uploader {
      max-width: 250px;
    }
  }
  .main-form__buttons {
    margin-bottom: 20px;
    .checkbox {
      width: 50%;
    }
    .checkbox__container {
      width: 100%;
    }
  }
}
