@import "../../../variables.scss";
// @import "../../../../../../../node_modules/react-datepicker/dist/react-datepicker.css";

.input_date {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .input_date__error {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;
    font-size: 0.75rem;
    border: 1px solid #d48282;
    background-color: #fadada;
    color: #ad1c1c;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  .input_date__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    .input_date__input_name {
      color: lighten($primary-text-color, 40%);
      //   margin-bottom: 5px;
      flex: 0 1 calc(20% - 10px);
      padding-right: 10px;

      //column direction
      width: 100%;
      margin-bottom: 5px;
    }

    .input_date__input_field {
      display: flex;
      justify-content: center;
      width: calc(90% - 20px);
      position: relative;

      //column direction
      width: 100%;
      // z-index: 999;

      .react-datepicker-wrapper {
        width: 100%;
        // z-index: 999;

        .react-datepicker {
          z-index: 999;
          .react-datepicker__day--selected {
            background-color: $button__background--inverted !important;
          }
        }
      }
      .react-datepicker-popper {
        z-index: 999;
      }

      input[type="text"],
      input[type="password"] {
        border: 1px solid #bbbbbb;
        width: 100%;
        padding: 5px 10px;
        border-radius: 3px;
        box-sizing: border-box;
        transition: 100ms ease-in-out;
        min-height: 2rem;

        &:hover {
          border-color: #888888;
        }

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }

      &--error {
        input[type="text"],
        input[type="password"] {
          border: 1px solid #d48282 !important;
        }
      }

      &:focus {
        border: 1px solid $button__background--inverted;
      }
    }
  }

  @media (max-width: 768px) {
    .input_date__input {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;

      .input_date__input_name {
        width: 100%;
        margin-bottom: 5px;
      }

      .input_date__input_field {
        width: 100%;

        input {
          padding: 10px !important;
        }
      }
    }
  }
}
