@import "../../../../../variables.scss";

.machine {
    width: 100%;
    .main-window__header {
        padding-top: 5px;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        .searchbar {
            width: calc(100% + 10px) !important;
        }
        .main-window__header {
            margin-top: -5px;
            width: calc(100% + 10px);
        }
        .control-panel {
            width: calc(100% + 10px);
        }
    }
}
