@import "../../../../../variables.scss";

.select-work {
  width: calc(100% - 20px);
  position: relative;

  .main-form__item {
    width: 100%;
  }

  .main-form__input_name {
    margin-bottom: 0 !important;
  }

  .select-work__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  .select-draft {
    margin-bottom: 15px;

    &__input_name {
      color: #666666;
      font-size: 1rem;
      margin-bottom: 3px;
    }
  }

  &__selected {
    width: 100%;
  }

  .select-work-item {
    margin-bottom: 5px;
  }

  .select-work-item__input_field {
    font-size: 0.9rem;
  }

  .input_products {
    width: 100%;
    margin-top: 10px;
    font-size: 95%;
    margin-bottom: 5px;

    // .input_products__input {
    //   width: calc(100% - 10px);
    // }
    .input_products__input_name {
      font-size: 85%;
    }
    .select {
      // width: calc(80% - 0px);
      // width: 100%;
      // flex: 0 1 calc(80% - 0px);
      // font-size: 80%;
      &__input {
        min-height: 1.25rem !important;
      }
      .select__selected_row {
        input {
          min-width: 100% !important;
        }
      }
    }
    .select__input {
      box-sizing: content-box;
      width: calc(100% - 20px);
      min-width: 0 !important;
    }
  }

  &__selected_item {
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 0px 15px;
    margin-top: 5px;
    width: calc(100% - 30px);
    position: relative;
    transition: 0.2s ease-in-out;

    //test
    background-color: rgba(#bbbbbb, 0.3);
    border: 1px solid #cccccc;

    &--minimized {
      width: calc(100% - 80px);
    }

    &:first-child {
      margin-top: 5px;
    }

    &:focus-within,
    &:hover {
      background-color: darken(#dddddd, 5%);

      //test
      background-color: rgba(#bbbbbb, 0.5);
    }

    .select-work__img {
      position: absolute;
      right: -35px;
      cursor: pointer;
      top: 25%;

      &--new {
        right: -30px;
      }
    }

    .select-work__selected_header {
      display: flex;
      cursor: pointer;
      padding: 10px 0px;

      .select-work__selected_name {
        flex: 0 1 33.3%;

        span {
          font-size: 70%;
        }
      }
    }

    .select-work__selected_form {
      transform-origin: 0 0;
      height: 100%;
      width: calc(100%);
      padding: 15px 0;
      transition: 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // min-height: 150px;

      &--hidden {
        transform: scaleY(0);
        height: 0;
        padding: 0;
      }

      .select-work__item {
        width: calc(100% - 0px);
        margin: 0 auto;
        display: flex;
        // flex-direction: row;
        // align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        //column direction
        flex-direction: column;
        align-items: flex-start;

        .select-work__input_name {
          color: #666666;
          flex: 0 1 20%;
          font-size: 85%;
          margin-bottom: 3px;

          //column direction
          width: 100%;
        }
        .select-work__input_field {
          flex: 0 1 80%;
          // max-width: 80%;

          //column direction
          width: 100%;

          > input,
          textarea {
            font-size: 80%;
            width: calc(100% - 20px - 2px);
            border-radius: 3px;
            min-width: fit-content;
          }
          > textarea {
            max-width: calc(100% - 22px);
            min-width: calc(100% - 22px);
            outline: none;
            min-height: 50px;
            resize: none;
            transition: 100ms ease-in-out;
          }
        }
      }
    }
  }

  .main-form__button {
    font-size: 0.8rem;
    padding: 10px 10px;
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;

    &:focus {
      border: 1px solid $button__background--inverted;
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100% !important;
    }
    .select-work__selected_form {
      .select-work__item {
        flex-direction: column;
        .select-work__input_name {
          // flex: 0 1 100%;
          width: 100%;
          margin-bottom: 5px;
        }
        .select-work__input_field {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}
