@import "../../../../../variables.scss";

.select-work {
  width: calc(100%);
  position: relative;

  .select-work__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  .select-draft {
    margin-bottom: 15px;
  }

  .input_products {
    width: 100%;
    margin-top: 10px;
    font-size: 85%;
    margin-bottom: 5px;

    // .input_products__input {
    //   width: calc(100% - 10px);
    // }
    .input_products__input_name {
      font-size: 85%;
    }
    .select {
      width: calc(80% - 0px);
      // width: 100%;
      // flex: 0 1 calc(80% - 0px);
      // font-size: 80%;
    }
    .select__input {
      width: calc(100% - 20px);
      min-width: 0 !important;
    }
  }

  &__selected_item {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 5px;
    width: calc(100% - 80px);
    position: relative;
    transition: 0.2s ease-in-out;

    &:first-child {
      margin-top: 5px;
    }

    &:hover {
      background-color: darken(#dddddd, 10%);
    }

    .select-work__img {
      position: absolute;
      right: -35px;
      cursor: pointer;
      top: 25%;
    }

    .select-work__selected_header {
      display: flex;
      cursor: pointer;
      padding: 10px 0px;

      .select-work__selected_name {
        flex: 0 1 33.3%;

        span {
          font-size: 70%;
        }
      }
    }

    .select-work__selected_form {
      transform-origin: 0 0;
      height: 100%;
      width: calc(100%);
      padding: 15px 0;
      transition: 0.2s ease-in-out;

      &--hidden {
        transform: scaleY(0);
        height: 0;
        padding: 0;
      }

      .select-work__item {
        width: calc(100% - 10px);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        .select-work__input_name {
          color: #666666;
          flex: 0 1 20%;
          font-size: 80%;
        }
        .select-work__input_field {
          flex: 0 1 80%;

          input {
            font-size: 70%;
          }
        }
      }
    }
  }

  &__button {
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 70%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: $button__background--inverted;
    color: #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;

    &:focus {
      border: 1px solid $button__background--inverted;
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100% !important;
    }
  }
}
