@import "../../../variables.scss";

.select_user {
  width: 100%;
  height: max-content;
  position: relative;
  box-sizing: border-box;

  .select_user__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &--hidden {
      display: none;
    }
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
    min-height: 2rem;

    &:focus {
      border: 1px solid $button__background--inverted;
    }
  }

  &__options {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    z-index: 2;
    transform: scaleX(1);
    transition: 0.1s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    transform-origin: 0 0;
    padding: 5px 0;

    &--hidden {
      transform: scaleY(0);
    }

    .select_user__option_item {
      padding: 10px 10px;
      cursor: pointer;
      background-color: #ffffff;
      transition: 0.1s ease-in-out;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        color: $secondary-text-color;
        background-color: $button__background--inverted;
      }
    }
  }

  &__select_usered {
    font-size: 80%;
    display: flex;
    flex-direction: column;

    &_title {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 85%;
      color: lighten($primary-text-color, 40%);
    }

    &_row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      // flex-wrap: wrap;
      margin-top: 10px;

      &:first-of-type {
        margin-top: 5px;
      }

      .select_user__select_usered_item {
        display: flex;
        padding: 5px 10px;
        border-radius: 5px;
        width: 50%;
        margin-right: 30px;
        position: relative;
        font-size: 90%;
        align-items: center;
        border: 1px solid $button__background--inverted;
        cursor: pointer;
        background-color: #ffffff;

        &:last-child {
          margin-bottom: 0;
        }

        .select_user__img {
          position: absolute;
          left: calc(100% + 10px);
          width: 30px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100% !important;
      &__select_usered {
        &_row {
          flex-direction: column;
        }
      }
    }
  }
}
