@import "../../../../variables.scss";

.client-categories {
  .main-window {
    &__header {
      .main-window__title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .main-window__button {
          font-size: 60%;
          margin-left: 15px;
        }
      }
    }

    .searchbar {
      margin-bottom: 10px;
    }
    .main-window__list {
      .main-window__list-item {
        span {
          &:nth-of-type(1) {
            flex: 0 1 50%;
          }
          &:nth-child(2) {
            flex: 0 1 35%;
          }
        }
        // &:hover {
        //   .main-window__img {
        //     filter: brightness(1);
        //     &:hover {
        //       filter: brightness(3);
        //     }
        //   }
        // }
      }
    }
    .main-window__actions {
      flex-direction: row !important;
      flex: 0 1 8% !important;
      flex-wrap: wrap;
      .main-window__action {
        padding: 5px;
        margin-bottom: 0;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        .main-window__img {
          transition: transform 100ms ease-in-out;
          // filter: brightness(3);
          // transition: filter 0.5s;
          // transform: translate3d(-1px, -1px, 0);
          // border: solid 1px transparent;
          // border-width: 1px 0 0 1px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
