@import "../../../variables.scss";

.lepsari {
  .main-window {
    padding: 10px 0;
  }
  .main-window__header {
    z-index: 1;

    &--hidden {
      transform: scaleY(0);
      height: 0;
      margin-bottom: 0;
    }
  }

  .control-panel {
    width: calc(100% + 25px);
  }

  .searchbar {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    text-align: left;
    margin-top: -5px;
    padding-top: 5px;
    width: calc(100% + 25px) !important;
    border: 0;
  }

  .main-window__content {
    width: calc(100% - 25px);
    padding: 5px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s ease-in-out;
    padding-top: 0;

    .searchbar {
      background-color: #ffffff;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 10px;
    }

    .main-window {
      padding-top: 0;

      .title-header {
        width: calc(100% + 25px);
      }
    }

    .main-form {
      .main-form__form {
        width: calc(100% - 40px);
      }
    }

    .tableview-workshops {
      width: calc(100% + 25px);
    }
  }

  @media (max-width: 768px) {
    .main-window {
      .main-window__header {
        margin-bottom: 5px;

        .main-window__title {
          margin-bottom: 10px !important;
        }
      }
    }
  }

  @media (max-width: 425px) {
    .main-window__header {
      .main-window__menu {
        .main-window__item {
          padding: 10px 25px !important;
        }
      }
    }
  }
}
