@import "../../../variables.scss";

.etcetera-page {
  padding: 0 25px;
  .main-window {
    &__title {
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      text-align: left;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .main-window__button {
      margin-top: 5px;

      .button__img {
        filter: brightness(3) !important;
      }
    }

    .excetera-page__category {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      // justify-content: flex-start;
      margin-right: 10px;
      margin-bottom: 10px;

      .excetera-page__category-name {
        color: #333333;
        padding: 2.5px 0px;
        width: fit-content;
        // border-radius: 999px;
        border-bottom: 1.5px solid #999999;
        margin-bottom: 2px;
        font-size: 115%;
      }
    }
  }
}
