@import "../../../../variables.scss";

.tableview-workshops {
  width: 100%;
  margin-top: 5px;
  --shipped: #e3e7d6;
  --priority: #f0dedc;
  --completed: #d5ebda;
  --ready: #c9e9d1;
  --in-production: #e7f1ee;
  --waiting: #d8e9e3;
  --materials: #ebe3d4;
  --shipped-in-parts: #e9ddd6;

  .main-window {
    display: flex;
    min-width: 1200px;

    .main-window__list {
      font-size: 95%;
      width: 100%;

      .placeholder-loading {
        margin-top: 20px;
      }

      .main-window__list-item {
        position: relative;
        &--header {
          margin-top: -20px;
          margin-bottom: -20px;
        }
        &--multiple-items:not(.main-window__list-item--header) {
          --padding-top: 25px;
          .requests__column--date {
            margin-top: var(--padding-top);
            align-self: flex-start;
          }
          .requests__column--client {
            margin-top: var(--padding-top);
            align-self: flex-start;
          }
          .requests__column--responsible {
            margin-top: var(--padding-top);
            align-self: flex-start;
          }
          .requests__column--status {
            margin-top: calc(var(--padding-top) - 5px);
            align-self: flex-start;
          }
          .requests__column--date-shipping {
            align-self: flex-start;

            .main-window__reminder {
              margin-top: calc(var(--padding-top) - 5px);
            }

            .main-window__date {
              margin-top: var(--padding-top);
            }
          }
          .requests__column--comment {
            margin-top: var(--padding-top);
            align-self: flex-start;
            -webkit-line-clamp: 6;
          }
          .main-window__actions {
            margin-top: calc(var(--padding-top) - 6px);
            align-self: flex-start;
          }
        }

        &:not(.main-window__list-item--header) {
          // border-color: #ffffffaa;
          border-color: #ffffff66;
          color: #111111 !important;

          margin-bottom: 5px;
          border-radius: 3px;

          .requests__column--status {
            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              width: 5px;
              left: 0px;
              border-top-left-radius: 2.5px;
              border-bottom-left-radius: 2.5px;
              background-color: #cccccc;
              height: calc(100% - 2px);
              border: 1px solid #66666655;
            }
          }

          .main-window__list-col-row {
            padding: 5px 0px;

            &:hover {
              color: #111111 !important;
              cursor: pointer;
              // border-color: #ffffffaa !important;
            }
          }

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 10px;
            height: calc(100% + 2px);
            left: -1px;
            background-color: #cccccc;
            display: none;
          }
          &:nth-child(2) {
            &::before {
              border-top-left-radius: 5px;
            }
          }
          &:last-child {
            &::before {
              border-bottom-left-radius: 5px;
            }
          }
          .main-window__list-col-row:not(.main-window__list-col-row--header) {
            position: relative;
            border: 1px solid #bbbbbbcc;
            border-radius: 3px;
            margin-bottom: 5px;

            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              height: 100%;
              width: 4px;
              left: -1px;
              top: -1px;
              border: 0;
              border-radius: 3px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              border-right: 1px solid #bbbbbb77;
              background-color: #99999933 !important;
              border: 1px solid #bbbbbb55;
            }

            &:last-child {
              margin-bottom: 0px;
            }

            span {
              color: #000000;
              position: relative;

              &:nth-child(4) {
                &::before {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  width: 5px;
                  left: 0px;
                  border-top-left-radius: 2.5px;
                  border-bottom-left-radius: 2.5px;
                  background-color: #cccccc;
                  height: calc(100% - 2px);
                  border: 1px solid #66666655;
                }
              }
            }
          }
        }
        &--shipped:not(.main-window__list-item--header) {
          background-color: var(--shipped);
          &::before {
            background-color: var(--shipped) !important;
          }
        }
        &--shipped-in-parts:not(.main-window__list-item--header) {
          background-color: var(--shipped-in-parts);
          &::before {
            background-color: var(--shipped-in-parts) !important;
          }
        }
        &--in-production:not(.main-window__list-item--header),
        &--production:not(.main-window__list-item--header) {
          background-color: var(--in-production);
          &::before {
            background-color: var(--in-production) !important;
          }
        }
        &--completed:not(.main-window__list-item--header) {
          background-color: var(--completed);
          &::before {
            background-color: var(--completed) !important;
          }
        }
        &--priority:not(.main-window__list-item--header),
        &--defect:not(.main-window__list-item--header) {
          background-color: var(--priority);
          &::before {
            background-color: var(--priority) !important;
          }
        }
        &--waiting:not(.main-window__list-item--header) {
          background-color: var(--waiting);
          &::before {
            background-color: var(--waiting) !important;
          }
        }
        &--ready:not(.main-window__list-item--header) {
          background-color: var(--ready);
          &::before {
            background-color: var(--ready) !important;
          }
        }
        &--problem:not(.main-window__list-item--header) {
          background-color: var(--problem);
          &::before {
            background-color: var(--problem) !important;
          }
        }
        &--materials:not(.main-window__list-item--header) {
          background-color: var(--materials);
          &::before {
            background-color: var(--materials) !important;
          }
        }
        .requests__column--date {
          flex: 0 1 8%;
          max-width: 75px;
        }
        .requests__column--id {
          // flex: 0 1 8%;
          // max-width: 50px;
          white-space: nowrap;
          color: #222222aa;

          position: absolute;
          left: 5px;
          top: 10px;
          font-size: 0.85rem;
          padding-left: 10px;
        }
        // &:nth-child(2) {
        //   flex: 0 1 20%;
        // }
        .requests__column--client {
          flex: 0 1 15%;
          max-width: 150px;
        }
        .requests__column--responsible {
          flex: 0 1 10%;
          max-width: 150px;
        }
        .requests__column--status {
          max-width: 110px;
          position: relative;
        }
        .requests__column--products {
          flex: 0 1 15%;
        }
        .requests__column--date-shipping {
          flex: 0 1 8%;
          max-width: 90px;

          .main-window__reminder {
            margin-top: 0;
          }
        }
        .requests__column--comment {
          flex: 0 1 15%;
          max-width: 135px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .requests__column--price {
          position: absolute;
          left: 5px;
          bottom: 10px;
          font-size: 100%;
          padding-left: 10px;
          color: #222222aa;
          white-space: nowrap;
        }

        .main-window__actions {
          flex: 0 1 15%;
          max-width: 100px;
        }

        .main-window__status_select,
        .main-window__status_select--color {
          width: 100%;
          padding: 5px 0px;
          font-size: 90%;
          border-radius: 3px;
          outline: 0;
          padding-left: 5px;
          // max-width: fit-content;
          max-width: 110px;
          border: 1px solid #aaaaaabb;
        }

        .main-window__status_select--color {
          option[value="Ожидание"] {
            background: red;
            &:hover {
              box-shadow: 0 0 10px 100px red inset;
            }
          }
          option[value="green"] {
            background: green;
            &:hover {
              box-shadow: 0 0 10px 100px green inset;
            }
          }
          option[value="grey"] {
            background: grey;
            &:hover {
              box-shadow: 0 0 10px 100px grey inset;
            }
          }
        }

        // LIST COL FOR NESTED PRODUCT LIST

        .main-window__list-col {
          display: flex;
          flex-direction: column;
          flex: 0 1 50%;
          padding: 5px 5px;
          .main-window__list-col-row {
            width: 100%;
            flex: 0 1 100%;
            max-width: none;
            display: flex;
            transition: 100ms ease-in-out;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            border-radius: 3px;

            &:not(.main-window__list-col-row--header) {
              &:hover {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                span {
                  &:nth-child(5) {
                    transform: scale(1);
                  }
                }
              }
            }

            &--header {
              padding: 0;
              padding-bottom: 5px;
              font-size: 95%;
              span {
                color: #00000088 !important;
              }
            }

            span {
              max-width: none;
              &:nth-child(1) {
                flex: 0 1 80%;
                margin-top: 0;
                align-self: center;
                padding-left: 12px;
              }
              &:nth-child(2) {
                flex: 0 1 50%;
              }
              &:nth-child(3) {
                flex: 0 1 30%;
                margin-top: 0;
                align-self: center;
                max-width: 70px;
              }
              &:nth-child(4) {
                flex: 0 1 40%;
                font-size: 90%;
                max-width: 100px;
                background-color: transparent;
                margin-top: 0;
                align-self: center;
                padding-right: 5px;
              }
              &:nth-child(5) {
                position: absolute;
                right: -33px;
                top: -1px;
                transform: scale(0);
                transition: 100ms cubic-bezier(0.23, 1, 0.32, 1);
                padding: 0 5px;
                height: calc(100% + 2px);
                box-sizing: border-box;
                background-color: #eeeeee;
                // border-radius: 999px;
                border: 1px solid #bbbbbb;
                border-top-right-radius: 999px;
                border-bottom-right-radius: 999px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .main-window__img {
                  width: 20px;
                  height: 20px;
                  margin-right: 1px;
                }
              }
            }
          }
        }
      }
    }
  }

  .tableview-workshops__menu {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    justify-content: space-between;
    background-color: #eaeaec;
  }

  .tableview-workshops__item {
    width: 100%;
    margin-right: 2.5px;
    font-size: 80%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: lighten($primary-text-color, 100%);
    background-color: darken($table-primary__background, 10%);
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &:hover {
      color: lighten($primary-text-color, 10%);
      background-color: darken($primary-background-color, 5%);
    }

    &--active {
      color: lighten($primary-text-color, 50%);
      background-color: $primary-background-color;
    }
  }
}

@media (max-width: 768px) {
  .tableview-workshops {
    .main-window {
      min-width: 0;
      .main-window__list {
        width: 100%;
        margin-top: -25px;

        .main-window__list-item {
          padding: 20px 10px;
          padding-left: 10px;
          .requests__column--client {
            margin-top: 0 !important;
            max-width: none;
          }
          .requests__column--responsible {
            margin-top: 0 !important;
            max-width: none;
          }
          .requests__column--status {
            margin-top: 0 !important;
            max-width: none;
            padding-right: 20px;
            width: calc(100% - 15px);
            select {
              border-top-right-radius: 0px !important;
              border-bottom-right-radius: 0px !important;
              border-radius: 3px;
            }
            &::before {
              border-radius: 3px;
              border-top-left-radius: 0 !important;
              border-bottom-left-radius: 0 !important;
              left: auto !important;
              right: 10px;
            }
          }
          .requests__column--date-shipping {
            max-width: none;
          }
          .requests__column--comment {
            max-width: none;
          }
          .requests__column--price {
            max-width: none;
            position: relative;
            padding-left: 5px;
            bottom: auto;
            left: auto;
          }
          // }
          .main-window__list-col {
            width: 100%;
            flex: 0 1 100%;
            .main-window__list-col-row {
              flex-direction: column;
              width: calc(100% - 30px);
              padding: 5px 10px;
              padding-left: 20px;
              &--header {
                display: none;
              }
              span {
                &:nth-child(1) {
                  max-width: none;
                  padding-left: 5px;
                }
                &:nth-child(2) {
                  max-width: none;
                }
                &:nth-child(3) {
                  max-width: none;
                }
                &:nth-child(4) {
                  max-width: none;
                  padding-right: 15px;
                  font-size: 100%;
                  width: calc(100% - 10px);
                  select {
                    border-top-right-radius: 0px !important;
                    border-bottom-right-radius: 0px !important;
                  }
                  &::before {
                    border-radius: 3px;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    left: auto !important;
                    right: 5px;
                  }
                }
                &:nth-child(5) {
                  transform: scale(1);
                  position: relative;
                  width: fit-content;
                  background-color: transparent;
                  right: auto;
                  padding: 5px 10px;
                  padding-right: 5px;
                  border-radius: 3px;
                  margin-left: auto;
                }
              }
            }
          }
          &::before {
            top: 20px;
            height: calc(100% - 40px) !important;
          }
        }
      }
    }
  }
}
