@import "../../../../../variables.scss";

.tableview-employees {
  display: flex;
  justify-content: center;
  // width: calc(100% - 25px);
  width: 100%;
  font-size: 110%;

  .main-window__list {
    .main-window__list-item {
      padding: 10px 15px;
      cursor: pointer;
      span {
        &:nth-child(1) {
        }
      }

      .main-window__action {
        .main-window__img {
          margin-right: 5px;
        }
      }
    }
    .main-window__list-options {
      justify-content: center;
      font-size: 95%;
      .main-window__list {
        // width: 100%;

        .main-window__list-item {
          padding: 5px 10px;
          cursor: auto;
          span {
            &:nth-child(1) {
              flex: 0 1 30%;
            }
            &:nth-child(2) {
              max-width: 125px;
            }
            &:nth-child(3) {
              max-width: 200px;
            }
            &:nth-child(4) {
              flex: 0 1 25%;
            }
          }
          .main-window__action {
            .main-window__img {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 100%;
      .main-window__list {
        width: calc(100% - 10px);
        .main-window__list-item {
          span {
            &:nth-child(1) {
              .main-window__mobile-text {
                margin-right: auto;
              }
              span {
                margin-left: 5px;
                margin-bottom: 0;
              }
            }
          }
        }

        .main-window__list-options {
          font-size: 90%;
          .main-window__list-item {
            span {
              &:nth-child(1) {
                // flex: 0 1 40%;
              }
              &:nth-child(2) {
                max-width: none !important;
              }
              &:nth-child(3) {
                max-width: none !important;
              }
            }
          }
        }
      }
    }
  }
}
