@import "../../../../variables.scss";

.select-legal-entity {
  width: calc(100%);
  position: relative;

  .select-legal-entity__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  .button {
    font-size: 0.8rem;
  }
}
