@import "../../../../variables.scss";

.select-legal-entity {
  width: calc(100%);
  position: relative;

  .select-legal-entity__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  .button {
    font-size: 0.8rem;
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;

    &:focus {
      border: 1px solid $button__background--inverted;
    }
  }

  @media (max-width: 768px) {
    .select-legal-entity__selected_form {
      height: 570px;
    }
    .select-legal-entity__selected_form--hidden {
      height: 0;
    }
    .select-legal-entity__selected_header {
      flex-direction: column;
      align-items: flex-start;
    }
    .select-legal-entity__item {
      width: 100%;
      flex-direction: column !important;
    }
    .select-legal-entity__input_name {
      width: 100%;
    }
    .select-legal-entity__selected_name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .select-legal-entity__input_field {
      width: 100%;
    }
  }
}
