@import "../../../../../variables.scss";

.work-list-widget {
  &__info {
    font-size: 1rem;
    margin-top: 5px;
    color: #666666;
  }
  .work-list-widget__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: auto;
    font-size: 100%;
    box-sizing: border-box;

    .work-list-widget__workshop-item {
      margin-right: auto;
      margin-bottom: 5px;
      color: #666666;
      font-size: 85%;
      width: max-content;
      white-space: nowrap;
      margin-bottom: 5px;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    .work-list-widget__workshop-group {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
  .work-list-widget__item {
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 100%;
    font-size: 85%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 100ms ease-in-out;
    color: #444444;
    box-sizing: border-box;

    &:hover {
      background-color: #efefef;
    }

    &:nth-child(2) {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &--no-data {
      background-color: #fdf6f6;
      border-color: #e2dbdb;
      color: #555555;

      .work-list-widget__info-message {
        font-size: 0.85rem;
        color: #a4746a;
      }

      &:hover {
        background-color: #eee0e2;
      }
    }

    > div {
      &:nth-child(1) {
        flex: 0 1 100%;
        text-align: left;
        padding-right: 10px;
      }
      &:nth-child(2) {
        flex: 0 1 50%;
        max-width: 100px;
        text-align: left;
        text-align: right;
      }
    }
  }

  @media (max-width: 768px) {
    .work-list-widget__content {
      .work-list-widget__list {
        width: 100%;
        padding: 0;
        padding-right: 2px;
      }
    }
    .work-list-widget__item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
