@import "../../../../../../variables.scss";

.select-drafts__list {
  .main-window__list {
    .main-window__list-item {
      cursor: pointer;
      span {
        &:nth-child(1) {
          flex: 0 1 20%;
        }
        &:nth-child(2) {
          flex: 0 1 20%;
        }
        &:nth-child(3) {
          flex: 0 1 20%;
        }
        &:nth-child(4) {
          flex: 0 1 15%;
        }
      }
    }
  }
}
