.statistics-widget {
    font-size: 1rem;
    .widget__content {
        padding-right: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        padding-right: 4px;
        padding-bottom: 5px;

        .statistics-widget__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            font-size: 0.9rem;
            color: #555;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            .list__item {
                flex: 0 1 17.5%;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &--name {
                    width: 100%;
                    flex: auto;
                    max-width: 60px;
                }
                &--period {
                    flex: 30%;
                    white-space: nowrap;
                    font-size: 0.8rem;
                    span {
                        &:not(:last-child) {
                            margin-right: 5px;
                        }
                        &:not(:nth-child(2)) {
                            // color: #266bf5;
                            color: #3665c4;
                        }
                    }
                }
                &--value {
                    white-space: nowrap;
                    flex: 0 1 50px;
                    max-height: 50px;
                    color: #777;
                    font-size: 0.8rem;
                }
                &--difference {
                    position: relative;
                    padding-left: 15px;
                    text-align: left;
                    min-width: 50px;
                    max-width: 70px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: calc(50% - 3px);
                        border: 6px solid transparent;
                        border-top-color: #ccc;
                    }
                }
                &--positive {
                    color: #0acf97;
                    &::before {
                        border-top-color: transparent;
                        border-bottom-color: #0acf97;
                        top: calc(50% - 9px);
                    }
                }
                &--negative {
                    color: #fa5c7c;
                    &::before {
                        border-top-color: #fa5c7c;
                    }
                }
            }
        }
    }
}
