@import '../../../variables.scss';

.form-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.3);
  top: 0;
  left: 0;
  z-index: 999;

  &--hidden {
    display: none;
  }

  &__content {
    width: 80%;
    height: 80%;
    background-color: #eeeeee;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    border: 1px solid #999999;
    padding: 15px;
    overflow-y: auto;

    .tableview__products {
      width: 100%;
    }

    .form-window__title {
      text-align: center;
      padding: 10px 0px;
      font-size: 125%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      position: relative;
    }

    .form-window__exit {
      position: absolute;
      width: 45px;
      height: 45px;
      right: 0;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #cccccc;
      }
      .form-window__bar {
        height: 2px;
        width: 25px;
        content: "";
        background-color: #000000;
        position: absolute;
        right: 9px;
        bottom: 21px;

        &:first-of-type {
          transform: rotate(45deg);
        }
        &:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }

    .searchbar {
      width: 100%;
    }

    .form-window__button {
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      font-size: 60%;
      padding: 10px 15px;
      margin-left: 10px;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      right: 50px;
      position: absolute;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
      }
    }
  }
}
