@import "../../../variables.scss";

.price-list {
  .main-window__list-item {
    cursor: pointer;
    & span:nth-child(1) {
      flex: 0 1 100px;
      .img-loader {
        display: flex;
        justify-content: center;
      }
    }
    & span:nth-child(2) {
      flex: 0 1 20%;
    }
    & span:nth-child(3) {
      flex: 0 1 20%;
    }
    & span:nth-child(4) {
      flex: 0 1 10%;
    }
    & span:nth-child(5) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(6) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(7) {
      flex: 0 1 7.5%;
    }
  }
  @media (max-width: 768px) {
    .main-window__list-options {
      .main-window__list-item {
        span:first-child {
          display: none;
        }
      }
    }
  }
}
