@import "../../../variables.scss";

.price-list {
  .main-window__img {
    width: 100% !important;
    max-width: 80px;
    max-height: 80px;
  }
  .main-window__info-panel {
    .price-list__category-pick {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90%;

      .main-window__button {
        font-size: 85%;
        padding: 5px 10px;
      }
      .main-window__button--inverted {
        color: #666666;
      }

      .main-window__button:last-child {
        margin: 0;
        margin-left: 15px;
        // max-width: 70px;
        // text-align: center;
      }
    }
  }
  .main-window__list {
    font-size: 75%;
  }
  .main-window__list-item--header span {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aaaaaa;
  }
  .main-window__list-item {
    // cursor: pointer;
    & span:nth-child(1) {
      flex: 0 1 100px;
      .img-loader {
        display: flex;
        justify-content: center;
      }
    }
    & span:nth-child(2) {
      flex: 0 1 20%;
    }
    & span:nth-child(3) {
      flex: 0 1 10%;
    }
    & span:nth-child(4) {
      flex: 0 1 10%;
    }
    & span:nth-child(5) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(6) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(7) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(8) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(9) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(10) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(11) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(12) {
      flex: 0 1 7.5%;
    }
    & span:nth-child(13) {
      flex: 0 1 50px;
    }
  }
  .main-window__actions .main-window__action {
    padding: 4px 0px;
  }
  @media (max-width: 768px) {
    .main-window__list-options {
      .main-window__list-item {
        span:first-child {
          display: none;
        }
      }
    }
    .price-list__category-pick {
      flex-wrap: wrap;
    }
    .main-window__button {
      margin-bottom: 5px;
    }
  }
}
