@import "../../../../variables.scss";

.notifications {
    &__list {
        display: flex;
        flex-direction: column;

        .notifications__category {
            color: #999;
            padding-bottom: 3px;
            font-size: 0.95rem;

            &:not(:first-child) {
                padding-top: 5px;
            }
        }

        .notifications__list-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            margin-bottom: 5px;
            padding: 5px 5px;
            padding-left: 20px;
            align-items: center;
            font-size: 1rem;
            border-radius: 3px;
            box-sizing: border-box;
            transition: 100ms ease-in-out;

            &::before {
                position: absolute;
                left: 4px;
                top: calc(50% - 4px);
                content: "";
                background-color: #ddd;
                border-radius: 999px;
                width: 8px;
                height: 8px;
            }

            &:hover {
                background-color: #eee;
            }

            &--unread {
                &::after {
                    position: absolute;
                    right: 10px;
                    top: calc(50% - 6px);
                    content: "";
                    background-color: $main-color;
                    border-radius: 999px;
                    width: 12px;
                    height: 12px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .main-window__img {
                filter: invert(0);
                margin-right: 0;
                width: 24px;
            }

            .notifications__list-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                color: #000000;
                font-size: 0.9rem;

                div,
                span {
                    cursor: pointer;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #000000;

                    &:nth-child(2) {
                        color: #777777;
                        font-size: 0.95rem;
                    }
                }
                &:hover {
                    div:nth-child(1) {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
