@import "../../../../../variables.scss";

.select-employee {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  .select-employee__input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
    flex-direction: column;
    align-items: flex-start;

    .select-employee__input_name {
      color: lighten($primary-text-color, 40%);
      flex: 0 1 calc(20% - 10px);
      padding-right: 10px;
      width: 100%;
      margin-bottom: 5px;
    }
    .select-employee__input_field {
      width: 100%;
    }
  }

  .main-form__button {
    font-size: 0.8rem;
    padding: 10px 10px;
  }

  .select-employee__error {
    width: 80%;
    align-self: flex-end;
    margin-top: 1px;
    font-size: 0.75rem;
    // position: absolute;
    // top: 2rem;
    background-color: #f73434;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }

  .select-employee__searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 2rem;
    .select-employee__input {
      border: 1px solid #bbbbbb;
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px;
      z-index: 0;
      transition: 100ms ease-in-out;
      margin-top: 0;

      &:hover {
        border-color: #888888;
      }

      &:focus {
        border: 1px solid $button__background--inverted;
      }

      &--error {
        border: 1px solid #f73434 !important;
      }
    }

    .select-employee__search_button {
      border: 0;
      flex: 0 1 15%;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 80%;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
      }
    }
  }

  .tableview-employees {
    width: 100%;
  }

  @media (max-width: 768px) {
    .select-employee__input {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;

      .select-employee__input_name {
        width: 100%;
        margin-bottom: 5px;
      }
      .select-employee__input_field {
        width: 100%;

        input {
          padding: 10px !important;
        }
      }
    }
  }
}
