.employee-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #f4f4f4;
    min-height: calc(100vh - 60px);

    .main-form {
        background-color: #f4f4f4;
        padding: 0;
    }

    .select-employee {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 25px;
        box-sizing: border-box;
        &__searchbar {
            display: none;
        }
        &__employee-info {
            background-color: #fff;
        }
    }

    .employee-page__button--loading {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 25px;
        // width: 100%;
        margin-right: auto;
        box-sizing: border-box;
    }

    .main-window__select {
        margin-top: 5px;
        margin-right: 15px;
        font-size: 0.9rem;
    }

    .employee-page__employee-wrapper {
        padding-left: 0;
    }
    .employee-info__employee-wrapper {
        padding: 0 25px;
        max-width: 600px;
    }
}
