@import "../../../../../../variables.scss";

.notes-journal {
    padding: 15px 0;
    background-color: #fff;
    font-size: 1rem;

    .main-window__header {
        // margin-bottom: 25px;

        .main-window__title {
            width: 100%;
        }
    }

    .control-panel {
        margin-bottom: 25px;

        .main-window__control-panel-wrapper {
            padding-top: 10px;
        }

        .input_date {
            margin-bottom: 0;

            &__input {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            &__input_name {
                width: fit-content;
                flex: none;
                margin-bottom: 0;
            }
            &__input_field {
                width: fit-content;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0 25px;

        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            > span {
                font-size: 1.2rem;
                margin-bottom: 5px;
            }

            &--header {
                flex-direction: row;

                span {
                    flex: 0 1 50%;
                    &:nth-child(n + 2) {
                        flex: 0 1 25%;
                    }
                }
            }

            .employees__row {
                display: flex;
                align-items: flex-start;
                border: 1px solid #ccc;
                padding: 10px 10px;
                margin-bottom: 15px;
                border-radius: 3px;
                transition: 100ms ease-in-out;
                background-color: #f2f2f2;

                &:hover {
                    background-color: #e7e7e7;
                }

                &--even {
                    background-color: #ffffff;

                    &:hover {
                        background-color: #f4f4f4;
                    }
                }

                span {
                    flex: 0 1 40%;
                    align-self: stretch;
                    display: flex;
                    flex-direction: column;

                    div {
                        font-size: 0.9rem;
                        color: #777;
                    }
                }

                .employees__days-wrapper {
                    flex: 0 1 60%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: stretch;

                    span {
                        flex: 0 1 50%;
                        &:nth-child(1) {
                            margin-right: 10px;
                        }
                        position: relative;

                        div {
                            position: absolute;
                            left: 6px;
                            top: 4px;
                            user-select: none;
                            pointer-events: none;
                            color: #888;
                            font-size: 0.9rem;
                            background-color: #fff;
                            padding-right: 2px;
                            width: fit-content;
                        }

                        textarea {
                            resize: vertical;
                            width: 100%;
                            padding: 5px 5px;
                            padding-top: 22px;
                            box-sizing: border-box;
                            border-radius: 3px;
                            border: 1px solid #ccc;
                            outline: none;
                            height: 3.2rem;
                            min-height: 3.2rem;
                            max-height: 5rem;
                            font-size: 1rem;
                            transition: 100ms ease-in-out;

                            &:hover {
                                border-color: #999;
                            }

                            &:focus {
                                border-color: $button__background--inverted;
                            }
                        }
                    }

                    .employees__weekend {
                        div {
                            background-color: transparent;
                        }
                        textarea {
                            border-color: #f3c7c7;
                            background-color: #faf3f3;
                        }
                    }
                }
            }
        }
    }
}
