@import "../../../../variables.scss";

.tableview_requests {
  width: 100%;
  --shipped: #c7db6c;
  --priority: #e65252;
  --completed: #52d66c;
  --ready: #4aff13;
  --in-production: #ca077f;
  --waiting: #00b7ff;
  --problem: #d6574e;
  --materials: #d49a27;
  .main-window {
    .main-window__list {
      .main-window__list-item {
        padding: 20px 0px;
        padding-left: 25px;
        padding-right: 10px;
        position: relative;
        &:not(.main-window__list-item--header) {
          cursor: pointer;
          span:nth-child(5) {
            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              width: 10px;
              height: 10px;
              left: 10px;
              top: calc(50% - 5px);
              -moz-border-radius: 7.5px;
              -webkit-border-radius: 7.5px;
              border-radius: 7.5px;
              background-color: #cccccc;
            }
          }
        }
        &:not(.main-window__list-item--header)::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 7.5px;
          height: calc(100% - 10px);
          left: 10px;
          top: calc(0);
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: #cccccc;
        }
        &--shipped:not(.main-window__list-item--header)::before {
          background-color: var(--shipped) !important;
        }
        &--in-production:not(.main-window__list-item--header)::before {
          background-color: var(--in-production) !important;
        }
        &--completed:not(.main-window__list-item--header)::before {
          background-color: var(--completed) !important;
        }
        &--priority:not(.main-window__list-item--header)::before {
          background-color: var(--priority) !important;
        }
        &--waiting:not(.main-window__list-item--header)::before {
          background-color: var(--waiting) !important;
        }
        &--ready:not(.main-window__list-item--header)::before {
          background-color: var(--ready) !important;
        }
        &--problem:not(.main-window__list-item--header)::before {
          background-color: var(--problem) !important;
        }
        &--materials:not(.main-window__list-item--header)::before {
          background-color: var(--materials) !important;
        }
        span {
          &:nth-child(1) {
            flex: 0 1 8%;
            max-width: 65px;
          }
          &:nth-child(2) {
            flex: 0 1 20%;
          }
          &:nth-child(3) {
            flex: 0 1 20%;
          }
          &:nth-child(4) {
            flex: 0 1 10%;
          }
          &:nth-child(5) {
            max-width: 130px;
            position: relative;
          }
        }

        .main-window__actions {
          flex: 0 1 15%;
        }

        .main-window__status_select,
        .main-window__status_select--color {
          width: 100%;
          padding: 5px 0px;
          max-width: fit-content;
          font-size: 90%;
          border-radius: 5px;
          outline: 0;
          // color: #eeeeee;
          padding-left: 15px;
        }

        .main-window__status_select--color {
          option[value="Ожидание"] {
            background: red;
            &:hover {
              box-shadow: 0 0 10px 100px red inset;
            }
          }
          option[value="green"] {
            background: green;
            &:hover {
              box-shadow: 0 0 10px 100px green inset;
            }
          }
          option[value="grey"] {
            background: grey;
            &:hover {
              box-shadow: 0 0 10px 100px grey inset;
            }
          }
        }
      }

      .main-window__list-options {
        flex-direction: column;
        align-items: flex-start;
        .main-window__title {
          font-size: 22px;
          margin-bottom: 0;
        }
        .main-window__list {
          width: 80%;
          max-width: 800px;
          .main-window__list-item--header {
            padding-top: 0;
            padding-bottom: 5px;
          }
          .main-window__list-item {
            // padding-left: 10px;
            padding: 10px 10px 10px 10px;
            cursor: auto;
            &::before {
              display: none;
            }
            span {
              &:nth-child(1) {
                flex: 0 1 50%;
                max-width: none;
              }
              &:nth-child(2) {
                flex: 0 1 25%;
              }
              &:nth-child(3) {
                flex: 0 1 25%;
              }
            }
          }
        }
      }
    }
  }

  .tableview_requests__menu {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    justify-content: space-between;
    background-color: #eaeaec;
  }

  .tableview_requests__item {
    width: 100%;
    margin-right: 2.5px;
    font-size: 80%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: lighten($primary-text-color, 100%);
    background-color: darken($table-primary__background, 10%);
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &:hover {
      color: lighten($primary-text-color, 10%);
      background-color: darken($primary-background-color, 5%);
    }

    &--active {
      color: lighten($primary-text-color, 50%);
      background-color: $primary-background-color;
    }
  }
}

@media (max-width: 768px) {
  .tableview_requests {
    .main-window {
      .main-window__list {
        .main-window__list-item {
          padding-left: 30px;
          span {
            &:nth-child(1) {
              max-width: none;
            }
            &:nth-child(5) {
              max-width: none;
              padding-right: 25px;
              width: calc(100% - 20px);
              &::before {
                // top: calc(50% - 10px);
                top: 20px;
                left: auto !important;
                right: 5px;
              }
            }
          }
          &::before {
            // top: calc(50% - 10px);
            top: 20px;
            height: calc(100% - 40px) !important;
          }
        }
        .main-window__list-options {
          .main-window__title {
            margin-bottom: 10px;
          }
          .main-window__list {
            width: 100%;
          }
        }
      }
    }
  }
}
