@import "../../../../../variables.scss";

.select_parts {
  width: calc(100% - 20px);
  // margin: 0 auto;
  position: relative;

  .main-form__item {
    width: 100%;
  }

  .select_parts__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  .button {
    font-size: 0.8rem;
  }
  &__selected {
    width: 100%;
  }

  &__selected_item {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 0px 15px;
    margin-top: 5px;
    width: calc(100% - 30px);
    position: relative;
    transition: 0.2s ease-in-out;

    //test
    background-color: rgba(#bbbbbb, 0.3);
    border: 1px solid #dddddd;

    &--minimized {
      width: calc(100% - 80px);
    }

    &:hover {
      background-color: rgba(#bbbbbb, 0.4);
    }

    .select_parts__img {
      position: absolute;
      right: -35px;
      cursor: pointer;
      top: 25%;
    }

    .select_parts__selected_header {
      display: flex;
      cursor: pointer;
      padding: 10px 0px;

      .select_parts__selected_name {
        flex: 0 1 33.3%;
        display: flex;
        font-size: 90%;
        flex-direction: column;

        span:first-child {
          font-size: 90%;
          color: #666666;
        }
      }
    }

    .select_parts__selected_form {
      transform-origin: 0 0;
      height: 100%;
      padding-bottom: 10px;
      transition: 0.2s ease-in-out;

      &--hidden {
        transform: scaleY(0);
        height: 0;
        padding: 0;
      }

      .select_parts__item {
        width: calc(100% - 10px);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        .select_parts__input_name {
          color: #666666;
          flex: 0 1 calc(30% - 10px);
          font-size: 85%;
          padding-right: 10px;
        }
        .select_parts__input_field {
          flex: 0 1 70%;

          input {
            font-size: 85%;
          }
        }
      }
    }
  }

  &__button {
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 70%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: $main-color;
    color: #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($main-color, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 2;

    &:focus {
      border: 1px solid$main-color;
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;
    .select_parts__selected {
      .select_parts__selected_item {
        .select_parts__selected_header {
          .select_parts__selected_name {
            &:not(:first-child) {
              display: none;
            }
          }
        }

        .select_parts__selected_form {
          .select_parts__item {
            flex-direction: column;
            width: 100%;
            margin-top: 10px;

            .select_parts__input_name {
              width: 100%;
              padding-right: 0;
            }
            .select_parts__input_field {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
