@import "../../../../../../variables.scss";

//NEW DESIGN

.rigging-tableview {
    --completed: #c7e9ce;
    --defect: #ebbdba;
    --production: #eaebde;
    min-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .main-window {
        padding: 0;
        width: 100%;
        &__list {
            // width: 100%;
            &-item {
                padding-top: 15px;
                padding-bottom: 15px;
                &--defect {
                    background-color: var(--defect);
                    &::before {
                        background-color: var(--defect) !important;
                    }
                    &:hover {
                        background-color: var(--defect) !important;
                    }
                }
                &--completed {
                    background-color: var(--completed);
                    &::before {
                        background-color: var(--completed) !important;
                    }
                    &:hover {
                        background-color: var(--completed) !important;
                    }
                }
                &--production {
                    background-color: var(--production);
                    &::before {
                        background-color: var(--production) !important;
                    }
                    &:hover {
                        background-color: var(--production) !important;
                    }
                }
                &:not(.main-window__list-item--header) {
                    span:nth-child(5) {
                        font-size: 0.9rem;
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            left: 10px;
                            top: calc(50% - 2.5px);
                            border-radius: 999px;
                            background-color: #cccccc;
                            border: 1px solid #cccccc;
                        }
                    }

                    &:hover {
                        color: inherit;
                    }
                }
                cursor: pointer;
                .main-window__status_select {
                    width: 100%;
                    padding: 5px 0px;
                    font-size: 90%;
                    border-radius: 3px;
                    outline: 0;
                    padding-left: 10px;
                    max-width: 110px;
                    border-color: #bbb;
                }
                span {
                    &:nth-child(1) {
                        max-width: 40px;
                    }
                    &:nth-child(2) {
                        flex: 0 1 20%;
                    }
                    &:nth-child(3) {
                        flex: 0 1 20%;
                    }
                    &:nth-child(4) {
                        flex: 0 1 40%;
                    }
                    &:nth-child(5) {
                        position: relative;
                        max-width: 150px;

                        .main-window__status_select {
                            max-width: fit-content;
                        }
                    }
                }

                .main-window__actions {
                    max-width: 125px;
                    .main-window__img {
                        filter: brightness(1);
                    }
                }
            }
            .main-window__list-options {
                box-sizing: border-box;
                justify-content: center;
                font-size: 95%;
                width: 100%;
                .main-window__list {
                    width: 100%;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: flex-start;

                    &-item {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        min-height: 3.5rem;
                        box-sizing: border-box;
                        width: 100%;
                        // justify-content: flex-start;
                        &--border-checked {
                            border-right: 1px solid #cccccc;
                        }
                        &:not(.main-window__list-item--header) {
                            span {
                                &:nth-child(6) {
                                    &::before {
                                        content: "";
                                        display: inline-block;
                                        position: absolute;
                                        width: 5px;
                                        height: 5px;
                                        left: 9px;
                                        top: calc(50% - 2.5px);
                                        border-radius: 999px;
                                        background-color: #cccccc;
                                        border: 1px solid #bbbbbb;
                                    }
                                    // align-self: center;
                                    // padding-top: 5px;
                                }

                                &:nth-child(n + 7) {
                                    align-self: stretch;
                                    padding-top: calc(1.5rem - 5px);
                                    padding-bottom: 5px;
                                    text-overflow: ellipsis;
                                    box-sizing: border-box;
                                }
                            }
                        }
                        span {
                            flex: 0 1 15%;
                            &:not(:nth-child(1)),
                            &:not(:nth-child(2)),
                            &:not(:nth-child(3)),
                            &:not(:nth-child(6)) {
                                white-space: nowrap;
                                overflow-x: hidden;
                                text-overflow: ellipsis;
                            }
                            &:nth-child(1) {
                                flex: 0 1 100%;
                                max-width: 135px;
                            }
                            &:nth-child(2) {
                                flex: 0 1 15%;
                                max-width: 200px;
                            }
                            &:nth-child(3) {
                                flex: 0 1 20%;
                                max-width: 60px;
                            }
                            &:nth-child(4) {
                                flex: 0 1 15%;
                                max-width: 120px;
                            }
                            &:nth-child(5) {
                                flex: 0 1 15%;
                                max-width: 150px;
                                &::before {
                                    display: none;
                                }
                            }
                            &:nth-child(6) {
                                max-width: 100px;
                                position: relative;
                                padding-top: calc(1.25rem - 5px);
                            }
                            &:nth-child(8) {
                                flex: 0 1 20%;
                            }
                        }

                        span {
                            // &:nth-child(n + 7) {
                            align-self: stretch;
                            padding-top: calc(1.5rem - 5px);
                            padding-bottom: 5px;
                            text-overflow: ellipsis;
                            box-sizing: border-box;
                            border-right: 1px solid #cccccc;
                            box-sizing: border-box;
                            // }
                            &:nth-child(n + 7),
                            &:nth-child(5) {
                                flex: 0 1 10%;
                                // max-width: Min(10%, 50px);
                                max-width: 100px;
                                max-width: 150px;
                                box-sizing: border-box;
                            }
                        }

                        &--header {
                            position: sticky;
                            top: 60px;
                            background-color: #ffffff !important;
                            // z-index: 0;
                            min-height: 2rem;
                            border-left: none;
                            border-right: none;
                            border-top-left-radius: 3px !important;
                            border-top-right-radius: 3px !important;

                            span {
                                padding-top: 0.5rem;
                                &:nth-child(6) {
                                    padding-top: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        min-width: 0;
        .main-window {
            &__list {
                &-item {
                    span {
                        max-width: none !important;
                        &:nth-child(5) {
                            box-sizing: border-box;
                            padding-right: 10px;
                            width: calc(100% + 10px);

                            select {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            &::before {
                                left: auto !important;
                                right: 0;
                                border-radius: 2.5px;
                                border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                            }
                        }
                    }
                }
                .main-window__list-options {
                    .main-window__list-item {
                        span {
                            &:nth-child(5) {
                                box-sizing: content-box;
                                padding-right: 5px;
                                width: 100%;
                            }
                            &:nth-child(6) {
                                box-sizing: border-box;
                                padding-right: 10px;
                                width: calc(100% + 10px);

                                select {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                &::before {
                                    left: auto !important;
                                    right: 0;
                                    border-radius: 2.5px;
                                    border-top-left-radius: 0 !important;
                                    border-bottom-left-radius: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
