@import "../../../../../../variables.scss";

//NEW DESIGN

.rigging-tableview {
    --completed: #c7e9ce;
    --defect: #ebbdba;
    --production: #eaebde;
    width: calc(100% + 25px);

    .main-window {
        padding: 0;
        width: 100%;
        &__list {
            width: 100%;
            &-item {
                padding: 15px 25px;
                border-bottom: 1px solid #bbb;
                &--defect {
                    background-color: var(--defect);
                    &::before {
                        background-color: var(--defect) !important;
                    }
                    &:hover {
                        background-color: var(--defect) !important;
                    }
                }
                &--completed {
                    background-color: var(--completed);
                    &::before {
                        background-color: var(--completed) !important;
                    }
                    &:hover {
                        background-color: var(--completed) !important;
                    }
                }
                &--production {
                    background-color: var(--production);
                    &::before {
                        background-color: var(--production) !important;
                    }
                    &:hover {
                        background-color: var(--production) !important;
                    }
                }
                &:not(.main-window__list-item--header) {
                    span:nth-child(5) {
                        font-size: 0.9rem;
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            left: 10px;
                            top: calc(50% - 2.5px);
                            border-radius: 999px;
                            background-color: #cccccc;
                            border: 1px solid #cccccc;
                        }
                    }

                    &:hover {
                        color: inherit;
                    }
                }
                cursor: pointer;
                .main-window__status_select {
                    width: 100%;
                    padding: 5px 0px;
                    font-size: 90%;
                    border-radius: 3px;
                    outline: 0;
                    padding-left: 10px;
                    max-width: 110px;
                    border-color: #bbb;
                }
                span {
                    &:nth-child(1) {
                        max-width: 40px;
                    }
                    &:nth-child(2) {
                        flex: 0 1 20%;
                    }
                    &:nth-child(3) {
                        flex: 0 1 30%;
                    }
                    &:nth-child(4) {
                        flex: 0 1 40%;
                    }
                    &:nth-child(5) {
                        position: relative;

                        .main-window__status_select {
                            max-width: fit-content;
                        }
                    }
                }

                .main-window__actions {
                    max-width: 125px;
                    .main-window__img {
                        filter: brightness(1);
                    }
                }
            }
            .main-window__list-options {
                .main-window__list {
                    &-item {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        min-height: 3rem;
                        &:not(.main-window__list-item--header) {
                            span:nth-child(6) {
                                &::before {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    width: 5px;
                                    height: 5px;
                                    left: 9px;
                                    top: calc(50% - 2.5px);
                                    border-radius: 999px;
                                    background-color: #cccccc;
                                    border: 1px solid #bbbbbb;
                                }
                            }
                        }
                        span {
                            flex: 0 1 15%;
                            &:not(:nth-child(1)),
                            &:not(:nth-child(2)),
                            &:not(:nth-child(3)) {
                                // вариант 1 - максимум две строки, перенос в любом месте
                                display: -webkit-box;
                                word-break: break-all;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                // вариант 2 - одна строка, перенос по пробелам
                                // white-space: nowrap;
                                // overflow-x: hidden;
                                // text-overflow: ellipsis;
                            }
                            &:nth-child(1) {
                                flex: 0 1 20%;
                                max-width: 100px;
                                word-break: break-all;
                            }
                            &:nth-child(2) {
                                flex: 0 1 20%;
                            }
                            &:nth-child(3) {
                                flex: 0 1 20%;
                                max-width: 60px;
                            }
                            &:nth-child(4) {
                                flex: 0 1 15%;
                                max-width: 150px;
                            }
                            &:nth-child(8) {
                                flex: 0 1 20%;
                                max-width: 170px;
                            }
                            &:nth-child(5) {
                                &::before {
                                    display: none;
                                }
                            }
                            &:nth-child(6) {
                                max-width: 100px;
                                position: relative;
                            }
                        }
                        .main-window__actions {
                            min-width: 50px;
                            max-width: 80px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .main-window {
            &__list {
                &-item {
                    span {
                        max-width: none !important;
                        &:nth-child(5) {
                            box-sizing: border-box;
                            padding-right: 10px;
                            width: calc(100% + 10px);

                            select {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            &::before {
                                left: auto !important;
                                right: 0;
                                border-radius: 2.5px;
                                border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                            }
                        }
                    }
                }
                .main-window__list-options {
                    .main-window__list-item {
                        span {
                            &:nth-child(5) {
                                box-sizing: content-box;
                                padding-right: 5px;
                                width: 100%;
                            }
                            &:nth-child(6) {
                                box-sizing: border-box;
                                padding-right: 10px;
                                width: calc(100% + 10px);

                                select {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                &::before {
                                    left: auto !important;
                                    right: 0;
                                    border-radius: 2.5px;
                                    border-top-left-radius: 0 !important;
                                    border-bottom-left-radius: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
