@import "../../../../../../variables.scss";

//NEW DESIGN

.rigging-tableview {
    --defect: #e08989;
    --completed: #77c78a;
    --production: #cdceaf;
    width: calc(100% + 25px);
    margin-top: -6px;

    .main-window {
        padding: 0;
        width: 100%;
        &__list {
            width: 100%;
            &-item {
                padding: 15px 10px;
                // border-color: #ffffff66;
                // margin-bottom: -1px;
                &--defect {
                    background-color: var(--defect);
                    &::before {
                        background-color: var(--defect) !important;
                    }
                    &:hover {
                        background-color: var(--defect) !important;
                    }
                }
                &--completed {
                    background-color: var(--completed);
                    &::before {
                        background-color: var(--completed) !important;
                    }
                    &:hover {
                        background-color: var(--completed) !important;
                    }
                }
                &--production {
                    background-color: var(--production);
                    &::before {
                        background-color: var(--production) !important;
                    }
                    &:hover {
                        background-color: var(--production) !important;
                    }
                }
                &:not(.main-window__list-item--header) {
                    span:nth-child(5) {
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            width: 10px;
                            left: 0px;
                            border-top-left-radius: 2.5px;
                            border-bottom-left-radius: 2.5px;
                            background-color: #cccccc;
                            height: calc(100% - 2px);
                            border: 1px solid #777777;
                        }
                    }

                    &:hover {
                        color: inherit;
                    }
                }
                cursor: pointer;
                .main-window__status_select {
                    width: 100%;
                    padding: 5px 0px;
                    font-size: 90%;
                    border-radius: 5px;
                    outline: 0;
                    padding-left: 10px;
                    max-width: 110px;
                }
                span {
                    &:nth-child(1) {
                        max-width: 40px;
                    }
                    &:nth-child(2) {
                        flex: 0 1 20%;
                    }
                    &:nth-child(3) {
                        flex: 0 1 30%;
                    }
                    &:nth-child(4) {
                        flex: 0 1 40%;
                    }
                    &:nth-child(5) {
                        position: relative;

                        .main-window__status_select {
                            max-width: fit-content;
                        }
                    }
                }

                .main-window__actions {
                    max-width: 125px;
                    .main-window__img {
                        filter: brightness(1);
                    }
                }
            }
            .main-window__list-options {
                .main-window__list {
                    &-item {
                        // border-color: #ffffff66;
                        &:not(.main-window__list-item--header) {
                            span:nth-child(6) {
                                &::before {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    width: 10px;
                                    left: 0px;
                                    border-top-left-radius: 2.5px;
                                    border-bottom-left-radius: 2.5px;
                                    background-color: #cccccc;
                                    height: calc(100% - 2px);
                                    border: 1px solid #777777;
                                }
                            }
                        }
                        span {
                            flex: 0 1 15%;
                            &:nth-child(1) {
                                flex: 0 1 20%;
                                max-width: 100px;
                                word-break: break-all;
                            }
                            &:nth-child(2) {
                                flex: 0 1 20%;
                            }
                            &:nth-child(3) {
                                flex: 0 1 20%;
                                max-width: 50px;
                            }
                            &:nth-child(4) {
                                flex: 0 1 15%;
                                max-width: 150px;
                            }
                            &:nth-child(5) {
                                &::before {
                                    display: none;
                                }
                            }
                            &:nth-child(6) {
                                max-width: 100px;
                                position: relative;
                            }
                        }
                        .main-window__actions {
                            min-width: 50px;
                            max-width: 80px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        margin-top: -15px;
        .main-window {
            &__list {
                &-item {
                    span {
                        max-width: none !important;
                        &:nth-child(5) {
                            box-sizing: border-box;
                            padding-right: 10px;
                            width: calc(100% + 10px);

                            select {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                            &::before {
                                left: auto !important;
                                right: 0;
                                border-radius: 2.5px;
                                border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                            }
                        }
                    }
                }
                .main-window__list-options {
                    .main-window__list-item {
                        span {
                            &:nth-child(5) {
                                box-sizing: content-box;
                                padding-right: 5px;
                                width: 100%;
                            }
                            &:nth-child(6) {
                                box-sizing: border-box;
                                padding-right: 10px;
                                width: calc(100% + 10px);

                                select {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                                &::before {
                                    left: auto !important;
                                    right: 0;
                                    border-radius: 2.5px;
                                    border-top-left-radius: 0 !important;
                                    border-bottom-left-radius: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
