@import "../../../variables.scss";

.requests-lemz {
  .main-window {
    padding: 10px 0;
  }
  .main-window__header {
    z-index: 1;
    border-bottom: 1px solid #eeeeee;
    // // margin-bottom: 5px;

    &--hidden {
      transform: scaleY(0);
      height: 0;
    }

    .main-window__title {
      // display: none;
      margin-left: 10px;
      width: calc(100% - 40px);
      margin-bottom: 0px !important;
    }
  }

  .searchbar {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    text-align: left;
    margin-top: -5px;
    // width: 100%;
    width: calc(100% + 25px);
    border: 0;
  }

  .main-window__content {
    width: calc(100% - 25px);
    padding: 5px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    transition: 0.2s ease-in-out;
    padding-top: 0;

    .searchbar {
      background-color: #ffffff;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 10px;
    }

    .main-window {
      padding-top: 0;
    }

    .main-form {
      .main-form__title {
        // margin-bottom: 20px;
      }
      .main-form__form {
        // box-shadow: none;
        width: calc(100% - 40px);
        // padding: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .main-window__header {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 425px) {
    .main-window__header {
      .main-window__menu {
        .main-window__item {
          padding: 10px 25px !important;
        }
      }
    }
  }
}
