@import "../../../variables.scss";

.requests {
  .main-window {
    padding: 10px 0;
  }
  .main-window__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 25px) !important;
    border-top-left-radius: 10px;
    text-align: center;
    z-index: 1;
    margin: 0 !important;

    .main-window__title {
      flex: 0 1 20%;
      font-size: 24px;
      padding: 10px 0;
      margin: 0;
    }

    .main-window__menu {
      display: flex;
      flex: 0 1 80%;
      align-self: flex-end;

      .main-window__item {
        width: 100%;
        margin-right: 2.5px;
        font-size: 80%;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: lighten($primary-text-color, 100%);
        background-color: darken($table-primary__background, 10%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.2s ease-in-out;

        &:last-child {
          margin: 0;
        }

        &:hover {
          color: lighten($primary-text-color, 10%);
          background-color: darken($primary-background-color, 5%);
        }

        &--active {
          color: lighten($primary-text-color, 50%);
          background-color: $primary-background-color;
        }
      }
    }
  }

  .main-window__content {
    width: calc(100% - 25px);
    padding: 5px 0;
    background-color: $primary-background-color;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    z-index: 5;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

    .main-form {
      .main-form__title {
        margin-bottom: 20px;
      }
      .main-form__form {
        box-shadow: none;
        width: calc(100% - 40px);
        padding: 0;
      }
    }
  }

  @media (max-width: 620px) {
    .main-window__header {
      .main-window__title {
        display: none;
      }
      .main-window__menu {
        flex: 0 1 100%;

        .main-window__item {
          flex-direction: column;

          .main-window__addButton {
            margin: 0;
          }
        }
      }
    }
  }
}
