.tasks-widget {
    font-size: 1rem;
    $completed: #52d66c;
    $in-progress: #94bbe2;
    $delayed: #e79ecb;
    $problem: #da756e;
    $materials: #d4ad5e;
    &__content {
        width: 100%;
    }

    .widget__title {
        .widget__sub-title {
            font-size: 1rem;
        }
    }

    &__date {
        font-size: 0.8rem;
        color: #888888;
        display: flex;
        flex-direction: row;
        max-width: 100%;

        &--expired {
            color: #9b0909;
        }
    }

    &__date-wrapper {
        display: flex;
        flex-direction: column;

        &--expired {
            border: 1px solid #d2c2c3;
            background-color: #fdf6f6;
            border-radius: 3px;
            padding: 5px 15px;
            margin-bottom: 10px;
        }
    }

    &__list {
        width: 100%;
        .list__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 100%;
            padding: 5px 0px;
            box-sizing: border-box;
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;

            &::before {
                content: "";
                background-color: #bbbbbb;
                border-radius: 999px;
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0;
                top: calc(50% - 4px);
            }

            &--placeholder {
                &::before {
                    left: 10px;
                }
            }

            &--in-progress {
                &::before {
                    background-color: $in-progress;
                }
                .list-item__conditions {
                    span:first-child {
                        color: darken($in-progress, 35%);
                    }
                }
            }
            &--completed {
                &::before {
                    background-color: $completed;
                }
                .list-item__conditions {
                    span:first-child {
                        color: darken($completed, 35%);
                    }
                }
            }
            &--delayed {
                &::before {
                    background-color: $delayed;
                }
                .list-item__conditions {
                    span:first-child {
                        color: darken($delayed, 30%);
                    }
                }
            }
            &--problem {
                &::before {
                    background-color: $problem;
                }
                .list-item__conditions {
                    span:first-child {
                        color: darken($problem, 25%);
                    }
                }
            }
            &--materials {
                &::before {
                    background-color: $materials;
                }
                .list-item__conditions {
                    span:first-child {
                        color: darken($materials, 25%);
                    }
                }
            }

            .list-item {
                &__general-info {
                    display: flex;
                    flex-direction: column;
                    color: #000000;
                    width: fit-content;
                    max-width: 100%;
                    cursor: pointer;
                    font-size: 0.9rem;

                    &:hover {
                        .list-item__description {
                            text-decoration: underline;
                        }
                    }
                }

                &__conditions {
                    font-size: 0.8rem;
                    color: #888888;
                    display: flex;
                    flex-direction: row;
                    max-width: 100%;

                    .condition {
                        position: relative;
                        white-space: nowrap;
                        margin-left: 15px;
                        &::before {
                            content: "";
                            background-color: #dddddd;
                            // border-radius: 999px;
                            width: 2px;
                            height: 80%;
                            position: absolute;
                            right: -10px;
                            top: 15%;
                            border-radius: 999px;
                            // top: calc(50% - 3px);
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                        &--description {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &--hidden {
                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                &__description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__date-wrapper {
            &--expired {
                margin-right: 0px;
            }
        }
    }
}
