@import "../../../../variables.scss";

.select-packaging {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__img {
        width: 25px;
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__button {
        border: 0;
        // flex: 0 1 15%;
        border-radius: 5px;
        width: max-content;
        background-color: $main-color;
        color: $secondary-text-color;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        outline: none;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 70%;
        transition: 0.2s ease-in-out;
        margin-bottom: 5px;

        &:hover {
            background-color: lighten($button__background--inverted, 5%);
        }
    }

    &__error {
        align-self: flex-end;
        // width: calc(80%);
        width: calc(100% - 20px);
        // max-width: 150px;
        margin-top: -4px;
        font-size: 0.75rem;
        border: 1px solid #d48282;
        background-color: #fadada;
        color: #ad1c1c;
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    &__input {
        display: flex;
        // flex-direction: row;
        // align-items: center;
        justify-content: space-between;
        width: 100%;
        //column direction
        flex-direction: column;
        align-items: flex-start;

        .select-packaging__input_name {
            color: lighten($primary-text-color, 40%);
            //   margin-bottom: 5px;
            flex: 0 1 20%;

            //column direction
            width: 100%;
            margin-bottom: 3px;
        }

        .select-packaging__input-field {
            display: flex;
            justify-content: center;
            width: calc(90% - 20px);
            position: relative;
            flex-direction: column;
            // height: 2rem;

            //column direction
            width: 100%;

            input[type="text"],
            input[type="number"],
            input[type="password"] {
                border: 1px solid #bbbbbb;
                width: calc(100% - 20px);
                padding: 5px 10px;
                border-radius: 5px;
                transition: 100ms ease-in-out;
                height: 1.5rem;
                -moz-appearance: textfield;

                &:hover {
                    border-color: #888888;
                }

                &:focus {
                    border: 1px solid$main-color;
                }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &--error {
                input[type="text"],
                input[type="number"],
                input[type="password"] {
                    border: 1px solid #d48282 !important;
                }
            }

            &:focus {
                border: 1px solid$main-color;
            }
        }
    }

    > .main-window {
        background-color: #dddddd;
        border-radius: 5px;
        // align-self: flex-end;
        // width: calc(80% + 18px);

        //column direction
        width: 100%;

        .main-window__reminder {
            width: fit-content;
        }
    }

    .searchbar {
        margin-bottom: 0;
    }

    .form-window {
        .main-window__list {
            margin-left: -15px;
            width: calc(100% + 30px) !important;
        }
    }

    @media (max-width: 768px) {
        & {
            &__input {
                flex-direction: column;
                align-items: flex-start;

                .select-packaging__input_name {
                    margin-bottom: 5px;
                }

                .select-packaging__input-field {
                    width: 100%;
                }
            }

            > .main-window {
                width: calc(100%);
            }
            .main-window__actions {
                display: none;
            }
        }
    }
}
