@import "../../../../../../variables.scss";

.tableview-employees {
  display: flex;
  flex-direction: column;
  width: calc(100% - 25px);

  .main-window__list-item {
    cursor: pointer;
    span {
      &:nth-child(1) {
        flex: 0 1 30%;
      }
      &:nth-child(2) {
        flex: 0 1 10%;
        max-width: 100px;
      }
      &:nth-child(3) {
        flex: 0 1 20%;
      }
      &:nth-child(4) {
        flex: 0 1 30%;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      .main-window__list-item {
        span {
          &:nth-child(2) {
            max-width: none;
          }
        }
        .main-window__actions {
          display: none;
        }
      }
    }
  }
}
