@import "../../../../variables.scss";

.storage-lepsari {
    .control-panel {
        margin-top: -10px;
        margin-bottom: 10px;
        border-top: 1px solid #dddddd;
        width: calc(100% + 25px);
    }

    .searchbar {
        width: calc(100% + 25px) !important;
    }
}
