@import "../../../../variables.scss";

.transportation {
  .main-window__filter-pick {
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    
    .checkbox {
      margin-right: auto;
      margin-left: 15px;
    }
    .checkbox__container {
      width: 100%;
      padding-left: 30px;
    }
    .checkbox__container input:checked ~ .checkbox__checkmark {
      background-color: $button__background--inverted;
    }
  }
  .transportation__container {
    margin-top: 10px;
    width: 100%;
  }
  .transportation__text {
    width: 50px;
    text-align: right;
    padding-right: 10px;
  }
  .main-window__button {
    text-align: center;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .main-window__info-panel {
      flex-direction: column !important;
    }
    .transportation__container {
      text-align: center;
    }
    .main-window__filter-pick {
      .checkbox {
        margin-top: 5px;
      }
      .main-window__button {
        margin-top: 5px;
      }
      .main-window__button:last-child {
        margin-right: 0;
      }
    }
  }
}
