.requests-list {
    width: 100%;

    .main-window {
        &__title {
            width: fit-content;
        }
        &__list {
            &-item {
                min-height: 2rem;

                span {
                    &:nth-child(1) {
                        max-width: 50px;
                    }
                    &:nth-child(2) {
                    }
                    &:nth-child(3) {
                    }
                    &:nth-child(4) {
                        max-width: 150px;
                    }
                }
            }
        }
    }
}
