@import "../../../../variables.scss";

.select-category {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  .select-category__input {
    display: flex;
    width: 100%;
    // flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    //column direction
    flex-direction: column;
    align-items: flex-start;
    .select-category__input_name {
      color: lighten($primary-text-color, 40%);
      flex: 0 1 20%;
      width: 100%;
    }
    .select-category__input_field {
      width: calc(90% - 20px);
      width: 100%;
    }
  }

  .select-category__error {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;
    font-size: 0.75rem;
    border: 1px solid #c03737;
    background-color: #e69494;
    color: #ad1c1c;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }

  &__button {
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 70%;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: $button__background--inverted;
    color: #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  .select-category__searchbar {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    position: relative;
    .select-category__input {
      border: 1px solid #bbbbbb;
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px;
      z-index: 0;
      transition: 100ms ease-in-out;
      min-height: 1.25rem;

      &:hover {
        border-color: #888888;
      }

      &:focus {
        border: 1px solid $button__background--inverted;
      }

      &--error {
        border: 1px solid #c03737 !important;
      }
    }

    .select-category__search_button {
      border: 0;
      flex: 0 1 15%;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 80%;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
      }
    }
  }

  @media (max-width: 768px) {
    .select-category__input {
      flex-wrap: wrap;
      flex-direction: column;

      .select-category__input_name {
        width: 100%;
      }
      .select-category__input_field {
        width: 100%;

        input {
          padding: 10px !important;
        }
      }
    }
  }
}
