@import "../../../../variables.scss";

.work-management {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-width: 600px;
  max-height: 450px;
  overflow-y: auto;
  margin-right: 15px;
  background-color: $primary-background-color;

  .work-management__title {
    font-size: 125%;
    text-align: center;
    margin: 10px 0;
  }
  .work-management__content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    padding-bottom: 10px;
    text-align: center;
  }

  .work-management__img {
    width: 20px;
  }

  .work-management__search-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    .work-management__input {
      border: 1px solid #bbbbbb;
      flex: 1 1 70%;
      padding: 5px 10px;
      border-radius: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 0;
      min-width: 0;

      &:focus {
        border: 1px solid $button__background--inverted;
      }

      &--error {
        border: 1px solid #f73434;
      }
    }

    .work-management__search-button {
      border: 0;
      flex: 0 1 20%;
      background-color: $button__background--inverted;
      color: $secondary-text-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      outline: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 80%;
      transition: 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
      }
    }
    .work-management__search-button .work-management__img {
      filter: brightness(5);
      margin-right: 5px;
    }
  }

  .work-management__list {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .work-management__item {
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 1px solid $button__background--inverted;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 85%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: $primary-text-color;

    &:hover {
      background-color: $button__background--inverted;
      color: $secondary-text-color;
    }
  }
  .work-management__item div:nth-child(1) {
    text-decoration: underline;
    flex: 0 1 33.3%;
    text-align: left;
  }
  .work-management__item div:nth-child(2) {
    flex: 0 1 33.3%;
  }
  .work-management__item div:nth-child(3) {
    text-decoration: underline;
    flex: 0 1 33.3%;
    text-align: right;
  }
}
