@import "../../../../variables.scss";

.work-management {
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(59, 53, 53, 0.12), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-width: 600px;
  // max-width: 450px;
  margin-right: 15px;
  background-color: rgba(#ffffff, 1);
  backdrop-filter: blur(10px);

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25rem;
    // font-size: 125%;
    padding: 15px 26px;
    position: relative;
    padding-bottom: 10px;
    & span {
      // padding: 0 10px;
      // margin-right: px;
      // margin-top: -5px;
    }

    .work-management__button {
      margin-top: -5px;
      margin-top: -1.5rem;
      font-size: 70%;
    }
  }
  &__title .work-management__date {
    font-size: 65%;
    color: #666666;
    width: 100%;
  }
  &__button {
    border: 0;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 80%;
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    transition: 0.2s ease-in-out;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: -1.5rem;

    .work-management__img {
      margin-right: 5px;
      transition: 200ms ease-in-out;
    }

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

      .work-management__img {
        filter: brightness(3);
      }
    }
  }
  &__button--inverted {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 1px solid $button__background--inverted;
    margin-top: -2rem;

    &:hover {
      color: $secondary-text-color;
    }
  }
  .work-management__content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    padding-bottom: 10px;
    text-align: center;
    height: 100%;
  }

  .work-management__img {
    width: 20px;
  }

  .searchbar {
    padding-top: 0;

    .searchbar__title {
      margin-bottom: 0;
    }
  }

  .work-management__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: calc(100% - 20px);
    // width: calc(85% - 20px);
    padding: 0 10px;
    margin: 0 auto;
    overflow-y: auto;
    font-size: 100%;
    max-height: 261px;

    .work-management__workshop-item {
      margin-right: 100%;
      margin-bottom: 5px;
      padding: 0 5px;
      color: #666666;
      border-bottom: 1.5px solid #aaaaaa;
      font-size: 85%;
      width: max-content;
      white-space: nowrap;
      // margin-top: 15px;
      margin-bottom: 5px;

      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
  .work-management__item {
    padding: 5px 10px;
    margin-bottom: 5px;
    // border: 1px solid $button__background--inverted;
    // border: 1px solid #999999;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    // box-sizing: border-box;
    font-size: 85%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 100ms ease-in-out;
    color: $primary-text-color;

    &:hover {
      background-color: $button__background--inverted;
      color: $secondary-text-color;
    }

    > div:nth-child(1) {
      // text-decoration: underline;
      flex: 0 1 100%;
      text-align: left;
      padding-right: 10px;
    }
    > div:nth-child(2) {
      flex: 0 1 50%;
      max-width: 100px;
      text-align: left;
      text-align: right;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // width: fit-content;
      // text-align: center;
      // font-size: 80%;
      // // width: 25px;
      // padding: 2.5px 15px;
      // width: fit-content;
      // border: 2px solid $button__background--inverted;
      // background-color: $button__background--inverted;
      // color: $secondary-text-color;
      // border-radius: 999px;
      // white-space: nowrap;
    }
    // > div:nth-child(3) {
    //   text-decoration: underline;
    //   flex: 0 1 33.3%;
    //   text-align: right;
    // }
  }

  @media (max-width: 425px) {
    .work-management__title {
      // padding-top: 10px;
      // margin-top: 10px;
      margin-top: 5px;
      flex-wrap: nowrap !important;
      flex-direction: column;
      align-items: flex-start !important;
      span {
        // max-width: 130px;
        margin-top: 5px;
        // padding-right: 80px;
        font-size: 90% !important;
        // word-break: break-all;
      }

      .work-management__button {
        // margin-left: 0;
        margin-bottom: 20px;
        margin-top: -55px !important;
      }
    }
    .work-management__input {
      // width: calc(100% - 20px - 10px) !important;
      line-height: 1.5rem;
      font-size: 80%;
      padding-left: 10px !important;
      flex: 0 1 calc(70%) !important;
    }
    .work-management__search-button {
      & .work-management__img {
        margin: 0 !important;
        left: auto !important;
        filter: brightness(4) !important;
        position: relative !important;
      }
      & span {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      margin-right: 0;
    }
    .work-management__title {
      // flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      padding: 15px 20px;
      padding-bottom: 10px;
      span {
        font-size: 100%;
      }
      & .work-management__date {
        // margin-right: auto;
        font-size: 60%;
        width: 100%;
      }
      & .work-management__button {
        margin-top: -0.8rem;
        // margin-left: auto;
        font-size: 60%;
        padding: 5px 2.5px;
      }
    }
    .work-management__content {
      padding: 0px 20px;
      padding-bottom: 10px;
      .work-management__list {
        width: 100%;
        padding: 0;
        padding-right: 2px;
      }
    }
    .work-management__item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
