@import "../../variables.scss";

.header {
  height: 60px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15), 0 0px 3px rgba(0, 0, 0, 0.3);
  background-color: $secondary-text-color;
  // border-bottom: 2px solid #dddddd;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  z-index: 999;
  top: 0px;
  transition: 100ms ease-in-out;
  //dark-theme
  // background-color: lighten($side_menu__background, 7.5%);

  .header__img {
    width: 35px;
  }

  .main_page__overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($color: #000000, $alpha: 0.3);

    &--hidden {
      display: none;
    }
  }

  & .header__link {
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    // margin-bottom: 15px;
    margin-bottom: 2.5px;
  }

  & .header__logo {
    width: 200px;
    max-width: 130px;
    max-height: 45px;
    margin-left: 10px;
    margin-bottom: 8px;

    &--mobile {
      display: none;
    }
  }

  &__company {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 5px;

    .header__name {
      margin-left: 5px;
      margin-bottom: 2.5px;
      // color: $button__background--inverted;
      color: #555555;
      // color: $secondary-text-color;
      // margin-right: 10px;
    }
  }

  .header__sidemenu {
    display: flex;
    padding: 5px 10px;
    flex-direction: row;
    align-items: center;
    border-radius: 999px;
    transition: 100ms ease-in-out;
    cursor: pointer;

    &:active {
      padding: 10px 10px;
      background-color: darken($primary-background-color, 10%);
    }

    .header__name {
      font-size: 14px;
    }

    .linesWrapper {
      display: flex;
      flex-direction: column;
      height: 20px;
      transition: 0.2s ease-in-out;

      .line {
        height: 2.5px;
        margin-bottom: 4px;
        width: 25px;
        border-radius: 3px;
        background-color: #888888;
        transform-origin: 3px 0px;
        transition: 0.2s ease-in-out;
        //dark-theme
        // background-color: #eeeeee;

        &:first-child {
          transform-origin: 0 0;
        }

        &:nth-child(2) {
          transform-origin: 0 100%;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__item {
      display: flex;
      padding: 15px 10px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      &--notification {
        margin-right: 10px;
        position: relative;
        padding: 5px 5px;
        transition: 200ms ease-in-out;
        z-index: 999;

        .header__img {
          width: 25px;
        }

        .header__notification-message {
          position: absolute;
          top: 100%;
          right: 0px;
          background-color: $side_menu__background;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          // align-items: center;
          // color: $primary-text-color;
          padding: 20px 15px;
          border-radius: 5px;
          transition: 200ms ease-in-out;
          margin-bottom: 5px;
          text-align: left;
          min-width: 200px;
          transform-origin: 100% 0%;
          transform: scale(1);
          min-height: 50px;

          &--hidden {
            min-width: 0;
            padding: 0;
            transform: scale(0);
          }

          span {
            &:nth-child(1) {
              text-align: center;
              font-size: 100%;
              margin-bottom: 5px;
              color: $secondary-text-color;
            }
            &:nth-child(2) {
              font-size: 80%;
              color: #dddddd;
            }
            &:nth-child(3) {
              background-color: #dddddd;
              height: 2px;
              width: 20px;
              position: absolute;
              right: 10px;
              top: 15px;
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              background-color: #dddddd;
              height: 2px;
              width: 20px;
              position: absolute;
              right: 10px;
              top: 15px;
              transform: rotate(45deg);
            }
          }
        }

        &::after {
          content: attr(data-notifications);
          // background-color: $secondary-text-color;
          background-color: $button__background--inverted;
          border-radius: 999px;
          color: $secondary-text-color;
          padding: 3px 7px;
          width: fit-content;
          // height: 1rem;
          line-height: 0.8rem;
          position: absolute;
          top: -5px;
          right: -5px;
          font-size: 12px;
          transform: scale(1);
          transition: 100ms ease-in-out;
        }
        &-empty {
          .header__img {
            filter: brightness(2);
          }
          &::after {
            transform: scale(0);
          }
        }
      }

      &--user {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding: 8px 15px;
        border-radius: 3px;
        border: 1px solid transparent;
        padding-right: 5px;
        transition: 0.2s ease-in-out;
        z-index: 2;

        .header__profile_overlay {
          position: fixed;
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;
          z-index: 999;

          &--hidden {
            display: none;
          }
        }

        .header__profile_data {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          text-align: center !important;

          .header__userimg {
            width: 20px;
            transition: transform 100ms ease-in-out;
          }

          .main-window__img--rotated {
            transform: rotate(180deg) !important;
          }

          .header__email {
            font-size: 80%;
          }

          .header__username {
            font-size: 1rem;
            margin-right: 5px;
            font-family: "Montserrat", sans-serif;
          }
        }

        &:hover {
          background-color: #efefef;
          border: 1px solid #dddddd;
        }

        .header__profile_menu {
          background-color: $side_menu__background;
          border-radius: 3px;
          font-size: 80%;
          position: absolute;
          top: 45px;
          right: 0;
          width: calc(100% + 25px);
          min-width: 180px;
          padding: 5px 5px;
          transition: 0.2s ease-in-out;
          transform-origin: 80% 0%;
          z-index: 999;

          //light theme
          background-color: #ffffff;
          border: 1px solid #dddddd;

          .header__profile_item {
            display: flex;
            align-items: center;
            color: #555555;
            padding: 10px 0px;
            padding-right: 5px;
            transition: 100ms ease-in-out;
            margin-bottom: 5px;
            text-align: left;
            position: relative;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-family: "Montserrat", sans-serif;

            &::before {
              content: "";
              position: absolute;
              top: 0px;
              left: -5px;
              height: 100%;
              border-radius: 1px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              background-color: transparent;
              width: 5px;
            }

            & span {
              width: calc(100% - 30px);
              font-family: "Montserrat", sans-serif;
            }

            .header__img {
              width: 25px;
              margin: 0 10px;
              filter: brightness(1.7);

              //light theme
              filter: brightness(1.5);

              &--history {
                min-width: 25px;
              }
            }

            &:last-child {
              margin: 0;
            }
            &--active {
              background-color: #eeeeee;
              &::before {
                background-color: $button__background--inverted;
              }
              color: #eeeeee;

              //light theme
              color: darken($button__background--inverted, 5%);

              & .header__img {
                filter: brightness(1);
              }
            }
          }
          &--hidden {
            transform: scale(0);
          }
        }
      }

      &--button {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $button__background--inverted;
        color: $secondary-text-color;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: lighten($button__background--inverted, 5%);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }

  @media (max-width: 375px) {
    & .header__link {
      // margin-left: 0px !important;
    }
    .header__logo {
      display: none;
      // width: 100px;
      margin-left: 0 !important;
    }
  }

  @media (max-width: 425px) {
    .header__link {
      display: flex;
      margin-left: 5px;
      // margin-bottom: 10px;
      // margin-bottom: 2.5px;
    }
    .header__logo {
      display: none;
      // width: 80px;

      &--mobile {
        display: block;
        width: 45px;
        margin-bottom: 6px;
      }
    }
    .header__item--user {
      padding: 5px 10px !important;
      padding-right: 5px !important;

      .header__profile_data {
        .header__username {
          font-size: 0.9rem;
          max-width: 60px;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .header__profile_data {
      .header__userimg {
        max-width: 38px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0 10px;
    top: 0px;

    .header__name {
      font-size: 80%;
    }

    .header__logo {
      max-width: 135px;
      margin-left: 5px;
    }
    .header__sidemenu {
      font-size: 80%;
    }
    .header__img {
      width: 30px;
    }

    &__menu {
      .header__item {
        padding: 5px 15px;
        font-size: 0.9rem;

        &--user {
          .header__profile_menu {
            top: 35px;
          }
        }

        &--notification {
          padding: 5px 10px;
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .header__company {
      .header__sidemenu {
        .linesWrapper {
          position: relative;
          width: 25px;
          height: 20px;
          // margin-top: 10px;
          .line {
            position: absolute;
            transition: all 200ms ease-in-out;
            margin: 0;
            left: 0;
            height: 2px;
            &:nth-child(1) {
              top: 0px;
              transform-origin: 0 0;
            }

            &:nth-child(2) {
              top: 8px;
              transform-origin: 0 0;
              // top: calc(50% - 1.5px);
            }

            &:nth-child(3) {
              top: 16px;
              transform-origin: 0 0;
            }
          }
        }
        &--hidden {
          .linesWrapper {
            .line {
              &:nth-child(1) {
                transform: rotate(45deg);
                top: 0px;
              }

              &:nth-child(2) {
                transform: scaleX(0);
              }

              &:nth-child(3) {
                transform: rotate(-45deg);
                top: 18px;
              }
            }
          }
        }
      }
    }
  }
}
