@import "../../../../variables.scss";

.tableview_products {
  display: flex;
  flex-direction: column;
  width: calc(100% - 25px);
  // font-size: 100%;
  // min-width: 950px;
  // border-radius: 10px;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
  .main-window {
    padding-top: 0;
  }

  .main-window__list {
    width: 100%;
    margin-top: 10px;
    .main-window__list-item {
      span {
        &:nth-child(1) {
          flex: 0 1 80%;
        }
      }

      .main-window__actions {
        flex: 0 1 10%;
        flex-direction: row;
      }
    }

    .main-window__list-item:not(.main-window__list-item--header) span {
      font-weight: bold;
      padding: 20px 10px;
      cursor: pointer;

      .main-window__mobile-text {
        font-weight: normal;
      }
    }

    .main-window__list-options {
      flex-direction: column;
      .main-window__list {
        width: calc(100% - 15px);
        .main-window__list-item {
          padding: 5px 10px;
          span {
            cursor: auto;
            padding: 5px 10px;
            font-weight: normal;
            &:nth-child(1) {
              flex: 0 1 10%;
              min-width: 90px;
              max-width: 100px;
              font-weight: normal;
              padding: 0px 10px;
            }
            &:nth-child(2) {
              flex: 0 1 30%;
            }
            &:nth-child(3) {
              flex: 0 1 10%;
              max-width: 80px;
            }
          }

          .main-window__actions {
            flex: 0 1 12%;
            flex-wrap: wrap;
            .main-window__action--row {
              .main-window__action {
                &:hover {
                  padding: 7.5px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__product_img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 5px;
    // width: 80px;
    // padding: 5px;
  }

  .main-window__action--row {
    display: flex;
    flex-direction: row;
    // padding: 0;
    width: 100%;
  }
  .main-window__action--row .main-window__action {
    margin-bottom: 0;
    font-size: 100% !important;
    margin-right: 0 !important;
  }
  .main-window__action--row .main-window__action:nth-of-type(1) {
    background-color: #666666;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-window__action--row .main-window__action:nth-of-type(2) {
    background-color: green;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-window__action--row .main-window__img {
    margin: 0;
    // max-height: 20px;
    height: 15px;
    width: auto;
    filter: none !important;
    transform: scale(1) !important;
  }
}

@media (max-width: 768px) {
  .main-window__list {
    span:first-child {
      padding: 5px 10px !important;
    }
    .main-window__list-options {
      .main-window__list {
        .main-window__list-item {
          span {
            &:nth-child(1) {
              width: 100% !important;
              flex: 0 1 100% !important;
              max-width: 100% !important;
              justify-content: center !important;
              align-items: center;
              .main-window__mobile-text {
                margin-right: auto;
              }
              .img-loader {
                width: 100%;
                display: flex;
                justify-content: center;
              }
              .tableview_products__product_img {
                // margin: 0 auto;
                min-width: 150px;
                max-height: none;
              }
            }
          }
          .main-window__actions {
            .main-window__action--row {
              .main-window__action {
                padding: 10px;

                &:hover {
                  padding: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ! OLD DESIGN

// @import "../../../../variables.scss";

// .tableview_requests {
//   display: flex;
//   flex-direction: column;
//   width: calc(100% - 25px);
//   font-size: 100%;
//   min-width: 950px;
//   border-radius: 10px;
//   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

//   &__img {
//     width: 15px;
//     margin-left: 5px;
//     // padding: 5px;
//     cursor: pointer;
//   }

//   .tableview_requests__menu {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     justify-content: space-between;
//     background-color: #eaeaec;
//   }

//   .tableview_requests__item {
//     width: 100%;
//     margin-right: 2.5px;
//     font-size: 80%;
//     padding: 10px 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     color: lighten($primary-text-color, 100%);
//     background-color: darken($table-primary__background, 10%);
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//     transition: 0.2s ease-in-out;
//     cursor: pointer;

//     &:last-child {
//       margin: 0;
//     }

//     &:hover {
//       color: lighten($primary-text-color, 10%);
//       background-color: darken($primary-background-color, 5%);
//     }

//     &--active {
//       color: lighten($primary-text-color, 50%);
//       background-color: $primary-background-color;
//     }
//   }

//   .tableview_requests__row--header {
//     font-weight: normal;
//     word-wrap: break-word;
//     word-break: break-all;
//     font-size: 80%;
//     border-top: 1px solid $table-border__header; //border between columns
//     position: sticky; //test
//     top: calc(-6px); //test
//     .tableview_requests__col {
//       border-right: 1px solid $table-border__header; //border between columns
//       &:nth-child(2) {
//         flex: 0 1 calc(30% + 0.75 * 20%);
//         justify-content: center;
//         padding: 0px 0px;
//       }

//       &:nth-child(3) {
//         // flex: 0 1 10%;
//         flex: 0 1 calc(5% + 0.125 * 20%);
//         padding: 0;
//       }
//       &:nth-child(4) {
//         // flex: 0 1 10%;
//         flex: 0 1 calc(5% + 0.125 * 20%);
//         padding: 0;
//       }

//       &:nth-child(5) {
//         flex: 0 1 10%;
//         max-width: 10%;
//       }

//       &:nth-child(6) {
//         flex: 0 1 10%;
//       }

//       &:nth-child(7) {
//         max-width: 80px;
//       }

//       &:last-child {
//         flex: 0 1 10%;
//         max-width: 200px;
//       }
//     }
//   }

//   &__row {
//     font-size: 70%;
//     display: flex;
//     background-color: $primary-background-color;
//     border-bottom: 1px solid $table-border;
//     text-align: center;
//     transition: 0.2s ease-in-out;

//     .tableview_requests__col {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       padding: 15px 5px;
//       flex: 0 1 12.5%;
//       word-break: break-word;
//       border-right: 1px solid $table-border; //border between columns

//       .tableview_requests__sub_row {
//         display: flex;
//         width: 100%;
//         border-bottom: 1px solid $table-border;

//         &:last-child {
//           border: 0;
//         }

//         .tableview_requests__sub_col {
//           padding: 5px 0px;
//           display: flex;
//           justify-content: center;
//           align-items: center;

//           &:first-child {
//             flex: 0 1 75%;
//             border-right: 1px solid $table-border;
//           }

//           &:nth-child(2) {
//             flex: 0 1 12.5%;
//             border-right: 1px solid $table-border;
//           }

//           &:last-child {
//             flex: 0 1 12.5%;
//             max-width: 12.5%;
//           }
//         }
//       }

//       &:nth-child(1) {
//         flex: 0 1 8%;
//         max-width: 65px;
//       }

//       &:nth-child(2) {
//         flex: 0 1 60%;
//         padding: 0px;
//         flex-direction: column;
//         justify-content: stretch;
//       }

//       &:nth-child(3) {
//         flex: 0 1 10%;
//         max-width: 10%;
//       }

//       &:nth-child(4) {
//         // flex: 0 1 10%;
//         flex: 0 1 10%;
//         max-width: 10%;
//       }

//       &:nth-child(5) {
//         max-width: 80px;
//         display: flex;
//         flex-direction: column;
//       }

//       &:last-child {
//         border-right: none;
//       }
//     }

//     .tableview_requests__status_select,
//     .tableview_requests__status_select--color {
//       width: 100%;
//       padding: 5px 0px;
//       font-size: 90%;
//       border-radius: 5px;
//       outline: 0;
//     }

//     .tableview_requests__status_select--color {
//       option {
//         // content: "";
//       }

//       option[value="red"] {
//         background: red;
//         &:hover {
//           box-shadow: 0 0 10px 100px red inset;
//         }
//       }
//       option[value="green"] {
//         background: green;
//         &:hover {
//           box-shadow: 0 0 10px 100px green inset;
//         }
//       }
//       option[value="grey"] {
//         background: grey;
//         &:hover {
//           box-shadow: 0 0 10px 100px grey inset;
//         }
//       }
//     }

//     .tableview_requests__actions {
//       flex: 0 1 10%;
//       display: flex;
//       padding: 10px 5px;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       max-width: 200px;

//       .tableview_requests__action {
//         font-size: 90%;
//         width: 75%;
//         border-radius: 5px;
//         margin-bottom: 5px;
//         padding: 5px 10px;
//         border: 0;
//         outline: none;
//         cursor: pointer;
//         color: $secondary-text-color;
//         background-color: $button__background--inverted;
//         transition: 0.2s ease-in-out;
//         word-wrap: break-word;
//         word-break: break-all;

//         &:last-child {
//           margin: 0;
//         }

//         &:hover {
//           box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
//           background-color: lighten($button__background--inverted, 5%);
//         }
//       }
//     }

//     &:first-of-type {
//       border-top-left-radius: 10px;
//       border-top-right-radius: 10px;
//       // padding: 0px 5px;
//     }

//     &:last-of-type {
//       border-bottom-left-radius: 10px;
//       border-bottom-right-radius: 10px;
//       border-bottom: 0;
//     }
//   }

//   .tableview_requests__row--even {
//     background-color: #ebebeb;
//   }

//   .tableview_requests__row--odd {
//     background-color: #f8f8f8;
//   }

//   .tableview_requests__row--status_problem {
//     background-color: #c48681;
//     &:hover {
//       background-color: darken(#c48681, 5%);
//     }
//   }

//   .tableview_requests__row--status_materials {
//     background-color: #d4b77e;
//     &:hover {
//       background-color: darken(#d4b77e, 5%);
//     }
//   }

//   .tableview_requests__row--status_waiting {
//     background-color: #9ec2b6;
//     &:hover {
//       background-color: darken(#9ec2b6, 5%);
//     }
//   }

//   .tableview_requests__row--status_in_production {
//     background-color: #87a8b6;
//     &:hover {
//       background-color: darken(#87a8b6, 5%);
//     }
//   }

//   .tableview_requests__row--status_ready {
//     background-color: #5ea76e;
//     &:hover {
//       background-color: darken(#5ea76e, 5%);
//     }
//   }

//   .tableview_requests__row--status_shipped {
//     background-color: #95ad7c;
//     &:hover {
//       background-color: darken(#95ad7c, 5%);
//     }
//   }

//   .tableview_requests__row--status_completed {
//     background-color: #bed6c3;
//     &:hover {
//       background-color: darken(#bed6c3, 5%);
//     }
//   }

//   .tableview_requests__row--status_priority {
//     background-color: #e65252;
//     &:hover {
//       background-color: darken(#e65252, 5%);
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .tableview_requests {
//     flex-direction: column;
//     align-self: flex-start;
//     margin-left: 5px;
//     width: calc(100% - 10px);

//     // &__row:first-of-type {
//     //   .tableview_requests__col {
//     //     word-wrap: break-word;
//     //     word-break: break-all;
//     //   }
//     // }
//   }
// }
