@import "../../../../variables.scss";

.tableview_products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0;

  .main-window__list {
    width: 100%;
    margin-top: -11px;
    .main-window__list-item {
      span {
        font-size: 105%;
        &:nth-child(1) {
          flex: 0 1 80%;
        }
      }

      .main-window__actions {
        font-size: 110%;
        flex: 0 1 10%;
        flex-direction: row;
      }
    }

    .main-window__list-item:not(.main-window__list-item--header) span {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;

      span {
        width: fit-content;
        white-space: nowrap;
        // min-width: 0;
        flex: none;
        padding-left: 0;
        margin-right: 5px;
      }

      .tableview_products__items-count {
        font-size: 90%;
        align-self: flex-start;
        padding: 0;
        // margin-left: 10px;
        color: #888888;
        transition: 100ms ease-in-out;

        //straight row test
        // line-height: 1rem;
        font-size: 100%;
        align-self: center;
      }

      .main-window__mobile-text {
        font-weight: normal;
      }
    }

    .main-window__list-options {
      flex-direction: column;
      .main-window__list {
        width: calc(100% - 15px);
        .main-window__list-item {
          padding: 5px 10px;
          span {
            font-size: 110%;
            cursor: auto;
            padding: 5px 10px;
            font-weight: normal;
            line-height: unset;
            &:nth-child(1) {
              flex: 0 1 10%;
              min-width: 90px;
              max-width: 100px;
              font-weight: normal;
              padding: 0px 10px;
            }
            &:nth-child(2) {
              flex: 0 1 30%;
            }
            &:nth-child(3) {
              flex: 0 1 10%;
              max-width: 80px;
            }
          }

          .main-window__actions {
            flex: 0 1 12%;
            flex-wrap: wrap;
            .main-window__action--row {
              .main-window__action {
                &:hover {
                  background-color: #bbbbbb;
                  // padding: 7.5px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__product_img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 5px;
    // width: 80px;
    // padding: 5px;
  }

  .main-window__action--row {
    display: flex;
    flex-direction: row;
    // padding: 0;
    width: 100%;
  }
  .main-window__action--row .main-window__action {
    margin-bottom: 0;
    font-size: 100% !important;
    margin-right: 0 !important;
  }
  .main-window__action--row .main-window__action:nth-of-type(1) {
    background-color: #666666;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-window__action--row .main-window__action:nth-of-type(2) {
    background-color: green;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-window__action--row .main-window__img {
    margin: 0;
    // max-height: 20px;
    height: 15px;
    width: auto !important;
    filter: none !important;
    transform: scale(1) !important;
  }
}

@media (max-width: 768px) {
  .main-window__list {
    margin-top: -20px !important;
    .main-window__list-item:not(.main-window__list-item--header) {
      span {
        font-size: 110%;
        &:nth-child(1) {
          padding: 5px 10px;
        }
        span {
          white-space: normal !important;
          flex: 0 1 100% !important;
          max-width: fit-content;
          margin-left: auto;
          line-height: normal !important;
        }
        .tableview_products__items-count {
          max-width: fit-content;
          margin-left: 0;
          font-size: 100% !important;
          align-self: center !important;
          color: #aaaaaa !important;
          // line-height: 1rem !important;
        }
        .main-window__mobile-text {
          // line-height: normal;
        }
      }
    }
    .main-window__list-options {
      .main-window__list {
        margin-top: 0 !important;
        .main-window__list-item {
          span {
            &:nth-child(1) {
              flex: 0 1 100% !important;
              max-width: none !important;
              .main-window__mobile-text {
                margin-right: auto;
              }
              .img-loader {
                width: 100%;
                display: flex;
                justify-content: center;
              }
              .tableview_products__product_img {
                // margin: 0 auto;
                min-width: 150px;
                max-height: none;
              }
            }
            &:nth-child(3) {
              max-width: none !important;
            }
            .main-window__mobile-text {
              margin-right: auto;
            }
          }
          .main-window__actions {
            .main-window__action--row {
              width: fit-content;
              .main-window__action {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}
