@import "../../../../variables.scss";

.view-requests {
    display: flex;
    flex-direction: column;
    width: 100%;

    .tableview-workshops {
        .main-window {
            min-width: 100%;
        }
    }

    .main-window {
        width: 100%;
        padding: 0;
        &__list {
            width: 100%;
            &-item {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
