@import "../../variables.scss";

.sidemenu {
  --sidemenu__background-color: #305779;
  --buttons__border-radius: 3px;

  font-size: 82%;
  width: 240px;
  max-height: calc(100vh - 70px);
  padding: 5px 0 0 0;
  transform-origin: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc; //light-theme
  background-color: #fff; //light-theme
  // background-color: var(--sidemenu__background-color); //dark-theme
  color: $primary-text-color;
  z-index: 999;
  position: fixed;
  top: 60px;
  height: 100%;
  color: $primary-text-color;
  z-index: 99;
  padding-top: 10px;

  * {
    font-family: "Montserrat", sans-serif;
  }

  .sidemenu__add-buttons {
    display: flex;
    flex-direction: column;
    min-height: 43px;
    align-items: center;
    width: 100%;
  }

  &__item,
  &__item--add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 8px;
    border-radius: var(--buttons__border-radius);
    width: 90%;
    font-size: 0.8rem;
    white-space: nowrap;

    &::before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 4px;
      height: 100%;
      background-color: transparent;
    }

    .sidemenu__img {
      min-width: 20px;
      filter: brightness(1.8);
      --icon-fill: #777; //light-theme
      // --icon-fill: #aebcd3; //dark-theme
      filter: none;

      path:first-child {
        fill: var(--icon-fill);
      }

      &--price {
        path:nth-child(1) {
          fill: transparent;
          stroke: var(--icon-fill);
        }
        path:nth-child(2) {
          fill: var(--icon-fill);
        }
      }

      &--product {
        path:nth-child(1) {
          fill: var(--icon-fill);
        }
        path:nth-child(2) {
          fill: var(--icon-fill);
        }
      }

      &--request {
        g {
          fill: var(--icon-fill);
        }
      }

      &--employees {
        g {
          fill: var(--icon-fill);
        }
      }

      &--factory {
        path:nth-child(2) {
          fill: transparent;
        }
      }
    }

    &--active {
      background-color: #eee; //light-theme1
      background-color: $main-color; //light-theme2
      // background-color: lighten($main-color--dark, 2%); //dark-theme
      // background-color: darken($main-color, 5%); //dark-theme2
      // background-color: $main-color; //dark-theme3

      & .sidemenu__img {
        --active-icon-fill: #6e7b8cff;

        filter: none;
        --active-icon-fill: #247fa7; //light-theme
        --active-icon-fill: #fff; //dark-theme

        path:first-child {
          fill: var(--active-icon-fill);
        }

        &--price {
          path:first-child {
            fill: transparent;
            stroke: var(--active-icon-fill);
          }
          path:nth-child(2) {
            fill: var(--active-icon-fill);
          }
        }

        &--product {
          path:nth-child(1) {
            fill: var(--active-icon-fill);
          }
          path:nth-child(2) {
            fill: var(--active-icon-fill);
          }
        }

        &--request {
          g {
            fill: var(--active-icon-fill);
          }
        }

        &--employees {
          g {
            fill: var(--active-icon-fill);
          }
        }

        &--factory {
          path:nth-child(2) {
            fill: var(--active-icon-fill);
          }
        }
      }

      .sidemenu__link {
        color: darken($button__background--inverted, 5%) !important; //light-theme
        color: $secondary-text-color !important; //dark-theme
      }

      .sidemenu__addButton {
        .sidemenu__img {
          path:first-child {
            fill: #ddd !important;
          }
        }

        &:hover {
          .sidemenu__img {
            path:first-child {
              fill: #fff !important;
            }
          }
        }
      }

      .sidemenu__dropdown-menu {
        .sidemenu__item {
          .sidemenu__link {
            color: #777 !important; //light theme
            // color: #98abc7 !important; //dark theme
            .sidemenu__img {
              --active-icon-fill: #aaa; //light theme
              // --active-icon-fill: #7d94b1dd; //dark theme
              path:first-child {
                fill: var(--active-icon-fill);
              }
            }
          }
          &--active {
            .sidemenu__link {
              .sidemenu__img {
                // --active-icon-fill: #008a89; //light-theme
                --active-icon-fill: #fff; //dark-theme
                path:first-child {
                  fill: var(--active-icon-fill);
                }
              }
              color: darken($button__background--inverted, 5%) !important; //light-theme
              color: #fff !important; //dark-theme
            }
          }
        }
      }
    }

    .sidemenu__img--icon {
      transition: filter 0.5s;
      transform: translate3d(-1px, -1px, 0);
      border: solid 1px transparent;
      border-width: 1px 0 0 1px;
      padding-right: 5px;
    }

    &--add {
      justify-content: center;
      margin-bottom: 0;
      max-width: calc(100% - 43px);
      width: 100%;
      padding: 9px 10px;
      border: 1px solid rgba(#bbb, 0.9);
      border-radius: var(--buttons__border-radius);
      transform-origin: 0 0;
      text-align: center;
      font-size: 90%;
      color: #6f6f6f; //light-theme
      // color: #fff; //dark-theme
      font-weight: 500;
      cursor: pointer;
      transition: border-color 100ms ease-in-out, color 100ms ease-in-out;
      span {
        width: 100%;
      }

      &:hover {
        border-color: rgba(#aaa, 0.9);
      }
    }

    &--hidden {
      transform: scaleY(0);
      height: 0;
      padding: 0;
      margin: 0;
      border-width: 0;
    }

    .sidemenu__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $primary-text-color;
      padding: 10px 5px;
      overflow: hidden;
      padding-left: 0;
      font-size: 100%;
      width: calc(100% - 25px);
      color: #999; //light-theme
      // color: #aebcd3; //dark-theme
      font-weight: 500;

      .sidemenu__img {
        margin-left: 5px;
        margin-right: 10px;
      }

      span {
        transform-origin: left;
        font-size: 105%;
      }
    }

    .sidemenu__addButton {
      color: $secondary-text-color;
      font-size: 25px;
      padding: 1px;
      display: flex;
      align-items: center;
      transition: filter 0.5s ease-in-out;
      transform: translate3d(-1px, -1px, 0);
      border: solid 1px transparent;

      .sidemenu__img {
        min-width: 20px;
        max-width: 20px;
        path:first-child {
          fill: #999; //light-theme
          // fill: var(--icon-fill); //dark-theme
          transition: 100ms ease-in-out;
        }
      }

      &:hover {
        .sidemenu__img {
          margin: 0;
          padding: 0;
          path:first-child {
            fill: darken($button__background--inverted, 5%); //light-theme
            // fill: #fff; //dark-theme
          }
        }
      }
    }
  }

  .sidemenu__item:nth-of-type(n + 1) {
    min-width: 220px;
    max-width: 220px;
    white-space: normal;
    box-sizing: border-box;
    padding: 0 5px;
    padding-right: 7px;
  }

  .sidemenu__dropdown-menu {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: 0 0%;
    box-sizing: border-box;
    border-radius: var(--buttons__border-radius);
    border: 1px solid #cccccc; //light-theme
    // border: 1px solid rgba(#bbb, 0.3); //dark-theme
    width: fit-content;
    min-width: calc(100% - 10px);
    padding: 5px;
    transition: 100ms ease-in-out;
    background-color: #ffffff; //light-theme
    // background-color: var(--sidemenu__background-color); //dark-theme

    .sidemenu__item {
      max-width: 100% !important;
      width: 100%;
      &::before {
        left: -1px;
      }
      &:hover {
        .sidemenu__img--icon {
          transform: scale(1.1);
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .sidemenu__item {
      padding: 0;
      margin: 0;
      margin-bottom: 5px;
      .sidemenu__link {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        white-space: nowrap;

        .sidemenu__img {
          margin-left: 0;
        }
      }
    }
  }

  .sidemenu__item {
    position: relative;
  }
  .sidemenu__item:hover > .sidemenu__dropdown-menu {
    transform: scaleY(1);
  }

  &--hidden {
    width: 70px;
    align-items: flex-start;

    .sidemenu__add-buttons {
      display: flex;
      flex-direction: column;
      width: 0;
      min-height: 0;
      height: 0;
      align-items: center;

      .sidemenu__item--add {
        transform: scale(0);
      }
    }

    .sidemenu__item {
      width: 100%;
      padding: 0 5px;
      box-sizing: border-box;
      min-width: 0 !important;
      max-width: 40px !important;
      margin-right: 0;
      margin-left: 15px;

      &:nth-of-type(n + 1) {
        min-width: 200px;
        max-width: 200px;
        white-space: normal;
        padding-right: 5px;
      }

      .sidemenu__link {
        min-width: 30px;
        max-width: 30px;
        width: 100%;
        padding-right: 0;
        justify-content: center;
        span {
          max-width: 0;
          white-space: nowrap;
          transform: scaleX(0);
        }

        .sidemenu__img {
          margin-right: 0;
          padding-right: 0;
          width: 25px;
          margin-left: -1px;

          &--bigger {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .sidemenu__dropdown-menu {
      min-width: 200px;
      width: fit-content;

      .sidemenu__item {
        .sidemenu__link {
          margin-right: 10px;
          max-width: fit-content;

          .sidemenu__img {
            margin-right: 10px !important;
          }
        }
      }
    }

    .sidemenu__addButton {
      transform: scale(0);
      max-width: 0;

      .sidemenu__img {
        transform: scale(0);
      }
    }
  }
  @media (max-width: 1024px) {
    .sidemenu__add-buttons {
      min-height: 35px;

      .sidemenu__item--add:not(.sidemenu__item--hidden) {
        padding: 6px 5px;
      }
    }
    .sidemenu__item {
      .sidemenu__link {
        padding: 6px 5px;
      }
    }
    & {
      position: fixed;
      left: 0;
      height: 100%;
      z-index: 99;
      overflow-y: auto;
      overflow-x: hidden;

      &--hidden {
        width: 0;
        left: -200px;
      }

      .sidemenu__dropdown-menu {
        top: calc(100% + 0px);
        left: 0px;
      }
    }
  }
}
