@import "../../../variables.scss";

.control-panel {
    width: 100%;

    .main-window__control-panel-wrapper {
        padding-top: 5px;
        padding-bottom: 10px;

        .control-panel__buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .main-window__button {
                margin-top: 5px;
                padding: 8px 10px;
                font-size: 85%;
            }

            .switch {
                margin-top: 5px;
                margin-right: 10px;
            }
            .searchbar {
                max-width: 50%;
                margin-right: auto;
                padding: 0;
                align-self: center;
                margin-left: -15px;
            }

            .main-window__amount_table {
                color: #666666;
                align-self: center;
                margin-top: 5px;
                margin-left: auto;
            }

            .main-window {
                padding: 0;
            }

            .main-window__sort-panel {
                width: max-content;
                margin-bottom: 0;
                margin-right: 10px;
                box-sizing: border-box;
                padding-top: calc(5px);
                position: relative;
                background-color: #ffffff;

                &::before {
                    width: 100%;
                    height: 20px;
                    position: absolute;
                    content: "Сортировка";
                    top: 8px;
                    left: 10px;
                    z-index: 0;
                    color: #777777;
                    font-size: 95%;
                }

                select {
                    padding-top: 18px; //default - padding-top: 15px;
                    padding-right: 25px;
                    padding-left: 9px;
                    height: 100%;
                    margin: 0;
                    box-sizing: border-box;
                    min-width: 150px;
                    z-index: 0;
                    background-color: transparent;
                    cursor: pointer;
                    border: 1px solid #cccccc;
                    transition: background-color 100ms ease-in-out;

                    //custom arrow
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: transparent;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'></path></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 100%;
                    background-position-y: calc(50% + 2px);
                }
            }
        }

        .main-window__button--filter {
            // border-color: #bbbbbb;
            border-color: #cccccc;
            justify-content: space-between;
            padding: 8px 8px !important;
            padding-right: 5px !important;

            span {
                // margin-right: 6px;
                //test
                margin-right: 20px;
                font-size: 95%;
            }

            .main-window__img {
                filter: none;
                max-width: 18px;
                margin-top: 1px;
                margin-right: 0;
                transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);

                path:nth-child(1) {
                    transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);
                    fill: #333333;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .main-window__control-panel-wrapper {
            padding-left: 15px;
            padding-right: 15px;
            .control-panel__buttons {
                .main-window__sort-panel {
                    select {
                        padding-top: 18px !important; //default - padding-top: 15px;
                        padding-right: 25px !important;
                        padding-left: 9px !important;
                        max-width: 240px;
                    }
                }
            }
        }
    }
}
