.control-panel {
    width: 100%;

    .main-window__control-panel-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;

        .control-panel__buttons {
            display: flex;
            flex-direction: row;

            .main-window__amount_table {
                color: #666666;
                align-self: center;
            }
        }

        .main-window__button--filter {
            padding: 5px 20px;
            padding-right: 15px;
            font-size: 85%;

            span {
                margin-right: 6px;
            }

            .main-window__img {
                filter: none;
                max-width: 18px;
                margin-top: 1px;
                margin-right: 0;
                transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);

                path:nth-child(1) {
                    transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);
                    fill: #333333;
                }
            }

            &:hover {
                .main-window__img {
                    path:nth-child(1) {
                        fill: #eeeeee;
                    }
                }
            }
        }
    }
}
