@import "../../../../variables.scss";

.general_tasks {
    --completed: #52d66c;
    --in-progress: #94bbe2;
    --delayed: #e79ecb;
    --problem: #da756e;
    --materials: #d4ad5e;
    .main-window {
        &__title {
            text-align: left;
            width: 100%;
            padding: 0 25px;
            box-sizing: border-box;
            margin-bottom: 0px;
        }
    }
    .main-window__header {
        flex-direction: column;
        .main-window__menu {
            // border-bottom-left-radius: 5px;
            // border-bottom-right-radius: 5px;
            border-radius: 2.5px;
            // background-color: #ffffff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.1);
        }
    }
    .searchbar {
        // background-color: $secondary-text-color;
        width: calc(100% - 25px);
        text-align: left;
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;
        // padding-top: 0px;
    }

    .main-window__info-panel {
        margin-bottom: 0;
    }

    .main-window__status-panel {
        .main-window__list-item--completed::before {
            background-color: var(--completed);
        }
        .main-window__list-item--delayed::before {
            background-color: var(--delayed);
        }
        .main-window__list-item--materials::before {
            background-color: var(--materials);
        }
        .main-window__list-item--in-progress::before {
            background-color: var(--in-progress);
        }
        .main-window__list-item--problem::before {
            background-color: var(--problem);
        }
    }
}
