@import "../../../variables.scss";

.general-page {
  .main-window {
    &__content {
      width: calc(100% - 25px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .main-window__control-panel {
      display: flex;
      flex-direction: row;
      // height: 200px;
      margin-bottom: 10px;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      .main-window__button {
        padding: 5px 10px;
        line-height: 2rem;
      }
    }
    .img-loader {
      position: absolute;
      top: -20px;
      right: -80px;
    }
    .main-window__img {
      width: 20px;
      margin-right: 5px;
      filter: invert(1);
    }
    &__date {
      padding: 5px;
      font-size: 90%;
    }
  }
}
