@import "../../../../variables.scss";

.select-work-history {
  width: 100%;
  margin-bottom: 10px;

  .main-window {
    width: 100%;
    padding: 0;
  }

  .button {
    font-size: 0.8rem;
  }

  .main-form__item {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    .main-form__input_name {
      width: fit-content;
      margin-bottom: 0;
      flex: none;
    }
    .main-form__input_field {
      width: fit-content;
    }
  }

  .select-work-history__hints-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4a5e5e;
    // border-radius: 3px;
    font-size: 0.8rem;
    position: absolute;
    width: 100%;
    min-width: 125px;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 100ms ease-in-out;
    transform-origin: 50% 0%;
    z-index: 999;
    // transform: scaleY(0);
  }

  .select-work-history__hint {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    color: #dddddd;
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #344141;
    }
  }

  .select-work-history__hints-wrapper--hidden {
    transform: scaleY(0);
  }

  .main-form__buttons {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      color: #777;
      cursor: pointer;
      font-size: 1rem;

      .main-form__img {
        transition: 100ms ease-in-out;
        width: 20px;
        // padding: 5px;
        margin-right: 4px;
      }

      &:last-child {
        margin-right: 0px;
        .main-form__img {
          width: 17px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .main-window {
      .main-form__buttons {
        max-width: none;
        width: 100% !important;

        span:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .main-form__item {
      flex-direction: column;
      align-items: flex-start;
      .add-to-button {
        &__link {
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
}
