@import "../../../../../variables.scss";

.tableview_users {
  width: 100%;
  margin-top: -11px;
  .main-window__list {
    .main-window__list-item {
      span {
        &:nth-child(1) {
          flex: 0 1 30%;
        }
        &:nth-child(3) {
          flex: 0 1 10%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: -20px;
  }
}
