@import "../../../../../../variables.scss";

.notes-journal {
    padding: 15px 0;
    padding-bottom: 60px;
    background-color: #fff;
    font-size: 1rem;

    .main-window__header {
        // margin-bottom: 25px;

        .main-window__title {
            width: 100%;
        }
    }

    .control-panel {
        margin-bottom: 25px;

        .main-window__control-panel-wrapper {
            padding-top: 10px;
        }

        .input_date {
            margin-bottom: 0;

            &__input {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            &__input_name {
                width: fit-content;
                flex: none;
                margin-bottom: 0;
            }
            &__input_field {
                width: fit-content;
            }
        }
    }

    &__current-date {
        display: flex;
        align-items: center;
        margin-left: 25px;
        font-size: 1.5rem;
        margin-bottom: 15px;

        .main-window__img {
            padding: 5px;
            cursor: pointer;
            &:first-child {
                margin-right: 5px;
                margin-left: -10px;
            }
            &:nth-child(2) {
                margin-left: 5px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        // max-width: 1200px;
        padding: 0 25px;

        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            > span {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                margin-bottom: 5px;
                cursor: pointer;
            }

            &--header {
                flex-direction: row;

                > span {
                    flex: 0 1 50%;
                    &:nth-child(n + 2) {
                        flex: 0 1 25%;
                    }
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            .employees__row {
                display: flex;
                align-items: flex-start;
                border: 1px solid #ccc;
                padding: 10px 10px;
                margin-bottom: 15px;
                border-radius: 3px;
                transition: 100ms ease-in-out;
                background-color: #f5f5f5;

                &:hover {
                    // background-color: #e7e7e7;
                }

                &:first-child {
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }

                &:last-child {
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                &:nth-child(2n + 1) {
                    background-color: #ffffff;

                    &:hover {
                        // background-color: #f4f4f4;
                    }
                }

                // TABLE DESIGN
                margin-bottom: 0;
                border-radius: 0;
                &:not(:last-child) {
                    border-bottom: none;
                }
                &:last-child {
                    margin-bottom: 15px;
                }

                > span {
                    flex: 0 1 30%;
                    align-self: stretch;
                    display: flex;
                    flex-direction: column;

                    > div {
                        font-size: 0.9rem;
                        color: #777;
                    }
                }

                .employees__days-wrapper {
                    flex: 0 1 70%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: stretch;

                    > span {
                        flex: 0 1 50%;
                        &:nth-child(1) {
                            margin-right: 20px;
                        }
                        position: relative;

                        .employees__field-name {
                            position: absolute;
                            left: 6px;
                            top: 1px;
                            padding-top: 3px;
                            box-sizing: border-box;
                            user-select: none;
                            pointer-events: none;
                            color: #888;
                            font-size: 0.9rem;
                            background-color: #fff;
                            padding-right: 2px;
                            width: fit-content;
                        }

                        textarea {
                            resize: vertical;
                            width: 100%;
                            padding: 5px 5px;
                            padding-top: 22px;
                            box-sizing: border-box;
                            border-radius: 3px;
                            border: 1px solid #ccc;
                            outline: none;
                            height: 3.2rem;
                            min-height: 3.2rem;
                            max-height: 5rem;
                            font-size: 1rem;
                            transition: 100ms ease-in-out;

                            &:hover {
                                border-color: #999;
                            }

                            &:focus {
                                border-color: $button__background--inverted;
                            }
                        }
                    }

                    .employees__day {
                        font-size: 1rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;

                        &-header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-bottom: 5px;
                            & > span {
                                color: #999;
                                font-size: 0.9rem;
                            }
                            .add-to-button {
                                margin-right: 7px;
                                &__link {
                                    margin: 0;
                                    border: 1px solid #ccc;
                                    border-radius: 999px;
                                    padding: 2px 10px;
                                    padding-left: 12px;
                                }
                            }
                        }
                        .employees__work-item {
                            // border: 1px solid transparent;
                            border: 1px solid #ccc;
                            background-color: transparent;
                            padding: 5px 10px;
                            width: 100%;
                            // min-height: 3rem;
                            // height: 100%;
                            box-sizing: border-box;
                            cursor: pointer;
                            position: relative;
                            border-radius: 3px;
                            transition: 100ms ease-in-out;
                            margin-bottom: 5px;

                            .employees__img {
                                position: absolute;
                                top: 7px;
                                right: 10px;
                                opacity: 0;
                                transition: 100ms ease-in-out;
                            }

                            &:hover {
                                background-color: #eee;
                                border-color: #ccc;

                                .employees__img {
                                    opacity: 1;
                                }
                            }

                            .employees__work-header {
                                display: flex;
                                align-items: center;

                                span {
                                    &:nth-child(1) {
                                        margin-right: 10px;
                                    }
                                    &:nth-child(2) {
                                        color: #777;
                                        padding: 2px 5px;
                                        border: 1px solid #ccc;
                                        border-radius: 3px;
                                    }
                                }
                            }

                            .employees__item-list {
                                color: #555;
                                font-size: 0.9rem;
                                display: flex;
                                flex-direction: column;
                                margin-top: 4px;

                                span {
                                    margin-bottom: 4px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    // .employees__weekend {
                    //     .employees__work-item {
                    //         border-color: #f3c9c9;
                    //         background-color: #faf3f3;
                    //     }
                    // }
                }
            }
        }
    }

    .button {
        // margin-left: 25px;
        // margin-top: 20px;
        right: 15px;
        bottom: 30px;
        position: fixed;
    }

    @media (max-width: 768px) {
        &__list {
            &-item {
                .employees__row {
                    flex-direction: column;

                    > span {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .control-panel {
            margin-bottom: 10px;
        }
        &__current-date {
            margin-left: 10px;
        }
        &__list {
            padding: 0 10px;
            &-item {
                .employees__row {
                    flex-direction: column;

                    > span {
                        margin-bottom: 10px;
                    }

                    .employees__days-wrapper {
                        flex-direction: column;

                        span:first-child {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
