@import "../../../variables.scss";

.authorization {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --padding-top: 130px;
  padding-top: var(--padding-top);
  height: calc(100vh - var(--padding-top));
  background: linear-gradient(180deg, #edeec0 0%, #247fa7 40%, #87a3a2 100%);

  &__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    .authorization__circle {
      --circle-size: 20px;
      content: "";
      width: var(--circle-size);
      height: var(--circle-size);
      background: #ffffff;
      position: fixed;
      top: 50%;
      left: 0%;
      border-radius: 999px;

      &--1 {
        --circle-size: 80vw;
        left: -10%;
        top: -80%;
        clip-path: circle();
        background: linear-gradient(0deg, #edeec0 0%, #247fa7 100%);
      }

      &--2 {
        --circle-size: 50vw;
        left: -30vw;
        top: 20vh;
        clip-path: circle();
        background: linear-gradient(180deg, #edeec0 0%, #247fa7 100%);
      }

      &--3 {
        --circle-size: 40vw;
        left: 60%;
        top: 40%;
        clip-path: circle();
        background: linear-gradient(120deg, #ffffff 0%, #edeec0 10%, #247fa7 90%);
      }
    }
  }

  @keyframes onAutoFillStart {
  }

  @keyframes onAutoFillCancel {
  }

  &__title {
    // margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 150%;
    margin: 15px 0;
    width: calc(100% - 0px);
    // padding: 0 10px;
    color: $secondary-text-color;

    // margin-bottom: 5px;

    .authorization__title-text {
      color: #333333;
      font-size: 85%;
      margin-right: auto;
      // margin: 0 5px;
      margin-top: 5px;
      margin-bottom: -10px;
    }
  }
  .authorization__img {
    width: 50px;
    margin-right: 5px;
    filter: brightness(3);
  }

  .authorization__img--logo {
    min-width: 150px;
    width: 25%;
    margin-top: 0;
    filter: none;
    margin-bottom: 5px;

    //test
    // min-width: 125px;
    // margin-right: auto;
    // margin-left: 5px;
  }

  .authorization__img--mirrored {
    transform: scaleX(-1);
  }

  &__panel {
    min-width: 250px;
    max-width: 250px;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #bbbbbb;
    background-color: rgba(#ffffff, 1);
    z-index: 0;
    padding-bottom: 20px;

    // dark-theme
    // background-color: #333333;
    // border-color: #444444;

    .authorization__field_name {
      position: absolute;
      border-radius: 15px;
      left: 15px;
      top: calc(0.5rem + 17px);
      background-color: rgba(#ffffff, 1);
      font-size: 0.8rem;
      transition: 200ms ease-in-out;
      color: #666666;
      padding: 0;
      z-index: -1;

      //dark-theme
      // background-color: transparent;

      &--focused {
        top: 6px;
        left: 10px;
        background-color: rgba(#ffffff, 1);
        font-size: 0.8rem;
        padding: 0 5px;
        z-index: 0;

        //dark-theme
        // background-color: #333333;
      }
    }

    .authorization__field_input {
      width: 100%;
      margin: 5px 0;
      position: relative;
      --padding-left: 35px;
      margin-bottom: 5px;
      margin-top: 5px;
      background-color: transparent;
      padding-top: 15px;
      margin-bottom: 3px;
      margin-top: 0;

      &:last-child {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="password"] {
        border: 1px solid #cccccccc;
        width: 100%;
        padding: 10px 10px;
        border-radius: 3px;
        background-color: transparent;
        box-sizing: border-box;
        padding-left: 12px;
        transition: 100ms ease-in-out;

        //dark-theme
        // background-color: rgba(#333333, 0.3);
        // border: 1px solid #555555;
        // color: #bbbbbb !important;

        //check for autofill
        &:-webkit-autofill {
          animation-name: onAutoFillStart;
          transition: background-color 50000s ease-in-out 0s;
          // color: #bbbbbb !important;
        }

        &:not(:-webkit-autofill) {
          animation-name: onAutoFillCancel;
          // color: #bbbbbb !important;
        }

        &:hover {
          border-color: #bbbbbb;
        }

        &:focus {
          border-color: $main-color;
        }
      }
      & .authorization__line {
        width: 22px;
        height: 2px;
        // background-color: red;
        background-color: #000000;
        border-radius: 999px;
        position: absolute;
        right: 8px;
        top: calc(24px + 0.55rem);
        transform-origin: 50% 100%;
        transform: scaleX(1);
        transform: rotate(-45deg);
        cursor: pointer;
        transition: 0.1s ease-in-out;
      }
      & .authorization__line--hidden {
        transform: scaleX(0);
        height: 0;
      }
    }
    .authorization__field_input .authorization__img {
      position: absolute;
      // width: 30px;
      width: 25px;
      top: calc(0.5rem + 15px);
      left: 5px;
      // right: 0;
      margin-right: 0;
      filter: brightness(70%);

      //dark-theme
      // filter: brightness(2);

      &.authorization__img--password {
        width: 20px;
        left: 7px;
        // margin-left: 8px;
        // top: 0.5rem;

        //dark-theme
        // filter:  invert(1) brightness(1);
      }
      &.authorization__img--eye {
        left: auto;
        right: 10px;
        top: calc(0.5rem + 15px);
        cursor: pointer;
        max-width: 22px;

        //dark-theme
        // filter: invert(1) brightness(0.7);
      }
    }

    .authorization__link {
      margin-top: 10px;
      font-size: 85%;
      max-width: 250px;
      color: #333333;

      a {
        margin: 2px;
        font-size: 110%;
        text-decoration: underline;
      }
    }

    .button__img {
      filter: brightness(3);
      margin-top: 0.5px;
    }

    .main-window__button {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
      margin-bottom: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .main-window__button .button__img {
      // width: 25px;
      // margin-left: 5px;
    }
  }
  & .checkbox {
    margin-top: 5px;
    &__text {
      font-size: 0.85rem;
      //dark-theme
      // color: #eeeeee;
    }
  }

  @media (max-width: 768px) {
    // background: linear-gradient(180deg, #edeec0 0%, #00a3a2 100%);
    &__background {
      .authorization__circle {
        &--1 {
          --circle-size: 500px;
          top: -200px;
          left: -150px;
        }
        &--2 {
          --circle-size: 300px;
          top: 250px;
          left: -150px;
        }
        &--3 {
          --circle-size: 300px;
          top: 300px;
          left: calc(100% - 150px);
        }
      }
    }
  }

  @media (max-width: 500px) {
    &__panel {
      max-width: 300px;
      width: 90%;
      box-sizing: border-box;
      padding: 10px 25px;
      padding-bottom: 20px;

      .authorization__link {
        max-width: none;
      }
    }
  }
}
