@import "../../../../../variables.scss";

.select-work-hours {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  min-height: 250px;
  padding-left: 50px;
  position: relative;

  &__panel {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 1px solid$main-color;
    border-radius: 5px;
    padding: 25px 15px;
    cursor: pointer;
    font-size: 100%;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 100px;
    width: 100%;
    max-width: 250px;

    div {
      font-size: 90%;
    }

    div:nth-child(1) {
      text-align: left;
      font-weight: bold;
      font-size: 100%;
      width: 100%;
    }
  }

  &__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    min-height: 100%;

    .select-work-hours__wrapper {
      display: flex;
      flex-direction: row;
    }

    .select-work-hours__wrapper--vertical {
      display: flex;
      flex-direction: column;
    }

    .select-work-hours__info {
      background-color: $main-color;
      color: $secondary-text-color;
      border-radius: 3px;
      padding: 10px 10px;
      cursor: pointer;
      font-size: 80%;
      transition: 0.2s ease-in-out;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      width: fit-content;
      min-width: 130px;
      max-width: 130px;
      margin-right: 5px;
      box-sizing: border-box;
      white-space: nowrap;
    }

    .select-work-hours__info--inverted {
      background-color: $secondary-text-color;
      color: $primary-text-color;
      border: 1px solid$main-color;
    }

    .select-work-hours__line {
      background-color: #dedede;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 10px;
      height: 100%;
      min-height: 150px;
      margin-left: 60px;
    }
  }

  &__list {
    width: 100%;
    padding-top: 80px;
    margin-left: -172px;

    .select-work-hours__list-item {
      font-size: 90%;
      margin-bottom: 15px;
      position: relative;
      transition: 100ms ease-in-out;
      display: flex;
      flex-direction: column;
      background-color: #e9e9e9;
      border: 1px solid #cccccc;
      border-radius: 3px;
      padding: 10px 10px;
      width: 100%;
      max-width: Min(90%, 400px);
      box-sizing: border-box;

      &:hover,
      &:focus-within {
        background-color: #f4f4f4;
        .select-work-hours__work-name {
          color: #666666;
        }
      }

      .select-work-hours__work-name {
        font-weight: 500;
        color: #555555;
        padding-bottom: 0;
        transition: 100ms ease-in-out;
      }

      .select-work-hours__input {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        span {
          font-size: 90%;
          color: #444444;
          padding-right: 10px;
        }

        input[type="number"] {
          border: 1px solid #bbbbbb;
          padding: 2.5px 10px;
          border-radius: 3px;
          outline: none;
          -moz-appearance: textfield;
          height: 1.25rem;
          width: calc(60%);
          max-width: Max(3rem, 50px);
          font-size: 90%;

          &:hover {
            border-color: #999999;
          }

          &:focus {
            border: 1px solid$main-color;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .select-work-hours__products {
        margin: 10px 0;
        padding-left: 20px;
        font-size: 90%;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .select-work-hours__circle {
        content: "";
        position: absolute;
        top: 3.5px;
        left: -50px;
        width: 27px;
        height: 30px;
        background-color: #ffffff;
        z-index: 0;
        transition: 100ms ease-in-out;
      }

      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: -44px;
        width: 10px;
        height: 10px;
        border-radius: 999px;
        border: 5px solid #999999;
        background-color: #fafafa;
        z-index: 1;
        transition: 100ms ease-in-out;
      }

      &:after {
        content: "";
        position: absolute;
        top: 10px;
        left: -11px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #dfdfdf;
      }
    }
  }

  @media (max-width: 768px) {
    padding-left: 0;

    .select-work-hours__timeline {
      padding-left: 0;
    }

    .select-work-hours__list {
      width: 100%;
      .select-work-hours__list-item {
        max-width: Max(100%, 400px);
      }
    }
  }
}
