@import "../../../../variables.scss";

.select-work-history {
  width: 100%;
  margin-bottom: 10px;

  .main-window__list {
    // background-color: #eeeeee;
    border-radius: 5px;

    .main-window__list-item {
      transition: 200ms ease-in-out;
      padding: 10px 15px;
      border-radius: 0;
      font-size: 80%;

      & span {
        padding: 0 5px;
        flex: 0 1 20% !important;
        overflow: visible;

        &:nth-child(1) {
          flex: 0 1 10%;
          max-width: 100px;
        }

        &:nth-child(2) {
          flex: 0 1 25%;
        }
      }

      .main-form__input_field {
        justify-content: flex-start !important;
        width: 100% !important;
      }

      .input_date {
        width: 100%;
        margin-bottom: 0;
        &__input_name {
          display: none;
        }
        &__input_field {
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }

    .main-window__list-item--header {
      // color: #555555;
      // font-size: 85%;
      border-bottom: 1px solid #aaaaaa;
    }

    .main-window__list-item--input {
      transform-origin: 0 0;
      // overflow: hidden;

      & span:nth-child(1) {
        max-width: 90px;
      }
      .main-window__action {
        background-color: #ffffff;
        .main-window__img {
          filter: brightness(1);
        }
      }
      &:hover {
        background-color: transparent;
        box-shadow: none;
      }

      // input {
      //   width: 100%;
      // }
    }
    .main-window__list-item--hidden {
      transform: scaleY(0);
      height: 0;
      padding: 0;
      .main-form__input_field {
        visibility: hidden;
      }
    }
  }

  .main-window__actions {
    flex-direction: row !important;
    flex: 0 1 15% !important;
    flex-wrap: wrap;
    .main-window__action {
      padding: 5px 10px;
      margin-bottom: 0;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      .main-window__img {
        transition: 100ms ease-in-out;
        filter: brightness(3);
        transition: filter 0.5s;
        transform: translate3d(-1px, -1px, 0);
        border: solid 1px transparent;
        border-width: 1px 0 0 1px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__button {
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 70%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: $button__background--inverted;
    color: #ffffff;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  &__input {
    border: 1px solid #bbbbbb;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;

    &:focus {
      border: 1px solid $button__background--inverted;
    }
  }

  @media (max-width: 768px) {
    .main-window__list-item {
      & span {
        // &:nth-child(1) {
        max-width: 100% !important;
        // }
      }
    }
  }
}
