@import "../../../../variables.scss";

.select-work-history {
  width: 100%;
  margin-bottom: 10px;

  .main-window {
    width: 100%;
  }

  .button {
    font-size: 0.8rem;
  }

  .select-work-history__hints-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4a5e5e;
    // border-radius: 3px;
    font-size: 0.8rem;
    position: absolute;
    width: 100%;
    min-width: 125px;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 100ms ease-in-out;
    transform-origin: 50% 0%;
    z-index: 999;
    // transform: scaleY(0);
  }

  .select-work-history__hint {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    color: #dddddd;
    padding: 10px 10px;
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #344141;
    }
  }

  .select-work-history__hints-wrapper--hidden {
    transform: scaleY(0);
  }

  .main-form__buttons {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      color: #777;
      cursor: pointer;
      font-size: 1rem;

      &:last-child {
        margin-right: 0px;
      }
    }
    .main-form__img {
      transition: 100ms ease-in-out;
      width: 25px;
      padding: 5px;

      &:last-child {
        width: 22px;
      }
    }
  }

  @media (max-width: 768px) {
    .main-window {
      .main-form__buttons {
        max-width: none;
        width: 100% !important;
      }
    }
  }
}
