.placeholder-loading {
    @keyframes pulse1 {
        0% {
            border-color: #dbdbdb;
            background-color: #dbdbdb;
        }
        50% {
            border-color: #c5c5c5;
            background-color: #c5c5c5;
        }
        100% {
            border-color: #dbdbdb;
            background-color: #dbdbdb;
        }
    }

    @keyframes load {
        from {
            // background: linear-gradient(to right, transparent 0%, #fafafa 50%, transparent 100%);
            left: -150px;
        }
        to {
            // background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
            left: 100%;
        }
    }

    &__item {
        height: 1rem;
        background-color: #dddddd;
        animation: pulse1 1s infinite ease-in-out;
        margin-bottom: 5px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        // box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: -150px;
            top: 0;
            height: 100%;
            width: 150px;
            background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
            animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        }
    }
}
