.placeholder-loading {
    @keyframes pulse-placeholder-loading {
        0% {
            // border-color: #ebebeb;
            background-color: #ebebeb;
        }
        50% {
            // border-color: #d5d5d5;
            background-color: #d5d5d5;
        }
        100% {
            // border-color: #ebebeb;
            background-color: #ebebeb;
        }
    }

    @keyframes load {
        from {
            left: -150px;
        }
        to {
            left: 100%;
        }
    }

    &__item {
        height: 1rem;
        background-color: #dddddd;
        animation: pulse-placeholder-loading 1s infinite ease-in-out;
        // margin-bottom: 3px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid #bbbbbb;

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: -150px;
            top: 0;
            height: 100%;
            width: 150px;
            background: linear-gradient(to right, transparent 0%, #e8e8e8 50%, transparent 100%);
            animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        }
    }
}
