@import "../../../../../variables.scss";

.select-draft {
  width: 100%;
  position: relative;
  margin-top: 5px;

  &__buttons {
    flex-direction: row;

    .select-draft__search_button {
      margin-right: 5px;
    }
  }

  .select-draft__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: red;

    &--hidden {
      display: none;
    }
  }

  &__error {
    width: calc(100% - 20px);
    margin-top: 1px;
    font-size: 0.75rem;
    // position: absolute;
    // top: 2rem;
    background-color: #f73434;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;

    &--hidden {
      display: none;
    }
  }

  &__searchbar {
    display: flex;
    flex-direction: column;
    position: relative;
    .select-draft__input {
      border: 1px solid #bbbbbb;
      width: 100%;
      padding: 5px 10px;
      border-radius: 3px !important;
      z-index: 0;
      font-size: 80% !important;

      &:focus {
        border: 1px solid$main-color;
      }

      &--error {
        border: 1px solid #f73434 !important;
      }
    }

    .select-draft__search_button {
      border: 0;
      border-radius: 3px;
      width: fit-content;
      background-color: $main-color;
      color: $secondary-text-color;
      outline: none;
      cursor: pointer;
      padding: 10px 10px;
      font-size: 70%;
      transition: 0.2s ease-in-out;
      margin-bottom: 5px;

      &:hover {
        background-color: lighten($main-color, 5%);
      }
    }
    .tableview_products {
      width: 100%;
    }
  }

  &__options {
    position: absolute;
    // width: calc(85% + 15px);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    // border-radius: 2.5px;
    background-color: $secondary-text-color;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    z-index: 2;
    transform: scaleX(1);
    transition: 0.1s ease-in-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    transform-origin: 0 0;
    padding: 4px 0;

    &--hidden {
      transform: scaleY(0);
      // display: none;
    }
    .select-draft__img {
      max-width: 50px;
      border-radius: 2.5px;
      margin-right: 10px;
    }

    .select-draft__option_item {
      padding: 15px 10px;
      cursor: pointer;
      background-color: #ffffff;
      transition: 0.1s ease-in-out;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        color: $secondary-text-color;
        background-color: $main-color;
      }
    }
  }

  .searchbar {
    margin-bottom: 0;
  }

  // SELECTED ITEMS LIST

  &__selected {
    // font-size: 80%;
    display: flex;
    flex-direction: column;

    &_photo {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
      border-radius: 5px;
    }

    &_title {
      margin-top: 10px;
      margin-left: 15px;
      font-size: 85%;
      color: lighten($primary-text-color, 40%);
    }

    &_row {
      display: flex;
      flex-direction: row;
      // align-items: center;
      justify-content: space-between;
      // flex-wrap: wrap;
      margin-top: 12px;
      font-size: 0.9rem;

      &:first-of-type {
        margin-top: 12px;
      }

      .select-draft__selected_item {
        display: flex;
        padding: 0px 0px;
        border-radius: 3px;
        width: calc(60% - 30px);
        margin-right: 50px;
        position: relative;
        font-size: 90%;
        align-items: center;
        border: 1px solid #bbbbbb;
        transition: 100ms ease-in-out;
        cursor: pointer;
        background-color: #ffffff;
        color: #333333;

        &:hover {
          border-color: #999999;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .select-draft__img {
          position: absolute;
          left: calc(100% + 10px);
          width: 25px;
          border-radius: 105px;
        }

        .select-draft__selected_name {
          width: 100%;
          height: fit-content;
          padding: 10px 5px;
          border: none !important;
          cursor: pointer;
        }

        &:hover {
          // text-decoration: underline;
        }
      }

      .select-draft__selected_quantity,
      .select-draft__selected_packaging {
        width: calc(40% - 0px);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 90%;
        box-sizing: border-box;
        position: relative;

        .select-draft__input-name {
          position: absolute;
          top: -7px;
          left: 6px;
          z-index: 1;
          background-color: #ffffff;
          padding: 0 5px;
          color: #777777;
          white-space: nowrap;
          border-radius: 3px;
        }

        input[type="text"],
        input[type="number"],
        textarea {
          border: 1px solid #bbbbbb;
          font-size: 110%;
          width: 100%;
          min-width: 100px;
          display: flex;
          padding: 10px 10px;
          border-radius: 3px;
          outline: none;
          position: relative;
          align-items: center;
          transition: 100ms ease-in-out;
          z-index: 0;
          padding-top: 10px;
          box-sizing: border-box;
          color: #333333;
          height: auto;
          max-width: none;

          &:focus {
            border: 1px solid$main-color;
          }
        }
      }
    }

    .select-draft__selected_item--completed {
      background-color: #5ea76e;
      &:hover {
        background-color: darken(#5ea76e, 5%);
      }
    }
    .select-draft__selected_item--defect {
      background-color: #c48681;
      &:hover {
        background-color: darken(#c48681, 5%);
      }
    }
    .select-draft__selected_item--production {
      background-color: #87a8b6;
      &:hover {
        background-color: darken(#87a8b6, 5%);
      }
    }
  }

  &--new {
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;

    button {
      border-color: transparent;
      font-size: 28px;
      color: rgb(136, 136, 136);
      cursor: pointer;
      background-color: transparent;
      line-height: 1rem;
      margin-top: 4px;
      margin-right: 0 !important;
    }

    .select-draft__input_name {
      position: absolute;
      top: -11px;
      left: 6px;
      z-index: 1;
      color: #555555;
      font-size: 0.8rem !important;
      background-color: #ffffff;
      width: fit-content !important;
      padding: 2px 5px;
    }

    input {
      max-width: none !important;
      min-width: 0 !important;
    }

    .select-draft__selected {
      margin-top: 0px;
      margin-bottom: 10px;
      margin-right: 6px;
      width: 100%;

      .select-draft__selected_row {
        align-items: flex-start;
        margin-top: 0;

        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }

    .select-draft__selected_item {
      width: 100%;

      input {
        font-size: 0.9rem !important;
        height: 3rem !important;
        max-height: 1.6rem !important;
      }
    }
    .select-draft__img {
      max-width: 21px;
    }
    .select-draft__selected_quantity {
      margin-right: 0;
      width: calc(30%);
      min-width: 110px;
      max-width: 125px;
      input {
        min-width: 100% !important;
        height: 2.25rem !important;
        box-sizing: border-box;
        border-radius: 3px !important;
      }
    }

    .select-draft__input_field {
      font-size: 0.85rem;
    }
  }

  &--readonly {
    .select-draft__input {
      .select-draft__input_name {
        border-radius: 5px;
      }
    }
    .select-draft__selected {
      .select-draft__selected_row {
        &:first-child {
          margin-top: 0px !important;
        }
        .select-draft__selected_item {
          .select-draft__selected_name {
            height: 3rem !important;
            max-height: 1.5rem !important;
          }
        }
        .select-draft__selected_quantity {
          input {
            height: 3rem !important;
            max-height: 2.3rem !important;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;
  }

  @media (max-width: 576px) {
    width: 100% !important;
    &__selected {
      &_row {
        flex-direction: column;
        // margin-left: -25px;
        margin-top: 20px;

        .select-draft__selected_item {
          width: calc(100% - 40px);
        }

        .select-draft__selected_packaging,
        .select-draft__selected_quantity {
          // margin-right: 0;
          margin-top: 12.5px;
          width: 100%;
          input {
            width: 100%;
          }
        }
      }
    }
  }
}
