@import "../../../variables.scss";

.storage {
    .control-panel {
        margin-top: -10px;
        margin-bottom: 10px;
        border-top: 1px solid #dddddd;
        width: calc(100% + 25px);
    }
}
