@import "../../../../variables.scss";

.report-table-page {
    position: relative;
    background-color: #ffffff;
    overflow: auto;
    .main-window {
        position: relative;

        .main-window__title {
            .main-window__button {
                font-size: 60%;
                margin-left: 15px;
            }
        }

        .control-panel__buttons {
            align-items: center;
            padding-top: 5px;
        }

        .report-table-page__date {
            width: fit-content;
            align-self: flex-start;
            display: flex;
            flex-direction: row;
            margin-right: 15px;
            margin-top: 5px;
            font-size: 1rem;

            .input_date {
                width: 100%;
                margin-bottom: 0px;
                min-width: 200px;
                .input_date__input {
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: nowrap !important;
                }
                .input_date__input_name {
                    white-space: nowrap;
                    max-width: fit-content;
                }
                .react-datepicker {
                    min-width: 217px;
                }
                .react-datepicker__month-text {
                    padding: 5px 0px;
                    border-radius: 2.5px;
                }

                input {
                    width: 100%;
                    max-width: 80px;
                }
            }
        }
    }
    .control-panel {
        margin-bottom: 0px;

        .main-window__button {
            margin-top: 0 !important;
        }
    }
    &__employee-info {
        .form-window__content {
            max-width: 600px;
        }
        .report-table-page__employee-wrapper {
            padding: 0 15px;
            .report-table-page__employee-general {
                padding: 2.5px;
                padding-left: 0;
                margin-bottom: 25px;
                .report-table-page__full-name {
                    font-size: 24px;
                }
                .report-table-page__workshop {
                    font-size: 18px;
                }
                .report-table-page__position {
                    font-size: 16px;
                    color: #555555;
                }
            }
            .report-table-page__employee-date {
                font-size: 16px;
                width: 100%;
                margin-left: 0px;
                margin-bottom: 10px;
                color: #777777;
            }
            .report-table-page__wrapper {
                border: 1px solid #cccccc;
                border-radius: 3px;
                background-color: #ffffff;
                padding: 10px 20px;
                padding-bottom: 0;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .report-table-page__list {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                padding-left: 20px;
                font-size: 1rem;

                &-item {
                    color: #555555;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        position: relative;
                        margin-left: 15px;
                        &:nth-child(1) {
                            &::before {
                                content: "";
                                background-color: #dddddd;
                                // border-radius: 999px;
                                width: 2px;
                                height: 80%;
                                position: absolute;
                                right: -10px;
                                top: 15%;
                                border-radius: 999px;
                                // top: calc(50% - 3px);
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            .report-table-page__employee-title {
                font-size: 20px;
                color: #333333;
                position: relative;
                text-align: left;
                width: fit-content;
                margin-bottom: 10px;

                &--date {
                    font-size: 1.1rem;
                    border-bottom: 1px solid #bbbbbb;

                    &::after {
                        height: 2px;
                        top: calc(100% + 1px);
                        width: 100%;
                    }
                }
            }

            .report-table-page__employee-hours {
                padding: 3px 8px;
                border-radius: 3px;
                border: 1px solid #bbbbbb;
                background-color: #ffffff;
                margin: 10px 0;
                margin-left: 10px;
                white-space: nowrap;
                cursor: pointer;
                font-size: 80%;
            }
            .report-table-page__employee-works-wrapper {
                padding: 5px 0;
                margin-bottom: 20px;

                .report-table-page__employee-works-item {
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 5px;
                    }

                    &:last-child {
                        .main-window__list {
                            margin-bottom: 0;
                        }
                    }

                    a {
                        color: #000000;
                        display: inline-block;
                        flex-direction: row;
                        align-items: center;
                        width: fit-content;
                        cursor: pointer;
                        line-height: 1.5rem;

                        &:hover {
                            text-decoration: underline;
                        }

                        .report-table-page__img {
                            margin-bottom: -5px;
                            margin-left: 5px;
                            max-width: 22px;
                        }
                    }

                    .main-window__list {
                        max-width: 400px;
                        margin: 30px 0;
                        margin-top: 0px;
                        margin-left: 25px;
                        .main-window__list-item {
                            padding: 7.5px 10px;
                            font-size: 75%;
                            span {
                                &:nth-child(1) {
                                    flex: 0 1 80%;
                                }
                                &:nth-child(2) {
                                    flex: 0 1 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .employee-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 30px;
        box-sizing: border-box;

        .select-employee {
            margin-bottom: 15px;
            &__input {
                .select-employee__input_name {
                    display: none;
                }
            }
            &__searchbar {
                display: none;
            }
        }

        .main-window__button {
            width: 150px;
            height: 2rem;
        }

        .report-table-page__employee-wrapper {
            padding-left: 0;
        }
    }
    &__tableview {
        width: 100%;

        .main-window__title {
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 25px;
            margin: 0;
            margin-top: -1px;
            // border-top: 1px solid #cccccc;

            .main-window__img {
                padding: 3px 5px;
                margin: 0 5px;
                cursor: pointer;
            }
        }

        .main-window__list {
            width: fit-content;
            margin-bottom: 20px;
            min-height: 100px;
            &-item {
                border-top: 1px solid #cccccc;
                border-radius: 0 !important;
                &:not(.main-window__list-item--header) {
                    border-bottom: none;
                    &:hover {
                        background-color: #eeeeee;
                    }
                }
                &--divider {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 15px 10px;
                    width: calc(100% - 20px);
                    background-color: transparent;
                    span {
                        padding: 2.5px 10px;
                        font-size: 0.9rem !important;
                    }
                }
                &:last-child {
                    border-bottom: 1px solid #cccccc;
                }

                .report-table-page__day--weekend {
                    background-color: #f0c8c855;
                    color: #777777;
                    border-right-color: #e9d0d0 !important;

                    + .report-table-page__day--weekend {
                        border-right-color: #cccccc !important;
                    }
                }
            }
            .main-window__list-item:not(.main-window__list-item--divider) {
                padding: 0 !important;
                align-items: stretch;
                span {
                    // flex: 0 1 40px;
                    max-width: 40px;
                    min-width: 40px;
                    min-height: 35px;
                    padding: 5px 10px;
                    text-align: center;
                    &:nth-child(1) {
                        text-align: left;
                        cursor: auto;
                        flex: 0 1 100%;
                        min-width: 300px;
                        max-width: 300px;
                        position: sticky;
                        left: 0;
                        background-color: #fff;
                    }
                    &:not(:last-child) {
                        border: 1px solid transparent;
                        border-right: 1px solid #dddddd;
                    }
                    &:last-child {
                        font-weight: bold;
                        border: 1px solid transparent;
                        border-right: 1px solid #dddddd;

                        .report-table-report__date-hint {
                            font-weight: 400;
                        }
                    }
                }
            }

            .report-table-page__workshop-name {
                border-right: 1px solid #cccccc;

                span {
                    // font-weight: normal !important;
                    font-size: 0.9rem;
                    border-right: 1px solid transparent !important;
                }
            }

            .main-window__list-item:not(.main-window__list-item--header) {
                span {
                    display: flex;
                    align-items: center;
                    transition: 100ms ease-in-out;
                    .report-table-report__date-hint {
                        color: #777777;
                        transform: scaleY(0);
                        font-size: 10px;
                        height: 0;
                        transition: 100ms ease-in-out;
                    }
                    &:not(:first-child) {
                        display: flex;
                        flex-direction: column !important;
                        &:hover {
                            background-color: $secondary-text-color;
                            color: $primary-text-color;
                            border-radius: 3px;
                            transform: scale(1.3);
                            border-color: #bbbbbb;

                            .report-table-report__date-hint {
                                transform: scaleY(1);
                                height: 10px;
                            }
                        }
                        &:last-child {
                            // border-right: none;
                            // font-size: 1rem;
                            &:hover {
                                border: 1px solid #999999;
                            }
                        }
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        transition: 0ms ease-in-out;
                        cursor: pointer;
                    }
                }

                &:hover {
                    span {
                        background-color: #eeeeee;
                    }
                }
            }

            .main-window__list-item--header {
                span {
                    min-height: 0 !important;
                    &:last-child {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .control-panel {
            .report-table-page__date {
                .input_date__input {
                    .input_date__input_name {
                        margin-top: 10px;
                    }
                }
            }
        }
        .report-table-page__tableview {
            .main-window__list {
                .main-window__list-item--header {
                    display: flex;
                }
                .main-window__list-item {
                    flex-direction: row;
                    span {
                        width: auto;
                        text-align: initial !important;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .report-table-page__employee-info {
            .report-table-page__employee-title {
            }
            .main-window__list {
                margin: 0 !important;
                margin-top: 15px !important;
            }

            .report-table-page__employee-works-wrapper {
                padding-left: 5px;
            }
        }
    }
}
