@import "../../../../variables.scss";

.report-table-page {
    position: relative;
    .main-window {
        position: relative;

        .report-table-page__date {
            max-width: 250px;
            align-self: flex-start;
            margin-left: 30px;
            .input_date {
                width: 100%;
                .input_date__input_name {
                    white-space: nowrap;
                }
                .react-datepicker__month-text {
                    padding: 5px 0px;
                    border-radius: 2.5px;
                }
            }
        }
    }
    &__employee-info {
        .form-window__content {
            max-width: 600px;
        }
        .report-table-page__employee-wrapper {
            padding: 0 15px;
            .report-table-page__employee-general {
                padding: 2.5px;
                padding-left: 0;
                margin-bottom: 25px;
                .report-table-page__full-name {
                    font-size: 24px;
                }
                .report-table-page__workshop {
                    font-size: 18px;
                }
                .report-table-page__position {
                    font-size: 16px;
                    color: #555555;
                }
            }
            .report-table-page__employee-date {
                font-size: 16px;
                width: 100%;
                margin-left: 0px;
                margin-bottom: 10px;
                color: #777777;
                // text-align: center;
            }
            .report-table-page__employee-title {
                font-size: 20px;
                color: #333333;
                position: relative;
                text-align: left;
                width: fit-content;
                margin-bottom: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% + 5px);
                    background-color: #cccccc;
                    height: 3px;
                    top: calc(100% + 3px);
                    left: 0;
                }
            }

            .report-table-page__employee-hours {
                padding: 5px 10px;
                border-radius: 999px;
                background-color: $button__background--inverted;
                color: $secondary-text-color;
                margin: 10px 0;
                margin-left: 10px;
                white-space: nowrap;
                // font-size: 12px;
                font-size: 80%;
            }
            .report-table-page__employee-works-wrapper {
                padding: 5px;
                padding-left: 25px;
                margin-bottom: 20px;

                .report-table-page__employee-works-item {
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 5px;
                    }

                    &:last-child {
                        .main-window__list {
                            margin-bottom: 0;
                        }
                    }

                    .main-window__list {
                        max-width: 400px;
                        margin: 30px 0;
                        margin-top: 0px;
                        margin-left: 25px;
                        .main-window__list-item {
                            padding: 7.5px 10px;
                            font-size: 75%;
                            span {
                                &:nth-child(1) {
                                    flex: 0 1 80%;
                                }
                                &:nth-child(2) {
                                    flex: 0 1 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__tableview {
        width: calc(100% - 30px);

        .main-window__title {
            font-size: 20px;
        }

        .main-window__list {
            width: fit-content;
            margin-bottom: 50px;
            // &:first-of-type {
            //     margin-bottom: 50px;
            // }
            min-height: 100px;
            .main-window__list-item--header {
                margin-left: -1px;
            }
            .main-window__list-item {
                padding: 0 !important;
                align-items: stretch;
                span {
                    // flex: 0 1 40px;
                    max-width: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    // padding: 0 !important;
                    padding: 5px 10px;
                    // box-sizing: border-box;
                    text-align: center;
                    &:nth-child(1) {
                        text-align: left;
                        cursor: auto;
                        flex: 0 1 100%;
                        max-width: none;
                        min-width: 250px;
                        max-width: 250px;
                        // font-weight: bold;
                    }
                    &:not(:last-child) {
                        border: 1px solid transparent;
                        border-right: 1px solid #999999;
                    }
                    &:last-child {
                        border-right: 1px solid transparent;
                        font-weight: bold;
                        cursor: auto !important;
                        min-width: 40px;
                        max-width: 40px;
                    }
                }
            }

            .main-window__list-item:not(.main-window__list-item--header) span {
                &:not(:first-child) {
                    &:not(:last-child) {
                        &:hover {
                            background-color: $secondary-text-color;
                            color: $primary-text-color;
                            border-radius: 2.5px;
                            transform: scale(1.2);
                            border: 1px solid #999999;
                        }
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    transition: 0ms ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .report-table-page__tableview {
            .main-window__list {
                .main-window__list-item--header {
                    display: flex;
                }
                .main-window__list-item {
                    flex-direction: row;
                    span {
                        width: auto;
                        text-align: initial !important;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .report-table-page__employee-info {
            .report-table-page__employee-title {
            }
            .main-window__list {
                margin: 0 !important;
                margin-top: 15px !important;
            }

            .report-table-page__employee-works-wrapper {
                padding-left: 5px;
            }
        }
    }
}
