@import "../../../../../../variables.scss";

.client-categories__list {
    width: calc(100% + 30px);
    margin-left: -15px;
    .main-window__list-item {
        cursor: pointer;
    }
    @media (max-width: 768px) {
        & {
            .main-window__actions {
                display: none;
            }
        }
    }
}
