@import "../../variables.scss";
@import "../../../../../../node_modules/react-datepicker/dist/react-datepicker.css";

.main-form {
  width: 100%;
  padding: 25px 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  //full page view

  &__title {
    margin-bottom: 15px;
    font-size: 24px;
    // display: none;
    padding: 0 5px;
    text-align: center;
  }

  .main-form__img {
    transition: 100ms ease-in-out;
    &--rotated {
      transform: rotate(180deg) !important;
    }
    &--more {
      transform: rotate(-90deg) !important;
    }
  }

  .main-form__header {
    display: flex;
    // width: calc(100% - 25px);
    width: 100%;
    background-color: $secondary-text-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: -25px;
    margin-left: -30px;
    border-bottom: 1px solid #dddddd;

    .main-form__menu {
      display: flex;
      width: 100%;
    }

    .main-form__menu-item {
      width: fit-content;
      margin-right: 2.5px;
      font-size: 80%;
      padding: 10px 0px;
      // margin: 0 25px;
      margin-right: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // color: lighten($primary-text-color, 100%);
      // background-color: darken($table-primary__background, 10%);
      color: lighten($primary-text-color, 50%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: 0.2s ease-in-out;
      text-align: center;
      position: relative;
      cursor: pointer;
      &:first-child {
        // margin-left: auto;
        margin-left: 25px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        margin-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: calc(100% + 10px);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
        height: 5px;
        bottom: 0;
        left: -5px;
        background-color: transparent;
        transition: 200ms ease-in-out;
      }

      &:hover {
        color: lighten($primary-text-color, 10%);
        // background-color: darken($primary-background-color, 5%);

        &::after {
          background-color: lighten($primary-text-color, 90%);
        }
      }

      &--active {
        color: $primary-text-color;
        // color: darken($button__background--inverted, 5%);

        &:hover {
          color: lighten($primary-text-color, 30%);

          &::after {
            background-color: lighten($button__background--inverted, 10%);
          }
        }

        &::after {
          background-color: lighten($button__background--inverted, 5%);
        }
      }
    }

    &--full {
      margin: 0;
      width: calc(100% + 50px);
      margin-top: -20px;
      margin-bottom: 15px;
      flex-direction: column;

      .main-form__title {
        margin-bottom: 10px;
        font-size: 150%;
        width: 100%;
        // display: none;
        padding: 0 25px;
        padding-left: 33px;
        text-align: left;
        box-sizing: border-box;
      }

      .main-form__menu {
        margin-left: 10px;
      }
    }
  }

  .main-form__header + .main-form__form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: calc(100% - 80px);
    padding: 10px 25px;
    padding-top: 35px;

    .main-form__row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      width: calc(100% - 20px);
      // gap: 25px;

      //test
      justify-content: space-between;
      > * {
        flex: 0 1 calc(50% - 10px);
      }
    }

    .main-form__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .main-form__fieldset {
      width: calc(100% - 0px);
      margin: 10px 0;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;

      //test
      // margin-top: 0;
      // padding-top: 10px;
      // border-top: 1px solid #dddddd;
      // border-bottom: 1px solid #dddddd;
      .main-form__group-name {
        // font-weight: bold;
        text-align: left;
        width: fit-content;
        font-size: 110%;
        margin-left: 10px;
        align-self: flex-start;
        margin-bottom: 15px;
        // margin-left: 20px;
        color: #000000;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: calc(100% + 5px);
          background-color: #dddddd;
          height: 2px;
          top: calc(100% + 5px);
          left: 0;
        }
      }

      .main-form__group-content {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .main-form__item,
      .input_text,
      .input_date,
      .input_products,
      .select-client-category {
        margin-left: 0px;
      }
    }

    &--full {
      align-items: flex-start;
      .main-form__header--full {
        align-self: center;
        max-width: none !important;
      }
      .main-form__buttons--full {
        align-self: center;
      }

      .main-form__fieldset {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .main-form__group-name {
          margin-left: 0;
          margin-right: 20px;
          flex: 0 1 50%;
          box-sizing: border-box;
          max-width: 200px;

          &::after {
            display: none;
          }
        }
        .main-form__group-content {
          margin-left: 0;
          margin-top: 3px;
          flex: 0 1 100%;
        }
      }
    }

    .main-form__item {
      width: calc(100% - 20px);
      display: flex;

      //row direction
      // flex-direction: row;
      // align-items: center;
      // justify-content: space-between;
      //column direction
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      &--placeholder {
        width: 100%;
        min-height: 2rem !important;
        border: 1px solid #000000;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 10px;
        }
      }

      .main-form__input_name {
        color: lighten($primary-text-color, 40%);
        margin-bottom: 5px;
        padding-right: 10px;
        flex: 0 1 calc(20% - 10px);

        //column direction
        width: 100%;
      }

      .file-uploader {
        padding: 0;
      }

      .main-form__input_field,
      .main-form__product_img {
        display: flex;
        justify-content: center;
        width: calc(90% - 20px);

        //column direction
        width: 100%;

        .react-datepicker-wrapper {
          width: 100%;

          .react-datepicker {
            .react-datepicker__day--selected {
              background-color: $button__background--inverted !important;
            }
          }
        }
      }

      .main-form__input_field--vertical {
        flex-direction: column;
      }

      .main-form__product_img {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-start;
        img {
          // width: 100%;
          max-width: 350px;
          max-height: 350px;
          border-radius: 5px;
        }
        .main-form__submit {
          font-size: 80%;
          margin-top: 10px;
          padding: 10px 15px;
        }
      }

      .main-form__passport_img {
        justify-content: flex-start;
        width: calc(90% - 20px);
        img {
          // width: 100%;
          max-width: 500px;
          max-height: 500px;
          border-radius: 10px;
        }
      }
      input[type="text"],
      input[type="password"],
      input[type="number"],
      textarea {
        border: 1px solid #bbbbbb;
        // border: 1px solid #cccccc;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        padding: 5px 10px;
        border-radius: 3px;
        outline: none;
        height: 1.25rem;

        &:hover {
          border-color: #999999;
        }

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }

      select {
        border: 1px solid #bbbbbb;
        width: 100%;
        padding: 5px 10px;
        border-radius: 3px;
        outline: none;
        background-color: $primary-background-color;
        transition: 100ms ease-in-out;
        min-height: 2rem;

        &:hover {
          border-color: #888888;
        }

        &:focus {
          border: 1px solid $button__background--inverted;
        }
      }

      .select {
        //row direction
        // width: calc(90% - 20px);
      }
    }

    .main-form__item--hidden {
      transform: scaleY(0);
      height: 0;
      margin: 0;
    }

    .main-form__info-panel {
      width: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
      & span {
        font-size: 90%;
        margin-right: 10px;
      }
    }

    .main-form__button {
      background-color: $button__background--inverted;
      color: transparentize($secondary-text-color, 0.05);
      border-radius: 3px;
      padding: 10px 10px;
      cursor: pointer;
      font-size: 90%;
      margin-right: 10px;
      transition: 100ms ease-in-out;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      border: 1px solid transparent;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      width: fit-content;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        color: #ffffff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0px 5px rgba(0, 0, 0, 0.15);
      }

      &--inverted {
        background-color: $secondary-text-color;
        color: #333333;
        border: 1px solid #bbbbbb;

        &:hover {
          color: #000000 !important;
          background-color: $secondary-text-color;
        }
      }
    }

    .main-form__file_upload {
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px 0px;
      width: calc(90% - 20px);
      display: flex;
      font-size: 12px;
      // justify-content: space-between;
      align-items: center;
      text-align: center;

      .main-form__file_name {
        display: inline-block;
        margin-right: 10px;
        padding-bottom: 5px;
        overflow-x: hidden;
        // width: 20%;
        min-width: 20%;
        border-bottom: 1.5px solid $secondary-background-color;
      }

      .main-form__label {
        padding: 5px 10px;
        border: 1.5px solid $button__background--hover;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $button__background--hover;
          color: $secondary-text-color;
        }

        .logo {
          margin-left: 5px;
        }
      }

      input[type="file"] {
        outline: 0;
        display: none;
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
    }

    .main-form__input_hint {
      text-align: left;
      width: calc(100% - 20px);
      font-size: 80%;
      margin-bottom: 10px;
      padding: 0 10px;
      color: lighten($primary-text-color, 60%);
    }

    .main-form__submit {
      border: 1px solid transparent;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 3px;
      font-size: 80%;
      background-color: $button__background--inverted;
      color: transparentize($secondary-text-color, 0.05);
      transition: 100ms ease-in-out;
      margin-right: 10px;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;

      &:hover {
        background-color: lighten($button__background--inverted, 5%);
        color: #ffffff;
        // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0px 5px rgba(0, 0, 0, 0.15);
      }
      & .main-form__img {
        width: 25px;
        margin-right: 5px;
      }

      &--inverted {
        background-color: $secondary-text-color;
        color: #333333;
        border: 1px solid #bbbbbb;

        &:hover {
          color: #000000 !important;
          background-color: #f0f0f0;
        }
      }
    }
  }

  .main-form__input_name {
    &--row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .main-form__link {
    display: flex;
    align-items: center;
    transition: 100ms ease-in-out;
    color: #777777 !important;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 2px 8px;
    padding-right: 3px;
    margin-top: 2px;
    width: fit-content;
    margin-left: 10px;

    .main-form__img {
      width: 20px;
      transition: margin-left 200ms ease-in-out;
      path:first-child {
        transition: fill 200ms ease-in-out;
        fill: #bbbbbb;
      }
    }

    &:hover {
      color: #333333 !important;
      .main-form__img {
        margin-left: 8px;

        path:first-child {
          fill: lighten($button__background--inverted, 6%);
        }
      }
    }
  }

  .main-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 25px);
    &--vertical {
      flex-direction: column;
      .main-form__submit {
        margin: 0px;
        margin-bottom: 10px;
      }
    }
    &--full {
      width: calc(100% + 50px);
      box-sizing: border-box;
      padding: 10px 35px;
      // justify-content: flex-start;
      border-top: 1px solid #dddddd;
      margin-top: 5px;
      margin-bottom: -10px;
    }
  }
  @media (max-width: 768px) {
    padding: 25px 0;
    // padding-top: 25px;

    .main-form__header {
      &--full {
        margin-top: -10px;
        width: calc(100% + 20px);

        .main-form__title {
          margin-bottom: 5px;
          padding-left: 18px;
        }
        .main-form__menu {
          margin-left: 5px;
        }
      }

      .main-form__menu {
        width: calc(100% - 25px);
        overflow-x: auto;

        .main-form__menu-item {
          white-space: nowrap;
          margin: 0 15px;
        }
      }
    }
    .main-form__form {
      // padding: 0px;
      // padding-top: 25px;
      // padding-bottom: 20px;
      width: calc(100% - 20px) !important;
      box-sizing: border-box;
      padding: 20px 10px;
      // width: 100%;

      // min-width: 250px;
      .main-form__buttons {
        margin: 0 auto;
        width: calc(100% - 50px) !important;
        max-width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .main-form__submit {
          margin-right: 0;
          margin-bottom: 10px;
        }

        &--full {
          width: calc(100% + 20px) !important;
          max-width: none;
          margin-left: -10px;
          margin-bottom: -30px;
        }
      }
    }
    .main-form__item {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;

      .main-form__input_name {
        // flex: 0 1 100%;
        width: 100%;
      }

      select {
        padding: 10px !important;
      }

      .main-form__input_field {
        width: 100%;
        // padding: 5px 10px;

        input {
          padding: 10px 10px;
        }
      }

      .main-form__product_img {
        width: 100%;
        img {
          max-width: 400px;
          max-height: fit-content;
        }
      }

      .main-form__file_upload {
        width: 100%;
        .main-form__file_name {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .main-form__row {
      flex-direction: column;
      // width: 100%;

      > * {
        width: 100%;
      }
    }
  }

  @media (min-width: 1024px) {
    --form__max-width: 700px;
    .main-form__header {
      max-width: calc(var(--form__max-width) + 50px);
    }
    .main-form__form {
      max-width: var(--form__max-width);

      &--full {
        max-width: calc(var(--form__max-width) + 200px);

        .main-form__wrapper {
          max-width: calc(var(--form__max-width) + 200px);
        }
      }
    }
  }
}
