.employee-info {
    width: 100%;
    .employee-info__employee-wrapper {
        padding: 0 15px;
        .employee-info__employee-general {
            padding: 2.5px;
            padding-left: 0;
            margin-bottom: 25px;
            .employee-info__full-name {
                font-size: 24px;
            }
            .employee-info__workshop {
                font-size: 18px;
            }
            .employee-info__position {
                font-size: 16px;
                color: #555555;
            }
        }
        .employee-info__employee-date {
            font-size: 16px;
            width: 100%;
            margin-left: 0px;
            margin-bottom: 10px;
            color: #777777;
        }
        .employee-info__wrapper {
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #ffffff;
            padding: 10px 20px;
            padding-bottom: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
        .employee-info__list {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            // padding-left: 20px;
            font-size: 1rem;

            &-item {
                color: #555555;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    position: relative;
                    margin-left: 15px;
                    &:nth-child(1) {
                        &::before {
                            content: "";
                            background-color: #dddddd;
                            // border-radius: 999px;
                            width: 2px;
                            height: 80%;
                            position: absolute;
                            right: -10px;
                            top: 15%;
                            border-radius: 999px;
                            // top: calc(50% - 3px);
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .employee-info__employee-title {
            font-size: 20px;
            color: #333333;
            position: relative;
            text-align: left;
            width: fit-content;
            margin-bottom: 10px;

            &--date {
                font-size: 1.1rem;
                border-bottom: 1px solid #bbbbbb;

                &::after {
                    height: 2px;
                    top: calc(100% + 1px);
                    width: 100%;
                }
            }
        }

        .employee-info__employee-hours {
            padding: 3px 8px;
            border-radius: 3px;
            border: 1px solid #bbbbbb;
            background-color: #ffffff;
            margin: 10px 0;
            margin-left: 10px;
            white-space: nowrap;
            cursor: pointer;
            font-size: 80%;
        }
        .employee-info__comment {
            font-size: 0.85rem;
            margin-top: 5px;
            display: flex;
            align-items: center;

            span {
                color: #888;
                margin-right: 5px;

                &:nth-child(2) {
                    margin-right: 0;
                    color: #333;
                }
            }
        }
        .employee-info__employee-works-wrapper {
            padding: 5px 0;
            margin-bottom: 20px;

            .employee-info__employee-works-item {
                margin-top: 20px;
                &:first-child {
                    margin-top: 5px;
                }

                &:last-child {
                    .main-window__list {
                        margin-bottom: 0;
                    }
                }

                a {
                    color: #000000;
                    display: inline-block;
                    flex-direction: row;
                    align-items: center;
                    width: fit-content;
                    cursor: pointer;
                    line-height: 1.5rem;

                    &:hover {
                        text-decoration: underline;
                    }

                    .employee-info__img {
                        margin-bottom: -5px;
                        margin-left: 5px;
                        max-width: 22px;
                    }
                }

                .main-window__list {
                    max-width: 400px;
                    margin: 30px 0;
                    margin-top: 0px;
                    margin-left: 25px;
                    .main-window__list-item {
                        padding: 7.5px 10px;
                        font-size: 75%;
                        span {
                            &:nth-child(1) {
                                flex: 0 1 80%;
                            }
                            &:nth-child(2) {
                                flex: 0 1 20%;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .employee-info {
            .main-window__list {
                margin: 0 !important;
                margin-top: 15px !important;
            }

            .employee-info__employee-works-wrapper {
                padding-left: 5px;
            }
        }
    }
}
