@import "../../../../../../variables.scss";

.parts-statistic {
    width: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 15px 0;
    padding: 0px 0px;
    transition: 200ms ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 3px rgba(0, 0, 0, 0.24) !important;
    // max-width: 270px;
    margin-right: auto;
    margin-left: 15px;
    padding-bottom: 15px;

    &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 7px rgba(0, 0, 0, 0.24) !important;
    }

    .main-window__title {
        padding: 15px 0;
        cursor: pointer;
        transition: 200ms ease-in-out;
        border-radius: 5px;
        justify-content: flex-start;
        // margin-left: 25px !important;
        margin-top: 10px !important;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }

        .main-window__img {
            margin-left: 2px;
            margin-top: 3px;
        }
    }

    .main-window__header {
        margin-bottom: 0;
        transition: 200ms ease-in-out;
        // margin-top: -15px;
        cursor: pointer;
        .main-window__menu {
            width: 100%;
            transition: 200ms ease-in-out;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            box-shadow: none;
        }

        &--hidden {
            height: 0px;
            transform: scaleY(0);
            transition: 200ms ease-in-out;
            margin-top: 0;

            .main-window__menu {
                height: 0px;
                transform: scaleY(0);
                transition: 200ms ease-in-out;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow-y: auto;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        transform-origin: 50% 0;
        transition: 200ms ease-in-out;
        min-height: 100px;
        position: relative;
        background-color: $secondary-text-color;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &--hidden {
            max-height: 0px;
            min-height: 0px;
            transform: scaleY(0);
            transition: 200ms ease-in-out;
        }
    }

    .main-window__chart-wrapper {
        // background-color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
        box-shadow: none;
        padding: 10px 15px;
        min-width: 400px;
        // margin-left: 5px;
        margin: 15px 10px;
        // min-height: 100%;
        min-height: calc(250px) !important;
        // height: 1000px;
        max-height: none !important;

        .main-window__chart {
            // height: 1000px;
            max-height: none !important;
        }
    }

    .main-window__title {
        font-size: 20px;
    }

    .main-window__list {
        margin: 5px;
        max-width: 500px;
        height: fit-content;
        transition: opacity 200ms ease-in-out, right 500ms ease-in-out;
        // position: absolute;
        right: 10px;
        opacity: 1;
        &--hidden {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            // max-width: 0;
            right: 200px;
            // width: 0;
            max-height: 100px;
            overflow: hidden;
            transition: opacity 200ms ease-in-out, right 500ms ease-in-out;
        }
        .main-window__list-item {
            cursor: auto;
            span {
                &:nth-child(1) {
                    flex: 0 1 80%;
                }
                &:nth-child(2) {
                    flex: 0 1 20%;
                }
            }
        }
        .main-window__list-item:not(.main-window__list-item--header) {
            // color: #eeeeee;
            background-color: darken($secondary-text-color, 4%);
            padding: 7.5px 10px;

            &:hover {
                background-color: $button__background--inverted;
            }
        }
    }

    @media (max-width: 768px) {
        & {
            .main-window__header {
                margin-top: 0;
             }
            .parts-statistic__wrapper {
                max-height: none;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;

                &--hidden {
                    max-height: 0px;
                }

                .main-window__chart-wrapper {
                    align-self: flex-start;
                }

                .main-window__list {
                    right: 0;
                }
            }
        }
    }
}
