@import "../../variables.scss";

.main_page {
  width: 100%;
  height: 100%;
  
  &__content {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px - 0px);

    .main_page__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(#000000, 0.3);
      z-index: 98;

      &--hidden {
        transform: scale(0);
        background-color: rgba(#000000, 0);
      }
    }

    .main_page__activity_panel {
      width: 100%;
      overflow-y: auto;
      overflow-x: auto;
      background-color: #f4f8f9;

      //dark-theme
      // background-color: darken($side_menu__background, 10%);

      //old method
      // max-height: calc(100vh - 60px);
    }
  }

  @media (min-width: 1920px) {
    .main_page__activity_panel {
      font-size: 110%;
    }
  }

  @media (min-width: 1367px) {
    .main_page__overlay {
      display: none;
    }
  }
}
