@import "../../../../../variables.scss";

.record-work {
  --page-items: 2;
  --min-height: 400px;
  --item-height: 160px;
  --buttons-height: 70px;
  .main-form__form {
    overflow-x: hidden;
    min-height: 200px;
    position: relative;
    overflow-y: hidden;
    transition: 200ms ease-in-out;
    .main-form__wrapper {
      position: absolute;
      left: 20px;
      // top: 25px;
      top: 70px;
      width: calc(100% * var(--page-items) - 30px);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-self: flex-start;
      align-self: start;
      transition: 200ms ease-in-out;

      .main-form__wrapper-item {
        width: calc(100% / var(--page-items) - 45px);
        margin-right: 45px;

        .select__options {
          max-height: 120px;
        }

        .select-employee {
          margin-bottom: 10px;
        }

        .select-work-item {
          input {
            &:disabled {
              background-color: #f4f4f4;
            }
          }
        }

        .select-draft__options {
          max-height: 120px;
        }

        .main-form__buttons {
          // margin-left: 15px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    --min-height: 725px;
    --item-height: 180px;
    // --buttons-height: 150px;
    --buttons-height: 200px;

    .main-form__form {
      .main-form__title {
        font-size: 140%;
      }
      .main-form__wrapper {
        .main-form__wrapper-item {
          width: calc(100% / var(--page-items) - 10px);
          margin-right: 10px;
        }
      }
    }
  }
}
