@import "../../../variables.scss";

.requests_LEMZ {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__link {
    margin-bottom: 15px;
  }

  &__info-panel {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }

  &__amount_table {
    // align-self: flex-end;
    font-size: 75%;
    // margin-bottom: 5px;
    // margin-right: 35px;
  }

  &__button {
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    border-radius: 5px;
    padding: 2.5px 10px;
    cursor: pointer;
    font-size: 90%;
    margin-right: 10px;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  // &__table {
  //   width: calc(100% - 25px);
  //   border: 1px solid #ccc;
  //   border-collapse: collapse;

  //   .requests_LEMZ__action {
  //     cursor: pointer;
  //     text-decoration: underline;
  //   }

  //   .requests_LEMZ__sortButton {
  //     padding: 5px;
  //     cursor: pointer;
  //   }

  //   tr {
  //     background-color: #f8f8f8;
  //     border: 1px solid #ddd;
  //   }

  //   td {
  //     padding: 5px;
  //     text-align: center;
  //     border-right: 1px solid rgb(207, 207, 207);

  //     table {
  //       width: 100%;
  //     }
  //   }

  //   thead {
  //     font-size: 80%;
  //     // letter-spacing: 0.1em;
  //     // text-transform: uppercase;
  //     background-color: #c4c4c4;
  //   }
  // }

  .requests_LEMZ__table--even {
    background-color: #ebebeb;
  }

  .requests_LEMZ__table--odd {
    background-color: #f8f8f8;
  }

  .requests_LEMZ__table--status_not_ready {
    background-color: red;
  }

  .requests_LEMZ__table--status_in_progress {
    background-color: yellow;
  }

  .requests_LEMZ__table--status_ready {
    background-color: green;
  }

  .requests_LEMZ__table--status_shipped {
    background-color: #f8f8f8;
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 1220px) {
  }
}
