//white color pallete
$white: #ffffff;
$light20-grey: #eaeaec;
$light40-grey: #d2d2d4;
$light60-grey: #d8d8d8;
$light80-grey: #c5c5c5;
$light100-grey: #bbbbbb;
$black: #000000;

$brand-color: #e30235;

$lemzColor: #1b4e6b;
$lepsariColor: #5c63a2;
$ligovskiyColor: #c068a8;
$officeColor: #ec7176;

$accent-color--light: #f8f1f1;
$accent-color--contrast: #16c79a;
$main-color: #4293b6;
$main-color--dark: #19456b;

$primary-text-color: $black;
$secondary-text-color: $white;
$secondary-background-color: $light20-grey;
$side_menu__background: #313a46;
$table-primary__background: $light40-grey;
$primary-background-color: $white;
$button__background: $white;
$button__background--inverted: $main-color;
