@import "../../../../variables.scss";

.widget {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background-color: $secondary-text-color;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 9px 26px;
    padding-top: 15px;
    min-width: 300px;
    max-width: 600px;
    max-height: 360px;
    margin-bottom: 15px;
    margin-right: 15px;

    &--mini {
        max-width: none;
        height: fit-content;
        max-height: calc(33.33vh - 62px);

        .widget__content {
            height: fit-content;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.25rem;
        position: relative;
        margin-bottom: 5px;
        width: 100%;

        .widget__sub-title {
            font-size: 0.9rem;
            color: #444;
        }

        > a {
            color: #333;
            margin-right: auto;
            transition: 100ms ease-in-out;
            font-weight: 500;

            &:hover {
                color: #bbb;
            }
        }

        > span {
            display: flex;
            align-items: center;
            margin-right: auto;
            font-weight: 500;
            .main-window__img {
                filter: none !important;
            }
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
        padding-right: 4px;

        &,
        * {
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #f9f9f9;
            }

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 10px;
                background-color: #f9f9f9;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: #ddd;
            }
        }
    }

    @media (max-width: 1350px) {
        max-width: 500px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        padding: 15px 20px;
        padding-bottom: 10px;
    }

    @media (max-width: 500px) {
        // padding-bottom: 50px;
        max-height: calc(360px + 50px);
        &__title {
            margin-top: 2px;
            position: initial;
            .main-window__button {
                position: absolute;
                margin-top: 0;
                // font-size: 0.8rem;
                // padding: 2.5px 10px;
                bottom: 9px;
                left: 20px;
            }
        }
    }
}
