@import "../../../../variables.scss";

.notifications {
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        .notifications__list-item {
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            margin-bottom: 5px;
            border-radius: 3px;
            box-sizing: border-box;
            padding: 5px 15px;
            padding-right: 30px;
            position: relative;
            transition: 100ms ease-in-out;

            border: 1px solid #dddddd;

            &--unread {
                &::after {
                    position: absolute;
                    right: 10px;
                    top: calc(50% - 6px);
                    content: "";
                    background-color: $button__background--inverted;
                    border-radius: 999px;
                    width: 12px;
                    height: 12px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                background-color: #efefef;
            }

            .notifications__list-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;

                div {
                    cursor: pointer;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:nth-child(2) {
                        color: #777777;
                        font-size: 0.95rem;
                    }
                }
                &:hover {
                    div:nth-child(1) {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
