@import "../../variables.scss";

.main-window {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-window__title {
    // margin-bottom: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    padding: 0 5px;
  }

  .main-window__link {
    // margin-bottom: 15px;
    transition: 100ms ease-in-out;
    color: darken($button__background--inverted, 5%);
    text-decoration: underline;
  }

  .main-window__header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .main-window__menu {
      display: flex;
      // flex: 0 1 80%;
      // width: 100%;
      width: calc(100% - 25px);
      // align-self: flex-end;
      background-color: $secondary-text-color;
      // border-bottom-left-radius: 5px;
      // border-bottom-right-radius: 5px;
      margin-bottom: 0px;

      .main-window__item {
        // width: 100%;
        width: fit-content;
        margin-right: 2.5px;
        font-size: 80%;
        padding: 10px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // color: lighten($primary-text-color, 100%);
        // background-color: darken($table-primary__background, 10%);
        color: lighten($primary-text-color, 50%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        text-align: center;
        &:first-child {
          // margin-left: auto;
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          margin: 0;
        }

        &::after {
          content: "";
          position: absolute;
          width: calc(100% - 50px);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 2.5px;
          border-bottom-right-radius: 2.5px;
          height: 5px;
          bottom: 0;
          left: 25px;
          background-color: transparent;
          transition: 200ms ease-in-out;
        }

        &:hover {
          color: lighten($primary-text-color, 10%);
          // background-color: darken($primary-background-color, 5%);

          &::after {
            background-color: lighten($primary-text-color, 90%);
          }
        }

        &--active {
          color: $primary-text-color !important;
          // color: darken($button__background--inverted, 5%);
          background-color: $primary-background-color;

          &:hover {
            color: lighten($primary-text-color, 15%);

            &::after {
              background-color: lighten($button__background--inverted, 10%);
            }
          }

          &::after {
            background-color: lighten($button__background--inverted, 5%);
          }
        }
      }
    }
  }

  .main-window__img {
    width: 20px;
    // filter: brightness(5);

    &--rotated {
      transition: transform 100ms ease-in-out;
      transform: rotate(180deg) !important;
    }
  }

  .main-window__info-panel .main-window__img {
    width: 25px;
    margin-right: 5px;
    filter: invert(1);
  }

  .main-window__mobile-text {
    display: none;
  }

  &__filter-pick {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 90%;
    width: calc(100% - 50px);
    margin-bottom: 10px;
    flex-wrap: wrap;
    div:first-child {
      color: #666666;
      font-size: 90%;
      margin-right: 10px;
    }

    .main-window__button {
      font-size: 75%;
      padding: 5px 10px;
    }
    .main-window__button--inverted {
      color: #666666;
    }
  }

  .main-window__addButton {
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    width: 20px;
    max-height: 20px;
    margin-left: 10px;
    padding: 3px 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
    }
  }
  .main-window__addButton--text {
    width: fit-content;
    padding: 5px 10px;
  }

  .main-window__header .main-window__title {
    margin: 0;
  }
  .main-window__header .main-window__button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__control-panel {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__info-panel {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    .main-window__filter-pick {
      padding-left: 0;
    }

    .main-window__status-panel {
      padding-left: 0 !important;
    }
  }

  &__amount_table {
    font-size: 75%;
    white-space: nowrap;
  }

  &__reminder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c23e3e;
    color: #eeeeee;
    border-radius: 5px;
    padding: 0px 2.5px;
    font-size: 90%;

    div {
      &:nth-child(1) {
        font-size: 26px;
      }
      &:nth-child(2) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__button {
    background-color: $button__background--inverted;
    color: $secondary-text-color;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 90%;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    text-align: center;
    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      background-color: lighten($button__background--inverted, 5%);
      color: #ffffff !important;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    }
  }

  &__button--inverted {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 1px solid $button__background--inverted;

    .main-window__img,
    .button__img {
      filter: brightness(1) !important;
    }

    &:hover {
      color: $secondary-text-color;
    }
  }

  &__list {
    width: calc(100% - 30px);
    position: relative;
    // padding: 0 15px;
  }
  &__list-item,
  &__list-options {
    padding: 5px 10px;
    border: 1px solid $button__background--inverted;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 100ms ease-in-out;
    background-color: $white;
    color: $primary-text-color;
    font-size: 90%;
    border-radius: 0px;
    margin-top: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #aaaaaa;
    &:nth-child(2) {
      margin-top: 0;
      border-top-left-radius: 2.5px;
      border-top-right-radius: 2.5px;
    }
    &--even {
      background-color: #ffffff;
    }
    &--odd {
      background-color: #eeeeee;
    }
    &:last-child {
      border-bottom-left-radius: 2.5px;
      border-bottom-right-radius: 2.5px;
    }
    &:hover {
      color: $secondary-text-color;
      background-color: lighten($button__background--inverted, 5%);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);

      .main-window__link {
        color: #ffffff;
      }

      .main-window__actions .main-window__action {
        color: $secondary-text-color;
      }
    }
    &:hover .main-window__action {
      // background-color: $white;
      // color: $primary-text-color;
      .main-window__img {
        filter: brightness(3);
      }

      &:hover {
        // border: 1px solid $white;
        // background-color: $button__background--inverted;
        // color: $secondary-text-color;
        .main-window__img {
          // transform: scale(1.1);
          filter: brightness(2.4);
        }
      }
    }
  }

  .main-window__list-item span,
  .main-window__list-options span {
    flex: 0 1 20%;
    align-items: center;
    // text-align: center;
    padding: 0px 5px;
    &:first-child {
      text-align: left;
    }
  }
  .main-window__list-item--header {
    border: 1px solid transparent;
    background-color: transparent;
    margin-bottom: 0;
    cursor: auto;
    color: #555555;
    font-size: 85%;
    &:hover {
      color: #555555;
      background-color: transparent;
      box-shadow: none;
    }
    span:first-of-type {
      // text-align: center;
    }
  }
  .main-window__list-options {
    transform-origin: 0 0;
    transform: scaleY(1);
    // height: 1px;
    min-height: 25px;
    // height: ;
    overflow-y: hidden;
    // background-color: #dddddd;
    // background-color: darken(#ffffff, 4%);
    // border: 1px solid $button__background--inverted;
    // border-top-color: transparent;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    background-color: #dddddd;
    // background-color: transparent;
    padding: 10px 10px;
    // margin-bottom: 10px;
    transition: 100ms ease-in-out;
    // box-shadow: none;
    // border: none;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.6);

    &:hover {
      background-color: #dddddd;
      color: $primary-text-color;
      .main-window__action {
        .main-window__img {
          filter: brightness(1);
        }
      }
    }
  }
  .main-window__list-options--hidden {
    padding: 0;
    transform: scaleY(0);
    min-height: 0;
    height: 0;
    margin-bottom: 0;
  }
  .main-window__list-options .main-window__list-item {
    // border: 1px solid transparent;
    // background-color: transparent;
    // border-radius: 0;
    // margin: 0;
    padding: 15px 10px;
    cursor: auto;
    &:hover {
      // background-color: transparent;
      // background-color: darken(#eeeeee, 5%);
      // color: $primary-text-color;
      // box-shadow: none;
      .main-window__action {
        .main-window__img {
          filter: brightness(3);
        }
      }
    }
  }
  .main-window__sort-panel {
    display: flex;
    width: calc(100% - 50px);
    margin-bottom: 5px;
    font-size: 80%;
    color: #666666;
    align-items: center;
    & span {
      margin-right: 5px;
    }
    & select {
      outline: none;
      border-radius: 5px;
      min-width: 100px;
      // padding: 2.5px 5px;
      padding: 5px 5px;
      width: fit-content !important;
      border-color: #bbbbbb;
      // color: #444444;

      option {
        color: #777777;
      }

      option:checked {
        color: #000000 !important;
      }
    }
  }
  .main-window__status-panel {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    font-size: 80%;
    flex-wrap: wrap;
    padding: 5px 0px;
    padding-right: 10px;
    color: #666666;
    margin-bottom: 5px;
    div:first-child {
      margin-right: 10px;
    }
    .main-window__button {
      // margin-left: 10px;
      margin-right: 10px;
      padding-left: 20px;
      padding: 5px 10px 5px 20px;
      position: relative;
      font-size: 90%;
      margin-top: 5px;
      &:last-child {
        margin-right: 0;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 5px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #cccccc;
      }
    }

    .main-window__button--inverted {
      color: #555555;
    }
  }
  .main-window__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: center;
    min-width: 110px;
    flex: 0 1 10%;
    text-align: center;
  }
  .main-window__action {
    text-decoration: underline;
    text-align: center;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
    color: $primary-text-color;
    // color: $secondary-text-color;
    font-size: 90%;
    cursor: pointer;
    //---
    padding: 5px;
    margin-bottom: 0;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    transform: scale(1);
    // color: $button__background--inverted;

    .main-window__img {
      width: 22.5px !important;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .main-window__list-item {
    &--divider {
      background-color: #cccccc;
      // background-color: transparent;
      position: relative;
      border: none;
      height: 3px;
      margin: 20px auto;
      padding: 0;
      justify-content: center;
      border-radius: 5px;
      width: 95%;

      &:hover {
        box-shadow: none;
        color: $primary-text-color;
      }

      span {
        // width: 100%;
        // flex: 0 1 fit-content;
        display: flex;
        flex-direction: row;
        max-width: fit-content;
        text-align: center !important;
        // background-color: rgba($button__background--inverted, 0.9);
        background-color: $secondary-text-color;
        // border: 1px solid $button__background--inverted;
        border: 1px solid #999999;
        color: #444444;
        // color: $secondary-text-color;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 200ms ease-in-out;
        font-size: 100%;
        width: fit-content !important;
        margin-bottom: 0 !important;
        white-space: nowrap;
        padding-right: 0;

        .main-window__img {
          margin-right: 2.5px;
          margin-left: 2.5px;
        }
      }
    }

    &--message {
      margin-bottom: calc(1.5rem + 18px);
      position: relative;
      &::after {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        top: 100%;
        left: 0px;
        width: calc(100% - 40px - 2px);
        height: 1.5rem;
        padding: 5px 5px;
        padding-left: 35px;
        content: "";
        // border-bottom-left-radius: 5px;
        // border-bottom-right-radius: 5px;
      }
    }

    &--warning {
      &::after {
        color: #927437;
        background: #f7f4d6 url("../../../../../../assets/tableview/warning-outlined.svg") no-repeat 5px 0.25rem;
        background-size: 25px 25px;
        border: 1px solid #d3d1aa;
        content: attr(data-msg);
      }
    }

    &--error {
      &::after {
        color: #af4e4b;
        background: #edc8c5 url("../../../../../../assets/tableview/error_icon.svg") no-repeat 5px 0.25rem;
        background-size: 25px 25px;
        border: 1px solid #b08f8f;
        content: attr(data-msg);
      }
    }
    &--info {
      &::after {
        color: #5980a1;
        background: #cde9f7 url("../../../../../../assets/tableview/info-circle-outlined.svg") no-repeat 5px 0.25rem;
        background-size: 25px 25px;
        border: 1px solid #9bb9cc;
        content: attr(data-msg);
      }
    }
  }

  .main-window__list-item--date-divider {
    background-color: #cccccc;
    // background-color: transparent;
    position: relative;
    border: none;
    height: 2px;
    margin: 25px auto;
    margin-left: 10px;
    padding: 0;
    // justify-content: center;
    border-radius: 5px;
    width: 90%;

    &:hover {
      box-shadow: none;
      color: $primary-text-color;
    }

    span {
      // width: 100%;
      // flex: 0 1 fit-content;
      display: flex;
      flex-direction: row;
      max-width: fit-content;
      text-align: center !important;
      // background-color: rgba(255, 255, 255, 0.85);
      background-color: rgba($button__background--inverted, 0.9);
      color: $secondary-text-color;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 12px;
      width: fit-content !important;
      margin-bottom: 0 !important;

      .checkbox {
        margin-left: 5px;
      }
    }
  }

  &__chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    max-width: 570px;
    // max-height: 230px;
    background-color: $secondary-text-color;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    position: relative;
    min-height: 250px;
    max-height: 320px;
    margin: 15px 0;
    transition: 200ms ease-in-out;
    .main-window__chart {
      height: 100%;
      min-height: 225px;
      transition: 200ms ease-in-out;
      max-height: 300px;
    }
  }

  .main-window__pagination {
    margin: 10px 0;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    // width: fit-content;
    margin-left: auto;
    // margin-right: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: calc(100% - 30px);
    .main-window__page-number {
      border: 1px solid #666666;
      border-radius: 5px;
      margin-right: 5px;
      margin-top: 5px;
      padding: 5px 15px;
      background-color: $secondary-text-color;
      color: #666666;
      transition: 200ms ease-in-out;
      cursor: pointer;
      min-width: 50px;
      box-sizing: border-box;
      text-align: center;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #eeeeee;
        background-color: darken(#12abca, 5%);
      }
    }
    .main-window__page-number--active {
      color: #dddddd;
      background-color: #12abca;
    }

    .main-window__page-number--skip {
      // color: #222222;
      color: #1c5c69;
      padding: 5px 25px;
    }

    span {
      border-radius: 5px;
      margin-right: 5px;
      margin-top: 5px;
      padding: 5px 15px;
    }
  }

  @media (max-width: 768px) {
    &__reminder {
      padding: 0 5px;

      div:first-child {
        font-size: 22px;
      }
    }

    &__filter-pick {
      div:first-child {
        margin-top: 5px;
      }
      .main-window__button {
        margin-top: 5px;
      }
    }
    &__info-panel {
      flex-direction: column;
      .main-window__filter-pick {
        width: 100%;
      }
      .main-window__status-panel {
        width: 100%;
      }
    }
    .main-window__sort-panel {
      select {
        padding: 2.5px 2.5px !important;
      }
    }
    &__amount_table {
      margin-top: 5px;
      margin-left: auto;
    }

    .main-window__header {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 0;
      .main-window__title {
        margin-bottom: 5px;
      }
      .main-window__button {
        margin-bottom: 5px;
      }
      .main-window__menu {
        width: calc(100% - 25px);
        overflow-x: auto;

        .main-window__item {
          // flex-direction: column;
          // justify-content: space-between;
          padding: 10px 25px;
          // width: 100%;
          white-space: nowrap;
          // margin-right: 10px !important;
          // text-align: center !important;

          // .main-window__addButton {
          //   margin: 0;
          //   margin-top: 5px;
          // }

          &::after {
            left: 5px;
            width: calc(100% - 10px);
          }
        }
      }
    }

    .main-window__list-item--header {
      display: none;
    }
    .main-window__mobile-text {
      display: block;
      text-align: left;
      margin-right: 5px;
    }
    .main-window__list-item {
      flex-direction: column;
    }
    .main-window__list-options {
      height: fit-content;
      // min-height: 50px;
    }
    .main-window__list-options--hidden {
      height: 0;
    }
    .main-window__list-item span,
    .main-window__list-options span {
      flex: 0 1 100%;
      width: 100%;
      text-align: right !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    .main-window__actions {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      max-width: none !important;

      .main-window__img {
        width: 25px;
      }
    }
    .main-window__action {
      font-size: 90%;
      margin-bottom: 0;
      margin-right: 5px;
    }

    .main-window__list-item {
      &--divider {
        margin: 35px auto;
        span {
          width: fit-content;
          white-space: normal;
          text-align: center !important;
        }
      }

      &--message {
        margin-bottom: 60px;
        &::after {
          min-height: 30px;
          height: fit-content;
          // padding-top: 8px;
          font-size: 90%;
          background-position: 5px 8px;
        }
      }
    }

    .main-window__pagination {
      justify-content: center;
      // .main-window__page-number {
      //   padding: 5px 10px;
      //   min-width: 40px;
      //   margin-right: 2.5px;
      // }
      // span {
      //   padding: 5px 5px;
      //   margin-right: 2.5px;
      // }
      // .main-window__page-number--skip {
      //   width: 100%;
      //   margin: 10px 0;
      // }
      .main-window__page-number--active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // min-width: 100px;

        .main-window__mobile-text {
          margin-left: 2.5px;
          margin-right: 0;
        }
      }
      .main-window__page-number:not(.main-window__page-number--active):not(.main-window__page-number--skip),
      span {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    .main-window__header {
      .main-window__menu {
        .main-window__item {
          // padding: 10px 5px;
        }
      }
    }
  }
}
