@import "../../variables.scss";

.sidemenu {
  font-size: 82%;
  width: 230px;
  max-height: calc(100vh - 70px + 5px);
  // padding: 5px 0 0 0;
  padding: 5px 0 0 0;
  transform-origin: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  // transition: 0.2s ease-in-out;
  background-color: $side_menu__background;
  color: $primary-text-color;
  // overflow-y: auto;
  // overflow-x: hidden;

  z-index: 999; //test
  position: relative;

  //new method
  position: sticky;
  top: 60px;

  .sidemenu__add-buttons {
    display: flex;
    flex-direction: column;
    min-height: 36px;
    // justify-content: center;
    align-items: center;
    // transition: 0.2s ease-in-out;
    // margin: 3px 0;
    width: 100%;
    // margin-top: 2px;
  }

  &__item,
  &__item--add {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 5px;
    // transition: 0.2s ease-in-out;
    width: 90%;
    font-size: 100%;
    // border-radius: 5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    white-space: nowrap;
    margin-right: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 3px;
      height: 100%;
      background-color: transparent;

      //testing
      width: 5px;
    }

    .sidemenu__img {
      min-width: 25px;
      // height: 25px;
      filter: brightness(1.8);
      // transition: 200ms ease-in-out;

      path:first-child {
        fill: #6e7b8c77;
      }

      &--price {
        path:nth-child(1) {
          fill: transparent;
          stroke: #6e7b8c77;
        }
        path:nth-child(2) {
          fill: #6e7b8c77;
        }
      }

      &--request {
        g {
          fill: #6e7b8c77;
        }
      }

      &--employees {
        g {
          fill: #6e7b8c77;
        }
      }
    }

    .sidemenu__img--bigger {
      // width: 25px;
      // height: 30px;
    }

    &:hover {
      //testing
      // background-color: darken($side_menu__background, 5%);
      --hover-icon-fill: #6e7b8cdd;
      .sidemenu__img {
        path:first-child {
          fill: var(--hover-icon-fill);
        }

        &--price {
          path:first-child {
            fill: transparent;
            stroke: var(--hover-icon-fill);
          }
        }

        &--employees {
          g {
            fill: var(--hover-icon-fill);
          }
        }

        &--factory {
          path:first-child {
            fill: var(--hover-icon-fill);
          }
          path:nth-child(2) {
            fill: var(--hover-icon-fill);
          }
        }

        &--request {
          g {
            fill: var(--hover-icon-fill);
          }
        }
      }
      .sidemenu__img--icon {
        // transform: scale(1.1);
      }
      .sidemenu__link {
        span {
          //testing
          // color: #b0c0d4 !important;
          color: #eeeeee !important;
        }
      }
    }

    &--active {
      //testing
      // background-color: $button__background--inverted;

      &::before {
        //testing
        // background-color: $secondary-text-color;
        background-color: $button__background--inverted;
      }

      & .sidemenu__img {
        filter: brightness(3);

        path:first-child {
          fill: #6e7b8cff;
        }

        &--price {
          path:first-child {
            fill: transparent;
            stroke: #6e7b8cff;
          }
        }

        &--request {
          g {
            fill: #6e7b8cff;
          }
        }

        &--employees {
          g {
            fill: #6e7b8cff;
          }
        }

        &--factory {
          path:nth-child(2) {
            fill: #6e7b8cff;
          }
        }
      }

      .sidemenu__link {
        color: $secondary-text-color !important;
      }

      & .sidemenu__addButton {
        // background-color: lighten($button__background--inverted, 5%) !important;

        .sidemenu__img {
          path:first-child {
            // fill: #ffffff;
            fill: #ffffffff !important;
          }
        }
      }

      &:hover {
        //testing
        // background-color: darken($button__background--inverted, 5%);
        .sidemenu__link {
          span {
            color: #ffffff !important;
          }
        }
      }
    }

    .sidemenu__img--icon {
      transition: filter 0.5s;
      // transition: transform 200ms ease-in-out;
      transform: translate3d(-1px, -1px, 0);
      border: solid 1px transparent;
      border-width: 1px 0 0 1px;
      padding-right: 5px;
    }

    &--add {
      // width: 50%;
      // width: fit-content;
      // text-align: left;
      text-align: center;
      width: 100%;
      max-width: calc(100% - 40px);
      font-size: 90%;
      padding: 7.5px 10px;
      justify-content: center;
      background-color: $button__background--inverted;
      cursor: pointer;
      color: $secondary-text-color;
      // white-space: nowrap;
      transform-origin: 0 0;
      // transition: 0.2s ease-in-out;
      margin-bottom: 0;
      margin-right: 0;
      border-radius: 2.5px;

      // .sidemenu__img {
      //   // margin-left: 5px;
      //   // filter: brightness(5);
      // }

      span {
        width: 100%;
      }

      &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
        background-color: lighten($button__background--inverted, 5%);
      }
    }

    &--hidden {
      transform: scaleY(0);
      height: 0;
      padding: 0;
      margin: 0;
    }

    .sidemenu__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $primary-text-color;
      padding: 6px 5px;
      overflow: hidden;
      padding-left: 0;
      // width: 100%;
      font-size: 100%;
      width: calc(100% - 25px);
      // text-align: center;
      // color: #8391a2;
      color: #8a9cad;
      // transition: 0.2s ease-in-out;

      & .sidemenu__img {
        // width: 25px;
        margin-right: 10px;
        // transition: 0.1s ease-in-out;
      }

      span {
        transform-origin: left;
        font-size: 105%;
        // transition: 200ms ease-in-out;
      }
    }

    .sidemenu__addButton {
      color: $secondary-text-color;
      font-size: 25px;
      // margin-left: 10px;
      padding: 1px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      transition: filter 0.5s ease-in-out;
      transform: translate3d(-1px, -1px, 0);
      border: solid 1px transparent;
      // border-width: 1px 0 0 1px;
      // border-radius: 999px;
      // background-color: $secondary-text-color;
      // transition: all 100ms ease-in-out;

      // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
      // background-color: $button__background--inverted;

      &:hover {
        // background-color: lighten($button__background--inverted, 5%);
        // border: 1px solid #b0c0d4;
        .sidemenu__img {
          margin: 0;
          padding: 0;
          path:first-child {
            // fill: #ffffff;
            fill: #ffffffff;
          }
        }
      }

      .sidemenu__img {
        min-width: 20px;
        max-width: 20px;
        // filter: brightness(3);
        path:first-child {
          // fill: #ffffff;
          fill: #ffffff99;
        }
        // transition: 0.2s ease-in-out;
      }
    }
  }

  .sidemenu__item,
  .sidemenu__item--active {
    .sidemenu__img:first-of-type {
      // filter: brightness(5);
    }
  }

  .sidemenu__item:nth-of-type(n + 1) {
    // word-break: break-word;
    min-width: 200px;
    max-width: 200px;
    white-space: normal;
  }

  .sidemenu__dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 0px);
    left: 0px;
    left: 100%;
    top: 0;
    width: calc(100% - 10px);
    transform: scaleY(0);
    transform-origin: 0 0%;
    border-radius: 5px;
    padding: 5px;
    transition: 100ms ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
    background-color: lighten($side_menu__background, 5%);
    z-index: 9999;
    .sidemenu__item {
      max-width: 100% !important;
      width: 100%;
      padding: 0 0px;
      border-radius: 5px;
      &::before {
        display: none;
      }
      &:hover {
        .sidemenu__img--icon {
          transform: scale(1.1);
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    .sidemenu__link {
      padding-left: 10px;
      width: calc(100%);
      color: #dddddd;
    }
  }

  .sidemenu__item {
    position: relative;
  }

  // .sidemenu__item:focus-within .sidemenu__dropdown-menu {
  //   transform: scaleY(1);
  // }

  .sidemenu__item:hover > .sidemenu__dropdown-menu {
    transform: scaleY(1);
  }

  &--hidden {
    // background-color: $side_menu__background;
    // width: 0;
    // transform: scaleX(0);
    // width: 50px;
    // border: 0;
    width: fit-content;
    // transition: 0.2s ease-in-out;
    align-items: flex-start;
    // padding: 0px 0px 0px 0px;

    .sidemenu__add-buttons {
      display: flex;
      flex-direction: column;
      // min-height: 40px;
      width: 0;
      min-height: 0;
      height: 0;
      // justify-content: center;
      align-items: center;

      .sidemenu__item--add {
        transform: scale(0);
      }
    }

    .sidemenu__item {
      // transition: 0.2s ease-in-out;
      width: 100%;
      padding: 0 5px;
      box-sizing: border-box;
      min-width: 0 !important;
      max-width: 60px !important;
      margin-right: 0;
      // position: static;

      &:nth-of-type(n + 1) {
        // word-break: break-word;
        min-width: 200px;
        max-width: 200px;
        white-space: normal;
      }

      &--active {
        // transform: scaleX(0);
      }

      .sidemenu__link {
        min-width: 50px;
        max-width: 50px;
        width: 100%;
        padding-right: 0;
        justify-content: center;
        span {
          // display: none;
          max-width: 0;
          white-space: nowrap;
          transform: scaleX(0);
        }

        .sidemenu__img {
          // transition: 0.2s ease-in-out;
          margin-right: 0;
          padding-right: 0;
          width: 25px;
          margin-left: -1px;

          &--bigger {
            width: 30px;
            height: 30px;
          }
        }
      }

      &--add {
        // transition: 0.2s ease-in-out;
      }
    }

    & .sidemenu__dropdown-menu {
      display: none;
    }

    .sidemenu__addButton {
      transform: scale(0);
      max-width: 0;

      .sidemenu__img {
        transform: scale(0);
      }
      // display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
  }

  @media (prefers-color-scheme: light) {
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 1366px) {
    .sidemenu__add-buttons {
      min-height: 35px;
      // display: none;
      .sidemenu__item--add:not(.sidemenu__item--hidden) {
        // padding: 5px 10px;
      }
    }
    .sidemenu__item {
      .sidemenu__link {
        padding: 6px 5px;
      }
    }
    & {
      position: fixed;
      left: 0;
      height: 100%;
      z-index: 99;
      width: 225px;
      overflow-y: auto;
      overflow-x: hidden;

      &--hidden {
        width: 0;
        left: -200px;
      }

      .sidemenu__dropdown-menu {
        top: calc(100% + 0px);
        left: 0px;
      }
    }
  }

  @media (min-width: 1920px) {
    // font-size: 90%;

    // .sidemenu__link {
    //   padding: 8px 2.5px;
    // }
  }
}
