@import "../../../../variables.scss";

.main-page-workspace {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 10px;
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 15px;
  box-sizing: border-box;
  display: flex;

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    overflow-x: auto;

    &--vertical {
      flex-direction: column;
      align-items: flex-start;

      .main-window__link {
      }
    }

    .main-window__button {
      &--big {
        padding: 10px 20px;
        margin-right: 10px;
        .button__text {
          font-size: 1rem;
          .button__text-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            white-space: nowrap;

            .button__text--sub {
              font-size: 0.8rem;
              color: rgba(#ddd, 0.9);
            }
          }
        }
      }

      &--inverted {
        .button__text {
          .button__text-group {
            .button__text--sub {
              color: rgba(#999, 0.9);
            }
          }
        }
      }
    }
  }

  &__columns {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, calc(35% - 10px)) calc(30% - 10px);
    grid-template-areas: "left middle right";
    grid-auto-rows: minmax(min-content, max-content);
    flex-wrap: wrap;
    width: 100%;
    column-gap: 15px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    row-gap: 15px;
    margin-bottom: 15px;

    .widget {
      width: 100%;
      box-sizing: border-box;
      max-width: Min(calc(50% - 15px), 800px);
      margin-bottom: 0;
    }

    .graph-widget {
      max-height: 380px;
    }
    &--horizontal {
      flex-direction: column;
      width: 100%;
      min-width: 500px;
      // max-width: calc(35% - 15px);
      .widget {
        width: 100%;
        margin-right: 0;
        max-width: Min(100%, 700px);
      }

      &:nth-child(1) {
        grid-area: left;
      }
      &:nth-child(2) {
        grid-area: middle;
      }
    }
    &--vertical {
      flex-direction: column;
      grid-area: right;
      // max-width: 30%;
      .widget {
        margin-right: 0;
        max-width: none;
      }
    }
  }

  @media (max-width: 1800px) {
    &__columns {
      grid-template-columns: repeat(2, calc(50% - 7.5px));
      grid-template-areas:
        "left right"
        "middle middle";
    }

    &__row {
      &--horizontal:nth-child(2) {
        max-width: Min(100%, 700px);
      }
    }
  }

  @media (max-width: 1366px) {
    &__columns {
      grid-template-areas:
        "left right"
        "middle middle";
    }
  }

  @media (max-width: 1300px) {
    &__row {
      &--horizontal {
        min-width: 0;
      }
    }
  }

  @media (max-width: 1200px) {
    &__columns {
      flex-direction: column;
    }

    &__row {
      width: 100%;
      max-width: none;
      &--horizontal {
        display: flex;
        flex-direction: column;
        min-width: 0;

        .widget {
          min-width: 300px;
          max-width: Max(100%, 280px);
          margin-bottom: 0px;
        }

        &:nth-child(2) {
          .widget {
            max-width: Min(100%, 700px);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__columns {
      display: flex;
      flex-direction: column;
    }

    &__row {
      width: 100%;
      max-width: none;
      &--horizontal {
        display: flex;
        flex-direction: column;
        min-width: 0 !important;
        max-width: none !important;

        .widget {
          min-width: 300px;
          max-width: Max(100%, 280px) !important;
          margin-bottom: 0px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    padding: 0;
  }
}
