@import "../../../../variables.scss";

.main-page-workspace {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 10px;
  padding: 0 10px;
  padding-left: 12px;
  box-sizing: border-box;
  display: flex;

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
    overflow-x: auto;

    &--vertical {
      flex-direction: column;
      align-items: flex-start;

      .main-window__link {
      }
    }

    .main-window__button {
      &--big {
        padding: 15px 20px;
        margin-right: 10px;
        .button__text {
          font-size: 1rem;
          .button__text-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            white-space: nowrap;

            .button__text--sub {
              font-size: 0.8rem;
              color: rgba(#ddd, 0.9);
            }
          }
        }
      }

      &--inverted {
        .button__text {
          .button__text-group {
            .button__text--sub {
              color: rgba(#999, 0.9);
            }
          }
        }
      }
    }
  }

  &__row {
    width: 100%;
    .widget {
      width: 100%;
      box-sizing: border-box;
      max-width: Min(calc(50% - 15px), 800px);
    }
    &--horizontal {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      grid-auto-rows: minmax(min-content, max-content);
      row-gap: 15px;
      column-gap: 15px;
      flex-wrap: wrap;

      width: calc(70% - 15px);
      margin-right: 15px;
      .widget {
        width: 100%;
        min-width: 450px;
        margin-right: 0;
        margin-bottom: 0;
        max-width: Min(100%, 700px);
      }
    }
    &--vertical {
      display: flex;
      flex-direction: column;
      width: 30%;
      .widget {
        margin-right: 0;
        max-width: none;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;

    &__row {
      width: 100%;
      &--horizontal {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 0;
        column-gap: 0;

        .widget {
          min-width: 300px;
          max-width: Max(100%, 280px);
          margin-bottom: 15px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    padding: 0;
  }
}
