@import "../../../../variables.scss";

.select-work-item {
  width: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-bottom: 25px;
  &--new {
    .select-work-item__input_name {
      position: absolute;
      top: -11px;
      left: 6px;
      z-index: 1;
      font-size: 0.8rem !important;
      background-color: #ffffff;
      width: fit-content !important;
      padding: 2px 5px;
    }

    input {
      max-width: none !important;
      min-width: 0 !important;
    }
  }

  .searchbar {
    margin-bottom: 0;
  }

  .select-work-item__input {
    display: flex;
    width: calc(100% - 0px);
    // flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    position: relative;

    //column direction
    flex-direction: column;
    align-items: flex-start;

    .select-work-item__input_name {
      color: lighten($primary-text-color, 40%);
      font-size: 1rem;
      flex: 0 1 20%;

      //column direction
      width: 100%;
      margin-bottom: 0px;
    }
    .select-work-item__input_field {
      // width: calc(80% - 0px);

      //column direction
      width: 100%;
      font-size: 0.85rem !important;
    }
  }

  .select-work-item__error {
    width: 80%;
    align-self: flex-end;
    margin-top: 1px;
    font-size: 0.75rem;
    // position: absolute;
    // top: 2rem;
    background-color: #f73434;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &--hidden {
      display: none;
    }
  }

  .select-work-item__searchbar {
    display: flex;
    flex-direction: row;
    position: relative;
    width: calc(100% - 0px);
    margin-top: 5px;
    .select-work-item__input {
      border: 1px solid #bbbbbb;
      flex: 0 1 100%;
      padding: 5px 10px;
      border-radius: 3px;
      // border-top-left-radius: 5px !important;
      // border-bottom-left-radius: 5px !important;
      z-index: 0;
      min-width: 0 !important;

      &:focus {
        border: 1px solid $button__background--inverted;
      }

      &--error {
        border: 1px solid #f73434 !important;
      }
    }
  }

  .main-form__button {
    font-size: 0.8rem;
  }

  @media (max-width: 768px) {
    .select-work-item__input {
      flex-wrap: wrap;
      flex-direction: column;

      .select-work-item__input_name {
        width: 100%;
        margin-bottom: 5px;
      }
      .select-work-item__input_field {
        width: 100%;
      }
    }
  }
}
