@import "../../../../variables.scss";

.workshop-orders {
  --ordered: #3ecaca;
  --completed: #399639;
  --sent: #bdbd41;
  --problem: #c23737;
  
  .control-panel {
    margin-top: -10px;
    border-top: 1px solid #dddddd;
    width: calc(100% + 25px);
    margin-bottom: 10px;

    .main-window__control-panel-wrapper {
      .main-window__info-panel {
        margin-bottom: 0;
      }

      .main-window__status-panel {
        margin-bottom: 0;
      }
    }
  }

  .main-window__status-panel {
    .main-window__button {
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 5px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #cccccc;
      }
    }

    .main-window__list-item--ordered::before {
      background-color: var(--ordered);
    }
    .main-window__list-item--sent::before {
      background-color: var(--sent);
    }
    .main-window__list-item--completed::before {
      background-color: var(--completed);
    }

    .main-window__list-item--problem::before {
      background-color: var(--problem);
    }

    .main-window__button--inverted {
      color: #555555;
    }
  }
  .main-window {
    .main-window__list {
      .main-window__list-item {
        padding-left: 25px;
        position: relative;

        &:not(.main-window__list-item--header) {
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 10px;
            // height: calc(100% - 2px);
            height: calc(100% + 1px);
            left: 0px;
            // border-top-right-radius: 2.5px;
            // border-bottom-right-radius: 2.5px;
            background-color: #cccccc;
          }
          &:nth-child(2) {
            &::before {
              border-top-left-radius: 2.5px;
            }
          }
          &:last-child {
            &::before {
              border-bottom-left-radius: 2.5px;
            }
          }
        }
        &:not(.main-window__list-item--header) span:nth-child(5) {
          align-self: stretch;
          display: flex;
          flex-direction: row;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 10px;
            // height: calc(100% - 2px);
            height: 30px;
            top: calc(50% - 15px);
            border-radius: 5px;
            left: 0px;
            // border-top-right-radius: 2.5px;
            // border-bottom-right-radius: 2.5px;
            background-color: #cccccc;
            background-color: #cccccc;
          }
        }
        .main-window__list-col {
          display: flex;
          flex-direction: column;

          .workshop-orders__products {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            div {
              &:nth-child(1) {
                margin-right: 10px;
              }
              &:nth-child(2) {
                font-size: 90%;
                font-style: italic;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        span {
          &:nth-child(1) {
            flex: 0 1 10%;
            max-width: 80px;
          }
          &:nth-child(3) {
            flex: 0 1 30%;
          }
          &:nth-child(4) {
            flex: 0 1 15%;
            font-size: 90%;
          }
          &:nth-child(5) {
            flex: 0 1 10%;
            font-size: 90%;
            max-width: 100px;
            position: relative;
            padding-left: 20px;
          }
          &:nth-child(6) {
            max-width: 100px;
            margin-right: 10px;
          }
        }

        .main-window__actions {
          flex-direction: row;
        }
      }

      .main-window__list-item--ordered:not(.main-window__list-item--header)::before {
        background-color: var(--ordered) !important;
      }
      .main-window__list-item--sent:not(.main-window__list-item--header)::before {
        background-color: var(--sent) !important;
      }
      .main-window__list-item--completed:not(.main-window__list-item--header)::before {
        background-color: var(--completed) !important;
      }
      .main-window__list-item--problem:not(.main-window__list-item--header)::before {
        background-color: var(--problem) !important;
      }
    }
  }

  @media (max-width: 768px) {
    .main-window__info-panel {
      flex-direction: column;

      .main-window__amount_table {
        width: 100%;
        text-align: right;
      }
    }
    .main-window__list {
      .main-window__list-item {
        span {
          &:nth-child(1) {
            max-width: 100% !important;
          }
          &:nth-child(3) {
            .main-window__list-col {
              align-items: flex-end;
            }
          }
          &:nth-child(4) {
            font-size: 100% !important;
          }
          &:nth-child(5) {
            // width: calc(100% - 15px);
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 20px;
            font-size: 100% !important;
            width: calc(100% - 15px);
            &::before {
              // top: calc(50% - 10px);
              top: calc(50% - 10px) !important;
              height: 20px !important;
              // height: calc(100% - 10px) !important;
              border-radius: 5px !important;
              left: auto !important;
              right: 5px;
            }
          }
          &:nth-child(6) {
            max-width: 100% !important;
            margin-right: 0 !important;
          }
        }
      }

      .main-window__list-item:not(.main-window__list-item--header)::before {
        top: 0px;
        height: calc(100% - 0px) !important;
      }
    }
  }
}
