@import "../../../variables.scss";

.button {
  background-color: $button__background--inverted;
  color: $secondary-text-color;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 90%;
  margin-right: 10px;
  transition: 100ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  outline: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;

  &:hover {
    background-color: lighten($button__background--inverted, 5%);
  }

  .button__circle {
    display: block;
    position: absolute;
    top: calc(50% - (22px / 2));
    left: calc(50% - (20px / 2));
    height: 15px;
    width: 15px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-top: 4px solid #eeeeeedd;
    border-radius: 999px;
    transition: 200ms ease-in-out;
    -webkit-animation: spin2 1s infinite linear;
    animation: spin2 1s infinite linear;
  }

  &--inverted {
    background-color: $secondary-text-color;
    border: 1px solid #bbbbbb;
    color: #444444;

    &__img {
      max-width: 20px;
      margin-right: 5px;
      filter: brightness(1) invert(0);
    }

    .button__circle {
      border: 4px rgba(100, 100, 100, 0.5) solid;
      border-top: 4px #666666 solid;
    }

    &:hover {
      color: #000000 !important;
      background-color: #f0f0f0;

      .button__circle {
        border: 4px rgba(100, 100, 100, 0.7) solid;
        border-top: 4px #555555 solid;
      }
    }
  }

  &__text {
    &--hidden {
      visibility: hidden;
    }
  }

  &__img {
    max-width: 20px;
    margin-right: 5px;
    filter: brightness(3) invert(1);
    &--hidden {
      visibility: hidden;
    }
  }

  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}
