@import "../../../variables.scss";

.button {
  background-color: $button__background--inverted;
  color: $secondary-text-color;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 90%;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  outline: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;

  &:hover {
    background-color: lighten($button__background--inverted, 5%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.22), 0 0px 5px rgba(0, 0, 0, 0.24);
  }

  &--inverted {
    background-color: $secondary-text-color;
    color: $primary-text-color;
    border: 1px solid $button__background--inverted;

    &__img {
      max-width: 20px;
      margin-right: 5px;
      filter: brightness(1) invert(0);
    }

    &:hover {
      color: $secondary-text-color;
    }

    .button__circle {
      border: 4px rgba(100, 100, 100, 0.5) solid !important;
      border-top: 4px #666666 solid !important;
    }
  }

  &__text {
    &--hidden {
      visibility: hidden;
    }
  }

  &__img {
    max-width: 20px;
    margin-right: 5px;
    filter: brightness(3) invert(1);
    &--hidden {
      visibility: hidden;
    }
  }

  .button__circle {
    display: block;
    position: absolute;
    top: calc(50% - (22px / 2));
    left: calc(50% - (20px / 2));
    height: 15px;
    width: 15px;
    // margin: -25px 0 0 -25px;
    border: 4px rgba(255, 255, 255, 0.5) solid;
    border-top: 4px #eeeeee solid;
    border-radius: 999px;
    -webkit-animation: spin2 1s infinite linear;
    animation: spin2 1s infinite linear;
  }

  @-webkit-keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes spin2 {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}
